[2018-08-31 12:15] Popolechien opened #366 "Assess English WikiMed actual size"
The assessment page of the WikiProject Medicine indicates [42'990 articles within the project](https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Medicine/Assessment#Statistics), yet the Wikimed zim file apparently has 52'123.

Considering both counts are supposedly automated, what could explain this discrepancy?

[2018-09-02 08:42] kelson42 commented on #350
@ISNIT0 It would be really great if you could have a look to this regression. This stops us the use the newest version of mwoffliner locally (so we keep an old parsoid for all non-wikimedia wikis).

[2018-09-03 06:43] Popolechien commented on #365
It's a different one apparently. Says user: "It's a different wiki, installgentoo
is a wiki that covers almost all GNU/Linux distributions that's based
off of the "Install Gentoo" meme.

The Gentoo wiki (https://wiki.gentoo.org/wiki/Main_Page), is
exclusively for Gentoo and is essential to installing Gentoo."

[2018-09-03 12:50] amirh123123 opened #367 "zim of libgen.io"
libgen.io

[2018-09-03 12:51] Popolechien commented on #367
Yeah... definitely not under free license. Sorry.

[2018-09-03 12:51] #367 closed

[2018-09-03 15:11] ISNIT0 commented on #350
I'll take a look this evening

[2018-09-03 16:05] Popolechien opened #368 "make a zim of wikiwel.com"
Permission was granted via email.

[2018-09-03 19:03] ISNIT0 commented on #350
@cscott
Looks like there is an issue (or maybe it's deliberate) in Parsoid.
When no `logging` or `metrics` config is passed to `parsoid.apiServiceWorker`, something internal breaks because of a lack of `options.name`.

[2018-09-04 05:56] Popolechien opened #371 "Make a zim of Appropedia.org"
Address is http://www.appropedia.org/ and the site is under CC-by-SA

[2018-09-04 05:59] Popolechien opened #372 "Make a zim of Hackteria"
Address is http://hackteria.org/ and the wiki is under CC-by license.

[2018-09-04 16:00] kelson42 commented on #350
@ISNIT0 Are you sure your patch works, for me the following command fails:
[code]

The errors look like:
[code]

[2018-09-04 17:48] arlolra commented on #350
That API is expected to be used in conjunction with service-runner,
https://github.com/wikimedia/service-runner

Your best bet, based on,
https://github.com/wikimedia/parsoid/blob/master/lib/index.js#L34-L56

would be to set `parent` so that default behaviour is overridden,

[code]

[2018-09-04 19:27] ISNIT0 commented on #350
It's working for me, I get a lot of files downloaded.
I think @arlolra's suggestion is best, so I'll implement that.

[2018-09-07 19:56] cscott commented on #350
I believe @arlolra is looking at this, he may have made some changes recently that may be involved.

[2018-09-09 08:58] kelson42 commented on #350
@ISNIT0 To me unfortunately it still fails (same command as given before)... Error seem to be similar... but not sur

[code]

[2018-09-10 14:51] arlolra commented on #350
This is because you're requesting a version of Parsoid that it is no longer backwards compatible.

https://github.com/openzim/mwoffliner/blob/ae97ec288aee0664f5de365d6f41b3bd2ce10837/lib/Downloader.js#L38

Unfortunately, `1.6.x` should have been `2.x` because it's semantically different, but we messed up on semver.  See https://github.com/wikimedia/parsoid/commit/9c8a72faafc40d407b2d85c6ac5c38baf1

[2018-09-10 20:01] Jaifroid commented on #164
Sorry to come back to this issue, but I notice a discrepancy between two recent ZIMs which might be pertinent in solving this:

`wikipedia_en_all_novid_2018-06.zim`, from June, *does* contain the TeX alt-text of maths equations, and all articles such as 'Sine', 'Wilson-Cowan Model' or 'Trigonometric Functions' render the multiple equations correctly in MathJax.

However, `wikipedia_en_medicine_nov

[2018-09-11 15:35] kelson42 commented on #164
@Jaifroid I do not remember to have change anything related to that recently in mwoffliner... Like written before, this only impact ZIM files with the "mobile layout".

[2018-09-12 09:02] amirh123123 opened #373 "zim of marinespecies.org/"
marinespecies.org/

[2018-09-12 15:12] kelson42 commented on #350
@arlolra Thx even if I not sure finally which value should be put in `Downloader.js`.
@ISNIT0 Have you all the information you need to fix the pb?

[2018-09-12 17:06] ISNIT0 commented on #350
I'm not sure yet - I think I'll need to play with it a bit to know.

[2018-09-14 08:50] amirh123123 opened #374 "zim of glosbe"
glosbe.com

[2018-09-14 10:50] amirh123123 opened #375 "zim of dictionary.abadis.ir/"
dictionary.abadis.ir/

[2018-09-14 10:52] amirh123123 opened #376 "zim of ganjoor.net/"
ganjoor.net/

[2018-09-16 08:31] Jaifroid commented on #142
Hmm, an Encyclopaedia of Medicine should contain, for example, articles that pertain to the History of Medicine as well as information about institutions such as the FDA. Would the above exclusions remove those  -- e.g., by removing History of Science, would we also remove some articles relating to the History of Medicine?

If the criteria for inclusion/exclusion are not the same as those defined

[2018-09-16 12:05] Popolechien commented on #142
The criteria for exclusion were suggested by members of WikiProject Medicine itself.
The target end user persona is a medical practicioner or student with 100Mb of storage on his/her phone, so storage is central to the issue.

[2018-09-16 12:15] Jaifroid commented on #142
OK, thanks for the explanation, @Popolechien . So would these exclusions only be applied to the `nopic_nodet` versions of WikiMed ZIMs in English (the only ones that are currently under 100MB)?

[2018-09-16 20:08] kelson42 commented on #142
Done https://github.com/kiwix/maintenance/commit/5f6519563518d9e393692c70d2d0257eff555437

[2018-09-16 20:27] kelson42 commented on #253
I reported a bug here about this https://phabricator.wikimedia.org/T51076 and it seems it has been implemented, should verify if it really works.

[2018-09-16 20:29] kelson42 commented on #285
There were test/old ZIM file we do not maintain.

[2018-09-16 20:29] #285 closed

[2018-09-16 20:32] kelson42 commented on #249
@Popolechien done https://github.com/kiwix/maintenance/commit/3fe289626ff57d16fde3574740eca17def3f1503

[2018-09-16 20:32] #249 closed

[2018-09-16 20:50] kelson42 commented on #358
I think I have fixed most of the problem https://github.com/kiwix/maintenance/commit/b24bbdbbbfcbd63db35863304c9331d2a6e38672

[2018-09-16 20:50] #358 closed

[2018-09-17 07:45] ISNIT0 commented on #350
This exception is not a bug in MWOffliner.
The wiki being scraped (`wiki.installgentoo.com`) uses non-standard `wiki` and `api` paths.
The error disappears when the following arguments are added:
`--mwWikiPath="/" --mwApiPath="api.php"`

[2018-09-17 07:48] ISNIT0 commented on #264
What is the value of `WIKIBOOKS_ARGS`? Also, I found that using multiple `--formats` doesn't actually pass multiple values to the code, I used `--formats=nopic,nozim` instead

[2018-09-17 08:26] kelson42 commented on #211
[code]

[2018-09-17 08:26] #211 closed

[2018-09-17 08:44] kelson42 commented on #253
@Popolechien So, I have verified that we can have a solution for this long standing problem, and we do have one. Please do something similar to this https://fr.wikipedia.org/w/index.php?title=Utilisateur:Popo_le_Chien/Kiwix&type=revision&diff=152256190&oldid=130399118&diffmode=source to all custom main page you maintain and the problem will vanish.

[2018-09-17 09:19] Popolechien commented on #253
okie dokie.

[2018-09-17 09:19] #253 closed

[2018-09-17 09:28] Jaifroid commented on #142
OK, thanks. No problem -- I get the need to make the article selection fit on low-powered devices, especially in developing countries, and WikiMed keeps expanding.

[2018-09-17 09:34] ISNIT0 commented on #350
The solution was to use the most recently published version of Parsoid (0.8.1)

[2018-09-17 09:34] #350 closed

[2018-09-17 09:35] kelson42 commented on #264
[code]

[2018-09-17 09:37] #335 closed

[2018-09-17 09:37] kelson42 commented on #335
Please reopen the ticket if needed, that time I'll try to look more quickly.

[2018-09-17 09:49] ISNIT0 commented on #264
I can't reproduce this locally - do we think the issue has gone now?

[2018-09-17 09:55] kelson42 commented on #62
@ISNIT0 We should be able now to close that one, you confirm?

[2018-09-17 10:07] kelson42 commented on #264
@ISNIT0 You probably right, currently running a test. I'll reopen it if it still fails.

[2018-09-17 10:07] #264 closed

[2018-09-17 12:03] kelson42 commented on #347
Trying again with the last version of mwoffliner and got that error
[code]

[2018-09-17 12:32] kelson42 commented on #368
Tried but got that error
[code]

[2018-09-17 12:42] kelson42 commented on #21
Here was my command:
[code]

and I got the following error
[code]

[2018-09-17 12:49] kelson42 commented on #232
The URL is dead.

[2018-09-17 12:51] kelson42 commented on #346
Seems impossible with current code base,
[code]

[code]

[2018-09-17 14:40] kelson42 commented on #368
I still need to make the ZIM :)

[2018-09-17 14:53] kelson42 opened #379 "First page of Rationalwiki ZIM as __NOTITLE__"
It seems that Parsoid is not really able to deal with `__NOTITLE__` tag properly.

[2018-09-17 14:58] kelson42 commented on #379
@subbuss @cscott @arlolra I might have you already aksed in the past but can not find trace of it. Is that a bug of Parsoid? Or should we be able to identify the type of node and remove it?

[2018-09-17 15:28] kelson42 commented on #169
@subbuss I just checked https://rationalwiki.org/wiki/Special:Version. They use a version of November 2017... so definitely not really old.

[2018-09-17 15:34] kelson42 commented on #368
done https://download.kiwix.org/zim/other/wikiwel_en_all_2018-09.zim

[2018-09-17 15:34] #368 closed

[2018-09-17 15:38] kelson42 commented on #365
@ISNIT0 Fails like following

[code]

[2018-09-17 15:42] Popolechien commented on #346
Well Wikimania is over so we don't need it anymore. Closing the ticket, Probably reopening in Spring 2019.

[2018-09-17 15:42] #346 closed

[2018-09-17 15:55] kelson42 commented on #363
`mwoffliner --mwUrl="http://cyclowiki.org" --adminEmail="kelson@kiwix.com" --localParsoid --verbose`

dies with

[code]

[2018-09-17 18:16] arlolra commented on #169
Prior to https://github.com/wikimedia/mediawiki-extensions-NoTitle/commit/1cf4475470da6fe0c1f62550e6ba869797eb3a74 the magicword isn't exposed in the siteinfo.

Get rationalwiki to update their version of the extension.

[2018-09-17 20:54] Jaifroid commented on #261
Sorry to revive an old issue, but I like @Popolechien's idea here. Ray Charles is getting long in the tooth. It is useful for developers only (for standardized testing, and devs could continue to use it), but not very meaningful for end-users of the Kiwix app unless they happen to be Jazz fans. Plain (non-packaged) versions of the Kiwix app would be more enticing if they had a demo ZIM with the ki

[2018-09-17 21:03] Jaifroid commented on #182
Just a quick update to note that I'm still getting this error on recent ZIMs. Example below is from `wikipedia_en_maths_novid_2018-06.zim`, article "Series (mathematics)". I realize we may well be waiting on a change in Parsoid, but it would be good to prevent this issue from being put on the back burner...

![image](https://user-images.githubusercontent.com/4304337/45650113-2c56a680-bac5-11e8-945

[2018-09-17 21:24] Jaifroid opened #380 "Move requests for ZIMs to a separate issues tracker and decide criteria for making themed ZIMs of Wikipedia"
This issue tracker is getting flooded with requests for specific ZIMs, and they are drowning out the issues that relate to problems in mwoffliner. I realize there is a tagging mechanism, so that they can in principle be filtered out, but I wonder if it might be better to have a separate issue list for ZIM requests on the openzim GitHub? Just a thought!

Related to this, I note lots of requests for

[2018-09-17 22:13] arlolra commented on #350
The default for Parsoid `0.9.0` is `1.6.1`, so try with that.  But, as stated above, depending on what you do with the output, you may need special handling for the new section wrapping.

Not sure how that's a solution, since it just updates some dependencies for `0.8.0` because of security advisories.  You'll want to tackle this sooner or later, to continue tracking Parsoid releases.

[2018-09-18 01:52] sharun-s opened #381 "In the Ray Charles zim, ogg audio file shows up inside an img tag"
In the Ray Charles zim (wikipedia_en_ray_charles_2015-06.zim) the Eleanor Rigby article references an ogg audio file inside an <img> tag
`<img src="../I/m/Beatles_eleanor_rigby.ogg" data-file-width="" data-file-height="" data-file-type="audio" >
`
Fix:
When audio file references are detected they should ideally be turned into something like
`<audio preload='none' controls><source src='...'></audio

[2018-09-18 08:12] kelson42 commented on #354
@ISNIT0 I tried but the process failed with the folloging error:
[code]

[2018-09-18 08:27] kelson42 commented on #277
ON the top of that meta uses intensively the translation pages, something MWoffliner is not thought to deal with.

[2018-09-18 09:23] #380 closed, assigned to kelson42

[2018-09-18 09:36] kelson42 commented on #376
This issue was moved to openzim/zim-requests#1

[2018-09-18 09:36] #376 closed

[2018-09-18 09:36] kelson42 commented on #375
This issue was moved to openzim/zim-requests#2

[2018-09-18 09:36] #375 closed

[2018-09-18 09:36] kelson42 commented on #374
This issue was moved to openzim/zim-requests#3

[2018-09-18 09:36] #374 closed

[2018-09-18 09:37] kelson42 commented on #373
This issue was moved to openzim/zim-requests#4

[2018-09-18 09:37] #373 closed

[2018-09-18 09:37] kelson42 commented on #371
This issue was moved to openzim/zim-requests#5

[2018-09-18 09:37] #371 closed

[2018-09-18 09:37] kelson42 commented on #372
This issue was moved to openzim/zim-requests#6

[2018-09-18 09:37] #372 closed

[2018-09-18 09:37] kelson42 commented on #365
This issue was moved to openzim/zim-requests#7

[2018-09-18 09:37] #365 closed

[2018-09-18 09:37] kelson42 commented on #364
This issue was moved to openzim/zim-requests#8

[2018-09-18 09:37] #364 closed

[2018-09-18 09:39] ISNIT0 commented on #363
No logoUrl is returned by the api for this site (http://cyclowiki.org/w/api.php?action=query&meta=siteinfo&format=json)

What should be done in this situation?
Use a placeholder?

[2018-09-18 09:41] kelson42 commented on #363
@ISNIT0 It should stop with a proper error msg inviting to use `--customZimFavicon`

[2018-09-18 09:42] kelson42 commented on #363
This issue was moved to openzim/zim-requests#9

[2018-09-18 09:42] #363 closed

[2018-09-18 09:43] kelson42 commented on #362
This issue was moved to openzim/zim-requests#10

[2018-09-18 09:43] #362 closed

[2018-09-18 09:43] kelson42 commented on #357
This issue was moved to openzim/zim-requests#11

[2018-09-18 09:43] #357 closed

[2018-09-18 09:43] kelson42 commented on #330
This issue was moved to openzim/zim-requests#12

[2018-09-18 09:43] #330 closed

[2018-09-18 09:43] kelson42 commented on #318
This issue was moved to openzim/zim-requests#13

[2018-09-18 09:43] #318 closed

[2018-09-18 09:44] kelson42 commented on #314
This issue was moved to openzim/zim-requests#14

[2018-09-18 09:44] #314 closed

[2018-09-18 09:45] kelson42 commented on #309
This issue was moved to openzim/zim-requests#15

[2018-09-18 09:45] #309 closed

[2018-09-18 09:45] kelson42 commented on #308
This issue was moved to openzim/zim-requests#16

[2018-09-18 09:45] #308 closed

[2018-09-18 09:45] kelson42 commented on #310
This issue was moved to openzim/zim-requests#17

[2018-09-18 09:45] #310 closed

[2018-09-18 09:46] kelson42 commented on #306
This issue was moved to openzim/zim-requests#18

[2018-09-18 09:46] #306 closed

[2018-09-18 09:46] kelson42 commented on #307
This issue was moved to openzim/zim-requests#19

[2018-09-18 09:46] #307 closed

[2018-09-18 09:47] ISNIT0 opened #383 "Code Style Guide"
After speaking with @kelson42 and @bradyhunsaker we agreed that this project would benefit from some simple code style rules.

AirBnB has some pretty comprehensive and inoffensive guidelines here: https://github.com/airbnb/javascript

I propose we use the AirBnB guidelines and re-visit if needs be.

# A summary of the AirBnB guidelines:
## Code Rules
### Prefer `const` to `let`
### Prefer `let` to

[2018-09-18 09:49] ISNIT0 commented on #354
This looks like a similar issue to #363

[2018-09-18 09:52] kelson42 commented on #305
This issue was moved to openzim/zim-requests#20

[2018-09-18 09:52] #305 closed

[2018-09-18 09:52] kelson42 commented on #311
This issue was moved to openzim/zim-requests#21

[2018-09-18 09:52] #311 closed

[2018-09-18 09:52] kelson42 commented on #312
This issue was moved to openzim/zim-requests#22

[2018-09-18 09:52] #312 closed

[2018-09-18 09:53] kelson42 commented on #302
This issue was moved to openzim/zim-requests#23

[2018-09-18 09:53] #302 closed

[2018-09-18 09:53] kelson42 commented on #303
This issue was moved to openzim/zim-requests#24

[2018-09-18 09:53] #303 closed

[2018-09-18 09:53] kelson42 commented on #304
This issue was moved to openzim/zim-requests#25

[2018-09-18 09:53] #304 closed

[2018-09-18 09:53] kelson42 commented on #300
This issue was moved to openzim/zim-requests#26

[2018-09-18 09:53] #300 closed

[2018-09-18 09:53] kelson42 commented on #301
This issue was moved to openzim/zim-requests#27

[2018-09-18 09:53] #301 closed

[2018-09-18 09:54] kelson42 commented on #296
This issue was moved to openzim/zim-requests#28

[2018-09-18 09:54] #296 closed

[2018-09-18 09:54] kelson42 commented on #297
This issue was moved to openzim/zim-requests#29

[2018-09-18 09:54] #297 closed

[2018-09-18 09:54] kelson42 commented on #298
This issue was moved to openzim/zim-requests#30

[2018-09-18 09:54] #298 closed

[2018-09-18 09:55] kelson42 commented on #293
This issue was moved to openzim/zim-requests#31

[2018-09-18 09:55] #293 closed

[2018-09-18 09:55] kelson42 commented on #294
This issue was moved to openzim/zim-requests#32

[2018-09-18 09:55] #294 closed

[2018-09-18 09:55] ISNIT0 commented on #354
This is the same issue as #363

[2018-09-18 09:55] kelson42 commented on #295
This issue was moved to openzim/zim-requests#33

[2018-09-18 09:55] #295 closed

[2018-09-18 09:55] kelson42 commented on #290
This issue was moved to openzim/zim-requests#34

[2018-09-18 09:55] #290 closed

[2018-09-18 09:55] kelson42 commented on #291
This issue was moved to openzim/zim-requests#35

[2018-09-18 09:56] #291 closed

[2018-09-18 09:57] kelson42 commented on #289
This issue was moved to openzim/zim-requests#36

[2018-09-18 09:57] #289 closed

[2018-09-18 09:57] kelson42 commented on #292
This issue was moved to openzim/zim-requests#37

[2018-09-18 09:57] #292 closed

[2018-09-18 09:58] kelson42 commented on #313
This issue was moved to openzim/zim-requests#38

[2018-09-18 09:58] #313 closed

[2018-09-18 09:58] kelson42 commented on #315
This issue was moved to openzim/zim-requests#39

[2018-09-18 09:58] #315 closed

[2018-09-18 09:58] kelson42 commented on #316
This issue was moved to openzim/zim-requests#40

[2018-09-18 09:58] #316 closed

[2018-09-18 09:58] kelson42 commented on #317
This issue was moved to openzim/zim-requests#41

[2018-09-18 09:58] #317 closed

[2018-09-18 09:58] kelson42 commented on #318
This issue was moved to openzim/zim-requests#42

[2018-09-18 09:58] kelson42 commented on #319
This issue was moved to openzim/zim-requests#43

[2018-09-18 09:58] #319 closed

[2018-09-18 09:58] kelson42 commented on #320
This issue was moved to openzim/zim-requests#44

[2018-09-18 09:58] #320 closed

[2018-09-18 09:59] kelson42 commented on #321
This issue was moved to openzim/zim-requests#45

[2018-09-18 09:59] #321 closed

[2018-09-18 09:59] kelson42 commented on #322
This issue was moved to openzim/zim-requests#46

[2018-09-18 09:59] #322 closed

[2018-09-18 09:59] kelson42 commented on #267
This issue was moved to openzim/zim-requests#47

[2018-09-18 09:59] #267 closed

[2018-09-18 10:00] kelson42 commented on #268
This issue was moved to openzim/zim-requests#48

[2018-09-18 10:00] #268 closed

[2018-09-18 10:00] kelson42 commented on #269
This issue was moved to openzim/zim-requests#49

[2018-09-18 10:00] #269 closed

[2018-09-18 10:00] kelson42 commented on #270
This issue was moved to openzim/zim-requests#50

[2018-09-18 10:00] #270 closed

[2018-09-18 10:00] kelson42 commented on #271
This issue was moved to openzim/zim-requests#51

[2018-09-18 10:00] #271 closed

[2018-09-18 10:00] kelson42 commented on #272
This issue was moved to openzim/zim-requests#52

[2018-09-18 10:00] #272 closed

[2018-09-18 10:01] kelson42 commented on #183
This issue was moved to openzim/zim-requests#53

[2018-09-18 10:01] #183 closed

[2018-09-18 10:03] kelson42 commented on #327
This issue was moved to openzim/zim-requests#54

[2018-09-18 10:03] #327 closed

[2018-09-18 10:03] kelson42 commented on #286
This issue was moved to openzim/zim-requests#55

[2018-09-18 10:03] #286 closed

[2018-09-18 10:04] kelson42 commented on #200
This issue was moved to openzim/zim-requests#56

[2018-09-18 10:04] #200 closed

[2018-09-18 10:04] kelson42 commented on #201
This issue was moved to openzim/zim-requests#57

[2018-09-18 10:04] #201 closed

[2018-09-18 10:04] kelson42 commented on #202
This issue was moved to openzim/zim-requests#58

[2018-09-18 10:04] #202 closed

[2018-09-18 10:04] kelson42 commented on #206
This issue was moved to openzim/zim-requests#59

[2018-09-18 10:04] #206 closed

[2018-09-18 10:04] kelson42 commented on #207
This issue was moved to openzim/zim-requests#60

[2018-09-18 10:04] #207 closed

[2018-09-18 10:04] kelson42 commented on #209
This issue was moved to openzim/zim-requests#61

[2018-09-18 10:04] #209 closed

[2018-09-18 10:04] kelson42 commented on #193
This issue was moved to openzim/zim-requests#62

[2018-09-18 10:05] #193 closed

[2018-09-18 10:05] kelson42 commented on #194
This issue was moved to openzim/zim-requests#63

[2018-09-18 10:05] #194 closed

[2018-09-18 10:05] kelson42 commented on #195
This issue was moved to openzim/zim-requests#64

[2018-09-18 10:05] #195 closed

[2018-09-18 10:05] kelson42 commented on #196
This issue was moved to openzim/zim-requests#65

[2018-09-18 10:05] #196 closed

[2018-09-18 10:05] kelson42 commented on #197
This issue was moved to openzim/zim-requests#66

[2018-09-18 10:05] #197 closed

[2018-09-18 10:05] kelson42 commented on #198
This issue was moved to openzim/zim-requests#67

[2018-09-18 10:05] #198 closed

[2018-09-18 10:05] kelson42 commented on #216
This issue was moved to openzim/zim-requests#68

[2018-09-18 10:05] #216 closed

[2018-09-18 10:05] kelson42 commented on #223
This issue was moved to openzim/zim-requests#69

[2018-09-18 10:05] #223 closed

[2018-09-18 10:06] kelson42 commented on #228
This issue was moved to openzim/zim-requests#70

[2018-09-18 10:06] #228 closed

[2018-09-18 10:06] kelson42 commented on #231
This issue was moved to openzim/zim-requests#71

[2018-09-18 10:06] #231 closed

[2018-09-18 10:07] kelson42 commented on #232
This issue was moved to openzim/zim-requests#72

[2018-09-18 10:07] #232 closed

[2018-09-18 10:07] kelson42 commented on #233
This issue was moved to openzim/zim-requests#73

[2018-09-18 10:07] #233 closed

[2018-09-18 10:07] kelson42 commented on #234
This issue was moved to openzim/zim-requests#74

[2018-09-18 10:07] #234 closed

[2018-09-18 10:07] kelson42 commented on #235
This issue was moved to openzim/zim-requests#75

[2018-09-18 10:07] #235 closed

[2018-09-18 10:08] kelson42 commented on #236
This issue was moved to openzim/zim-requests#76

[2018-09-18 10:08] #236 closed

[2018-09-18 10:08] kelson42 commented on #237
This issue was moved to openzim/zim-requests#77

[2018-09-18 10:08] #237 closed

[2018-09-18 10:08] kelson42 commented on #238
This issue was moved to openzim/zim-requests#78

[2018-09-18 10:08] #238 closed

[2018-09-18 10:08] kelson42 commented on #239
This issue was moved to openzim/zim-requests#79

[2018-09-18 10:08] #239 closed

[2018-09-18 10:08] kelson42 commented on #241
This issue was moved to openzim/zim-requests#80

[2018-09-18 10:08] #241 closed

[2018-09-18 10:08] kelson42 commented on #242
This issue was moved to openzim/zim-requests#81

[2018-09-18 10:09] kelson42 commented on #243
This issue was moved to openzim/zim-requests#82

[2018-09-18 10:09] #243 closed

[2018-09-18 10:09] kelson42 commented on #244
This issue was moved to openzim/zim-requests#83

[2018-09-18 10:09] #244 closed

[2018-09-18 10:09] kelson42 commented on #245
This issue was moved to openzim/zim-requests#84

[2018-09-18 10:09] #245 closed

[2018-09-18 10:09] kelson42 commented on #246
This issue was moved to openzim/zim-requests#85

[2018-09-18 10:09] #246 closed

[2018-09-18 10:09] kelson42 commented on #240
This issue was moved to openzim/zim-requests#86

[2018-09-18 10:09] #240 closed

[2018-09-18 10:10] kelson42 commented on #261
This issue was moved to openzim/zim-requests#87

[2018-09-18 10:10] #261 closed

[2018-09-18 10:10] kelson42 commented on #188
This issue was moved to openzim/zim-requests#88

[2018-09-18 10:10] #188 closed

[2018-09-18 10:11] kelson42 commented on #187
This issue was moved to openzim/zim-requests#89

[2018-09-18 10:11] #187 closed

[2018-09-18 10:12] kelson42 commented on #93
This issue was moved to openzim/zim-requests#90

[2018-09-18 10:12] #93 closed

[2018-09-18 10:12] kelson42 commented on #94
This issue was moved to openzim/zim-requests#91

[2018-09-18 10:12] #94 closed

[2018-09-18 10:12] kelson42 commented on #91
This issue was moved to openzim/zim-requests#92

[2018-09-18 10:12] #91 closed

[2018-09-18 10:13] kelson42 commented on #92
This issue was moved to openzim/zim-requests#93

[2018-09-18 10:13] #92 closed

[2018-09-18 10:14] kelson42 commented on #67
This issue was moved to openzim/zim-requests#94

[2018-09-18 10:14] #67 closed

[2018-09-18 10:16] kelson42 commented on #139
This issue was moved to openzim/zim-requests#95

[2018-09-18 10:16] #139 closed

[2018-09-18 10:16] kelson42 commented on #122
This issue was moved to openzim/zim-requests#96

[2018-09-18 10:16] #122 closed

[2018-09-18 10:16] kelson42 commented on #97
This issue was moved to openzim/zim-requests#97

[2018-09-18 10:16] #97 closed

[2018-09-18 10:16] kelson42 commented on #86
This issue was moved to openzim/zim-requests#98

[2018-09-18 10:16] #86 closed

[2018-09-18 10:17] kelson42 commented on #29
This issue was moved to openzim/zim-requests#99

[2018-09-18 10:17] #29 closed

[2018-09-18 10:17] kelson42 commented on #21
This issue was moved to openzim/zim-requests#100

[2018-09-18 10:17] #21 closed

[2018-09-18 11:04] bradyhunsaker commented on #383
Airbnb Style looks good to me.  It appears to be widely used by other organizations and is in fact the first search result for me in a Google search for "javascript style guide", which is evidence of its popularity.

It looks like you are making a separate statement about code formatting, though.  Do I understand that right?  Does the Airbnb style guide not address formatting issues?  They include

[2018-09-18 12:00] ISNIT0 commented on #383
Yes, the AirBnB style guide is widely used.

Yes, you're right - I should probably have left out the VSCode bit - they are the same rules :)

In my branch I've brought in the AirBnB eslint file and am working through the errors! 😉

[2018-09-18 15:29] ISNIT0 opened #386 "Consider switching to TypeScript"
This somewhat relates to #383

One of the barriers to entry with the current codebase is that it's pretty monolithic, and it's quite easy to break other things when fixing bugs.

TypeScript is a tool that makes the maintenance and development of large JavaScript applications much easier.

## What is TypeScript and why should we use it?
If you've got 5 minutes: https://stackoverflow.com/questions/1

[2018-09-18 15:40] subbuss commented on #386
Indeed. That is the precise reason why I started refactoring the codebase and extracting components out of it last year in the Kiwix hackathon and did more work in spurts since then. Reno also contributed to some of that. The end goal was to be able to add unit and integration tests after that was done. But, I / we couldn't finish that work. There are other components that could be extracted from

[2018-09-18 15:47] ISNIT0 commented on #386
That's a good point, but I think having types in place makes it much easier to extract components without breaking things (having well defined inputs and outputs).

The branch linked has done a bunch of the up-front work (though there will be other humps) and still provides some value without investing any more time in the code itself.

Obviously there will be a startup cost for contributors that

[2018-09-19 06:28] bradyhunsaker commented on #380
I love this clean up!

It made it so for the first time I felt comfortable looking through every
non-zim-request issue for mwoffliner to get a better sense of where things
are.

On Tue, Sep 18, 2018 at 11:23 AM Kelson <notifications@github.com> wrote:

[2018-09-19 08:12] kelson42 commented on #283
This issue was moved to openzim/zim-requests#108

[2018-09-19 08:12] #283 closed

[2018-09-19 08:13] kelson42 commented on #274
Yes, this would be cool. We have started to create tools to make ZIM diff files. All of this is a massive project to run over next years and basically has not much to do with mwoffliner. I will close therefore this ticket.

[2018-09-19 08:13] #274 closed

[2018-09-19 08:16] kelson42 commented on #351
Might be fixed, we should try

[2018-09-19 09:03] kelson42 opened #387 "Exception by scrapping cyclowiki.org"
[code]

makes

[code]

[2018-09-19 10:36] kelson42 commented on #381
Problem should be fixed, I have generated new ZIM for the "Ray Charles" selection here https://download.kiwix.org/zim/wikipedia/ and will do so every month from now.

[2018-09-19 10:42] kelson42 commented on #366
We do not only scrappe the "medicine" project. See https://github.com/kiwix/maintenance/blob/master/mwoffliner/mwoffliner3_dump.sh#L48

[2018-09-19 10:42] #366 closed

[2018-09-19 10:44] kelson42 opened #388 "Unable to scrape gbf.wiki"
[code]

leads to
[code]

[2018-09-19 10:52] kelson42 commented on #275
@Popolechien ping?

[2018-09-19 10:55] kelson42 commented on #168
@Popolechien There is no good solution to do that as basically I have no formal way to link the picture with its legend. We can not fix it. The wiki code should be done properly.

[2018-09-19 10:55] #168 closed

[2018-09-19 10:58] kelson42 commented on #351
Seems to not die anymore here.

[2018-09-19 10:58] #351 closed

[2018-09-19 11:19] ahxxm commented on #388
I tried run `mwoffliner --mwUrl=https://gbf.wiki/ --mwWikiPath="" --localParsoid --resume --mwApiPath=api.php --keepHtml --adminEmail=gbf@ahxxm.com --speed=2 --verbose 2>&1 | tee gbf-wiki.log` and see same error log..

but seems data are downloaded and processed? I can see html files under tmp/wiki_en/, and generate zim file:
[code]

I'm still resuming from current crawling session(something took

[2018-09-19 13:00] kelson42 commented on #347
Still dying

[code]

[2018-09-19 13:10] kelson42 commented on #347
The root cause of the problem is that the Mediawiki icon is in SVG format https://www.dandwiki.com/w/images/3/3f/D%26D_Wiki_Logo_-_final.svg and it should be PNG. Here we should at least stop and print an error OR (better) convert the potential SVG/JPEG to a PNG.

On the top of it, the retry process to optimize PNG should not retry with `undefined` as a string, it should instead just ignore, print

[2018-09-19 15:09] kelson42 commented on #328
After discussion we came to an other (hopefully better) idea:
https://github.com/kiwix/kiwix-tools/issues/230

[2018-09-19 15:09] #328 closed

[2018-09-19 15:15] subbuss commented on #386
Since I am not very active on this project, I don't have a strong opinion either way about the use of TypeScript :) but, just wanted to flag the refactoring components piece of it.

[2018-09-20 13:41] kelson42 commented on #185
To me it looks like a Parsoid bug, @cscott @subbuss We can see the same here: https://en.wikipedia.org/api/rest_v1/#!/Page_content/get_page_html_title. What is this big `div` node?

[2018-09-20 13:43] kelson42 commented on #167
That should have been fixed with the last Parsoid/MWoffliner upgrade.

[2018-09-20 13:43] #167 closed

[2018-09-20 13:47] kelson42 commented on #8
Would be great to have a file/article here to easily reproduce the problem. I do not know how to reproduce it so far.

[2018-09-20 13:52] kelson42 commented on #15
Things to do (the ones I can see):
* Include "Category" namespace to the namespace to scrape per default
* Verify the category pages are scrapped properly
* Secure that links within articles pages to categories work properly
* Secure the category links at the bottom of the page are displayed properly
* Secure the list of articles are displayed properly like online (sorted alphabetically) are displ

[2018-09-20 14:04] kelson42 opened #395 "Remove Dekstop rendering"
Go mobile and secure it works well - on non-mobile devices too.

[2018-09-20 14:05] ISNIT0 commented on #395
@bradyhunsaker Your favourite :)

[2018-09-20 14:06] subbuss commented on #185
I don't see it @ https://en.wikipedia.org/api/rest_v1/page/html/Vitamin_D

[2018-09-20 14:48] ISNIT0 commented on #131
@automactic Is this still an issue?

[2018-09-20 15:10] kelson42 commented on #185
@subbus Just search for `annotation_0x0` in that page, this is IMO the problematic part!

[2018-09-20 15:35] subbuss commented on #185
Filed https://phabricator.wikimedia.org/T204967

[2018-09-20 15:45] kelson42 commented on #185
@subbuss Thx!

[2018-09-20 15:58] kelson42 commented on #386
Thank you @ISNIT0 for raising up this topic and @subbuss for commenting it so far.

From what I understand:
* Added value of TypeScript is clear and consensual
* Risk of moving too quickly seem to be also relatively consensual
* The real open questions seem to be more when? how? than why?
* It seems also consensual that continuing the refactoring job started by @subbuss and @darkenvy last year is

[2018-09-20 16:02] kelson42 commented on #347
Last run died with an other error:

[code]

[2018-09-20 16:58] ISNIT0 commented on #386
@kelson42
This PR: #394 is the minimum required changes to transition to TypeScript.
The changed line count is artificially inflated for a few reasons:
- Quite a few new packages which add many lines to `package-lock.json`
- There are now two copies of each file (src and compiled)
- Files were moved & renamed

I think we loose little from making this change now, and gain:
- refactoring is made eas

[2018-09-20 17:31] darkenvy commented on #386
I second this. We recently started using typescript at work for a React
based project. The only downside is that you must transpile your code (I
think this is an upside, but it adds tooling and a higher barrier to entry
for those that may know javascript but not the JS ecosystem).

What is great about Typescript is that the conversion to it is not abrupt.
You can add as little or as much TS as you

[2018-09-21 18:04] bradyhunsaker opened #398 "mwoffliner now requires node 8.12.0 (or something near there)"
package.json indicates node >=7.4.0, if I'm reading it correctly.

But 7.4.0 does not work due to the "async" keyword now being used in one place in lib/mwoffliner.lib.js.

8.12.0 is the latest LTS version and works for me.
I suggest we update package.json to reflect that.

But I'm new to these aspects, so maybe I'm getting it all wrong.  I'm willing to make a PR if I get confirmation that it's re

[2018-09-22 06:10] kelson42 commented on #398
@bradyhunsaker Sounds good to me. I see no reason to support more than current + LTS versions of Nodejs. If with do - by luck - then OK, but that would be all.

[2018-09-22 08:49] kelson42 opened #399 "Unable to scrappe Inciclopedia"
[code]

then

[code]

[2018-09-22 09:14] ISNIT0 commented on #398
Oops, I thought I'd commented on this already - I'll add some checks for current node version when mwoffliner starts as well and warn if it's not up to the engine spec in `package.json`

[2018-09-22 10:15] ISNIT0 commented on #386
Another benefit of the compilation stage is related to #398. We can target older versions of JavaScript and support older Node for free :)

[2018-09-22 12:32] kelson42 commented on #142
@Popolechien just remarked that removing articles from "WikiProject_Hospitals_articles" lead to the fact that https://en.wikipedia.org/wiki/Major_depressive_disorder is not anymore in the ZIM file. IMO, whoever is behind this decision, should reconsider it.

[2018-09-23 07:57] Popolechien commented on #142
Do you have an easy-to-publish a list of excluded articles?
Ideally I suspect we could use wikidata, and if Instance (P31) is a disease (Q12136), then reintegrate it in the list?

[2018-09-23 08:03] kelson42 commented on #142
@Popolechien Will publish the list, but maybe "Major_depressive_disorder" should not be part of "WikiProject History of Science", James should participate to that thread.

[2018-09-23 08:09] Popolechien commented on #142
@kelson42 There's a fairly big History section and anyway if we could avoid case-by-case reviews that will keep it manageable. I take it from your answer that the Wikidata if/then route is not really an option, is it?

[2018-09-23 08:49] kelson42 commented on #142
@Popolechien It might be an option, but we have already quite a bit to do now without making ZIM selection process more complex.

[2018-09-24 15:02] kelson42 opened #404 "Skipped Wikipedia paragraph in "mobile_view""
By scrapping https://pt.wikipedia.org/wiki/Hipotiroidismo, I see only the "Referências" paragraph in the ZIM file. For example have a look there http://library.kiwix.org/wikipedia_pt_medicine_2018-09/A/Hipotiroidismo.html

[2018-09-25 16:33] Popolechien opened #405 "Integrate non-Wikimedia content to Wikimedia zim files"
In the case of partnerships we should be able to offer customized text and logo from the host organization as a landing page. On Wikimedia projects it is not possible to show logos on non-mainspace wikis:  we should therefore be able to manufacture a landing page on an external wiki, and "connect" it to the regular Wiki content.

[2018-09-26 11:31] ISNIT0 commented on #388
These same errors seem to appear when using Parsoid directly. I don't see an obvious way to fix them from MWOffliner (I've yet to look at the broken TOC links)

[2018-09-26 12:19] ISNIT0 commented on #387
The cause of this issue is that an IMG tag actually has `"` characters in the `src` attribute: `http://cyclowiki.org/"./Special:FilePath/Баланово_—_Ново-Александровка.jpg/"`

This is invalid and in a browser only resolves when the extra quote characters are removed:
`http://cyclowiki.org/./Special:FilePath/Баланово_—_Ново-Александровка.jpg`
NOTE, the file actually sits at:
`http://cyclowiki.org/wi

[2018-09-26 12:50] ISNIT0 commented on #278
- Trailing `.html`. I believe this is down to Kiwix-serve
- `/` -> `_` This will affect everything the reads ZIM files - it's impossible to have `/` characters in file names or directory names

[2018-09-26 16:33] kelson42 commented on #278
@ISNIT0 If Kiwix-serve needs to be adapted, it will. for the fs, maybe it should not be written to the filesystem ;) (or then a solution should be found...)

[2018-09-29 15:23] findagnar opened #407 "always has some error"
I think the project alway many error to stop you plan.→_→
And,Why check redirects one by one?

Caching Bottomless_Trap_Hole.jpg at /home/rot/zim/4/cac/moegirl_zh/m/a248b174e8d016c288da.jpg...
Executing command : jpegoptim --strip-all --force --all-normal -m60 "/home/rot/zim/4/cac/moegirl_zh/m/a248b174e8d016c288da.jpg"
Caching http://localhost:8000/zh.moegirl.org/v3/page/pagebundle/%E5%A5%A5%E7%89%

[2018-09-29 23:35] kristinn93 commented on #383
You might wan't to add prettier with a pre-commit hook while you are at it, [example](https://github.com/gladly-team/tab/pull/352).
I can also make a PR with this if wanted

[2018-09-30 06:56] kelson42 commented on #407
@findagnar There is a ticket about improving speed of redirect checks #325

[2018-09-30 06:57] kelson42 commented on #407
@findagnar What is the exact mwoffliner command you run?

[2018-09-30 08:29] findagnar commented on #407
Do not use ---speed,the website will be tell me 429!!! **too much more**
So I think the api,Should be changed

Also I think this bug appears in line 1936 of mwolliner.lib.js,

you need to put the file name. Make a "/" to "%2f" replacement.

Sorry, machine translation language.

[2018-09-30 12:49] kelson42 commented on #407
@findagnar We still do not have your mwoffliner command line!

[2018-09-30 13:01] findagnar commented on #407
I don't think the command line is heavy. After all, I have given the solution to the problem.

 --mwUrl=https://zh.moegirl.org --mwApiPath=api.php --adminEmail=*** --speed=0.7 --localParsoid --keepHtml --mwWikiPath=

![2ea4ffb553967cd2b0a959f8df8a5258](https://user-images.githubusercontent.com/16982413/46257854-cb32c800-c4f3-11e8-8ee3-250d1db7e121.jpg)

[2018-10-05 16:00] ISNIT0 commented on #404
The query that MWOffliner makes to the API for mobile views doesn't include the additional information: https://pt.wikipedia.org/api/rest_v1/page/mobile-sections/Hipotiroidismo

I'm not entirely clear as to why we use this particular api rather than Parsoid - do you have any ideas? @kelson42

[2018-10-05 16:06] #398 closed

[2018-10-05 16:08] ISNIT0 commented on #399
This is a similar issue to https://github.com/openzim/mwoffliner/issues/387

It seems the url is malformed and our only real option is to ignore the files

[2018-10-07 05:06] findagnar commented on #407
@kelson42
I'm sorry. I have to say this is a very unsuccessful program. I've been using it for two months and it makes me think it's very error-prone. Every mistake has to be made again. What broke me the most was that it was dead. Today is the second time.
Caching systems that allow users to take up a lot of disk space.
What I can't explain is that the redirect lookup has more than 100 TCP connec

[2018-10-07 05:33] kelson42 commented on #407
@findagnar I need to try and fix that problem indeed.

[2018-10-07 06:31] findagnar commented on #407
@kelson42
I don't think you're going to try to solve this whole bunch of problems.
Again, my idea is to rewrite the whole program in python. However, the idea is different. I am not sure that mwlib can achieve the effect of parsoid output web page. I don't have much time to test it.
Could you please leave your email? I want to communicate more.

我不觉得你会去试着解决这一堆问题。
再说，我的想法是用python重写整个程序。但思路不同，我不确定mw

[2018-10-10 11:31] ISNIT0 commented on #79
@tim-moody Could you confirm this is still an issue? Have you tried with `--localParsoid`?

[2018-10-10 11:34] ISNIT0 commented on #180
I'm not able to re-produce this in the latest code-base. Is this still happening @Jaifroid?

[2018-10-10 11:49] Jaifroid commented on #180
@ISNIT0 : I'm still getting it with the September 2018 novid ZIM of Wikivoyage. If you recently made a change, I guess it will take some time to work through to ZIM releases, no? It can be tested with Cambridge or New York. Probably won't know if mwoffliner has picked this up till an October or November release? Below is from September release.
![image](https://user-images.githubusercontent.com/43

[2018-10-10 15:07] tim-moody commented on #79
@ISNIT0 I did try --localParsoid, but I have not tried again since I originally posted.

[2018-10-11 08:48] ISNIT0 commented on #180
I think it's related to our recent update of Parsoid, we'll verify soon :)

[2018-10-11 09:47] findagnar opened #409 "Easy mistake"
https://github.com/openzim/mwoffliner/blob/8668dea9ba20d270d00c29652191846e290672a1/lib/mwoffliner.lib.js#L386

Debian GNU/Linux 9 (stretch)
root@localhost:~# pngquant --strip
pngquant: unrecognized option '--strip'
root@localhost:~# pngquant -V
2.5.0 (June 2015)

Not interesting.

[2018-10-11 09:50] ISNIT0 commented on #409
Hi @findagnar,
You're referring to a JS file, we've recently moved to TypeScript - could you update your issue to point to the source file (`src/*`) please?

[2018-10-11 09:58] findagnar commented on #409
@ISNIT0 It's not a big deal, it's just that there's an error in the command. --strip
I don't know what you're talking about.Sorry.

[2018-10-11 10:02] kelson42 commented on #409
@findagnar This is a "new" option of pngquant, install a recent version of pngquant.

[2018-10-11 10:02] #409 closed

[2018-10-12 07:58] #386 closed

[2018-10-12 07:58] ISNIT0 opened #410 "Shouldn't exit (exitIfError), but should pass errors up the stack"
At the moment, there are a lot of "exitIfError" and `process.exit()` statements, but this makes it difficult to use the software from an API

We should remove all of these and convert them to pass errors to the async handlers.
(At some point it'd be nice to convert all async handlers to Promises, but that is a large job)

This relates to various error handling issues and #282

[2018-10-12 16:13] ISNIT0 commented on #388
@kelson42 I'd appreciate some guidance here.

MWOffliner makes a request to https://gbf.wiki/api.php?action=parse&format=json&page=Rosetta_(Grand)&prop=modules%7Cjsconfigvars%7Cheadhtml
Which returns a modulestyles array. I'd expect this array to contain:
- `ext.cite.styles`
- `mediawiki.legacy.commonPrint`
It only contains `ext.cite.styles` though

Also, what happens to `site.styles`?

[2018-10-12 16:15] ISNIT0 commented on #347
Have you seen this happen again on the live server?

[2018-10-12 20:17] davidgerard commented on #169
David Gerard from RationalWiki here. We don't run the mediawiki.org notitle extension - we run a handrolled thing of our own:

https://github.com/RationalWiki/mediawiki-extensions-RationalWiki/blob/master/notitle.php

Tim Starling helped us get RW upgraded and I think he looked over that one at the time so I'm assuming it's basically OK ... but I have no idea about PHP coding at all, let alone PHP

[2018-10-14 07:49] kelson42 commented on #388
@ISNIT0 Definitly overasked. @subbuss @cscott any help welcome.

[2018-10-14 08:49] kelson42 commented on #387
Seems to still fail by me, but for an other reason:
[code]

[2018-10-16 16:37] #79 closed

[2018-10-17 18:53] mossroy opened #412 "In articles with a ? in the URL, links to footnotes are not in the right namespace"
For example, in wikipedia_fr_all_novid_2018-03.zim, if you search for "? (album de Nena)", and open this article, the cite notes hyperlinks point to namespace I instead of A (and are not working).

Same problem in wikipedia_en_all_novid_2018-06.zim, in the article Boy_or_Girl?.html, the footnote anchor href appears as `../I/Boy_or_Girl%3F.html#cite_note-1` instead of `../A/Boy_or_Girl%3F.html#cite

[2018-10-19 09:52] ISNIT0 commented on #159
I believe I have a fix for this, but the Thermococcus page doesn't seem to have the `<I>` tags anymore. What's the best way to find another page to test with?

[2018-10-19 09:56] ISNIT0 commented on #324
@mossroy What's the best way to test if this is fixed? I can build a partial ZIM file for you? How many pages do you need, which wiki?

[2018-10-19 10:28] ISNIT0 commented on #16
@kelson42 The footer doesn't seem to be returned by Parsoid or the MediaWiki API. Am I missing something, or will the translated footers need to be generated?

[2018-10-19 10:31] ISNIT0 commented on #383
After moving to TypeScript, we're using the following TSLint options:
[code]

Most importantly we're basing this from `tslint:recommended` (https://github.com/palantir/tslint/blob/master/src/configs/recommended.ts).
This is currently in the codebase. Please comment on this issue if you'd like to suggest a change in the future.

[2018-10-19 10:31] #383 closed

[2018-10-19 10:32] Jaifroid commented on #324
@ISNIT0 Excellent! In that case, either a test Ray Charles ZIM (novid / mobile format) would be ideal, or the html/css/js of a typical page if you'd like us to look it over before you build a test ZIM.

[2018-10-19 10:37] ISNIT0 commented on #325
Unless I'm mis-understanding something, we currently fetch redirects concurrently:
https://github.com/openzim/mwoffliner/blob/master/src/mwoffliner.lib.ts#L442
`speed * 3`

@kelson42 Is this issue for increasing the concurrency, or have I mis-interpreted this issue?

[2018-10-19 11:18] ISNIT0 commented on #324
I've had to make a few more changes in #415 to generate a new ZIM file. What is the best way to send the file to you?

[2018-10-19 11:42] ISNIT0 commented on #359
@Popolechien Do you recall which page/wiki this was on?

[2018-10-19 11:49] ISNIT0 commented on #359
This looks like a Parsoid issue to me
Is there anything we can do from our end?

@cscott @subbuss

[2018-10-19 11:56] ISNIT0 commented on #110
This seems to render correctly in the mobile view but break in the desktop view.

I think this may be related to #388

[2018-10-19 13:42] automactic commented on #159
I haven't seen this problem appearing for quite a while. But I am also widely testing a large number of zim files.

[2018-10-19 17:50] arlolra commented on #169
@davidgerard I put up a pull at https://github.com/RationalWiki/mediawiki-extensions-RationalWiki/pull/1 but needs a review.

[2018-10-20 15:10] findagnar commented on #407
@kelson42  One question the tool can build en_wikiepdia 6 million entries?

mwoffliner --mwUrl=http://zh.moegirl.org --adminEmail=* --speed=0.4 --localParsoid --format=nopic --keepHtml --mwWikiPath= --mwApiPath=api.php

I think there are two problems with the first picture.
The third picture is nginx proxy configuration file.
![img20181020224959](https://user-images.githubusercontent.com/16982413/

[2018-10-22 07:37] Popolechien opened #416 "Remove nodet content from content list"
Currently we have too many options - besides the fact that no one understand what "nodet" means, the whole point of having it in the first place was to be able to produce content <100mb. There is also very little added value (size wise) to having nodet, as for Wikimed for instance it is a 411Mb content vs. 479 Mb for the nopic version. The pictures are thumbnails anyway, so they provide a generic

[2018-10-22 07:41] Popolechien opened #417 "Rename "nodet" to "mini""
Nobody knows what nodet means : mini is much easier to grasp and generally speaking should be branded as that part of our portfolio that has zim files 90% smaller than the full ones (ie easy to download)

[2018-10-22 10:06] Popolechien opened #418 "Large blank spaces inserted after images"
Seen in the Wikimed zim (Medicine novid 2018-10-09) file but I see no reason why it shouldn't be elsewhere: there is a number of article where a large piece of blank space is inserted below images. See screenshots:
Antibiotic sensitivity
![screenshot_20181022-021148](https://user-images.githubusercontent.com/21675885/47287450-8b429a80-d5f2-11e8-843a-a14cd02bef62.png)

Flap (surgery):
![screenshot_

[2018-10-27 15:15] #159 closed

[2018-10-27 15:20] ISNIT0 commented on #324
Sorry for the delay - been away for a while.

Could you try this please: https://framadrop.org/r/e16cdXpSx8#An8mKs2cxsTudGZ1Vu1PjMU/8Rc8vALkffOP6JS0JNI=

[2018-10-29 07:16] Jaifroid commented on #324
Hi @ISNIT0 , thanks for the ZIM. When I run this in a version of Kiwix JS that supports JavaScript, I get a bunch of JS errors: "mw is not defined" and "mediaWiki is not defined". However, they are probably unrelated to this issue.

Can you give me a clue as to what I'm testing for? In the article in the archive you sent (`Climate of Colombia`) I don't see the caret arrow indicators as per screens

[2018-10-29 09:38] mossroy commented on #324
@Jaifroid : the fix he made had 2 purposes (If I remember correctly) :
- put a <noscript> tag, so that if there is no javascript support, the sections should be open (not sure if it would work in our context because javascript is not completely disabled)
- move the inline scripts in external JS files, so that section toggling should work even with restrictive CSP (like in browser extensions or wit

[2018-10-29 09:46] ISNIT0 commented on #324
Sorry, my mistake. That file was generated without `--mobileLayout`, please try this one instead:
https://framadrop.org/r/T5sVWDucVS#4kMqpRIlVmBlljv413dAdGDAZoSUSTG6mZZPJBrDEHk=

[2018-10-29 09:51] ISNIT0 commented on #180
I am seeing this, it seems to only be happening with `--mobileLayout`

[2018-10-29 09:55] Jaifroid commented on #324
Ah, that's better! This one works correctly in our [JavaScript-enabled branch](https://github.com/kiwix/kiwix-js/tree/javaScript-support):

![image](https://user-images.githubusercontent.com/4304337/47642191-e7ac3980-db5f-11e8-93ae-c05eace89a71.png)

We need to test for the CSP issue specifically, because the JavaScript branch "intelligently" turns inline JS into attached scripts (but I don't see

[2018-10-29 09:57] #131 closed

[2018-10-29 10:01] ISNIT0 commented on #387
I can't reproduce this, I think it may have been fixed in the master branch. Could you try again please?

[2018-10-29 10:37] Jaifroid commented on #324
@ISNIT0 : slightly off-issue, but one thing I've noticed in this implementation is that if the References section is closed, the endnote reference markers don't work (endnote not jumped to or displayed). It works in online Wikipedia, mobile view with References section closed, though they use an overlay instead of jumping to the endnote.

[2018-10-29 10:56] ISNIT0 commented on #324
@Jaifroid this seems to be a limitation when JavaScript is disabled, it's working on Kiwix Android for me.

[2018-10-29 15:16] mossroy commented on #324
I'm not 100% sure, but I think only half of the work has been done in this ZIM sample file.

The toggleOpenSection function has been correctly moved from the HTML page to a separate javascript file. But the calls to this function are still inline event handlers (HTML "onclick" attribute).
As explained above in https://github.com/openzim/mwoffliner/issues/324#issuecomment-380925738, these onclick i

[2018-10-30 05:34] kelson42 commented on #387
Will try again

[2018-10-30 17:02] ISNIT0 commented on #324
Thanks @mossroy, I'll make this other change soon and post another ZIM

[2018-10-30 17:03] #180 closed

[2018-10-30 17:04] ISNIT0 commented on #359
***ping*** @cscott @subbuss

[2018-10-30 18:05] mossroy commented on #324
Cool, many thanks @ISNIT0 !

[2018-11-03 19:25] kelson42 opened #421 "Fails to find redirects.html"
For some reason, not detected before but:
[code]

[2018-11-04 09:20] Popolechien opened #422 "Implement review system before adding new zim files to library"
I'm looking at http://library.kiwix.org/granbluefantasy_en_all_all_nopic_2018-10/ (the last release of Granblue fantasy wiki) and it is obvious that a bunch of things are broken, rendering the file unusable and a waste of data/download time for users.
It seems to be a rather recent addition to the library, so can we think of some simple confirm/vetting process (a.k.a. Quality control) before addin

[2018-11-04 09:43] kelson42 commented on #422
This issue was moved to openzim/zimfarm#58

[2018-11-04 09:43] #422 closed

[2018-11-04 14:28] ISNIT0 opened #423 "Add information about TypeScript to README.md and CONTRIBUTING.md"
@bradyhunsaker

[2018-11-04 18:05] bradyhunsaker commented on #423
As a start, we need to know which files are generated automatically and which files to edit instead.
Plus how/whether to generate them as part of a pull request.

I think it is:
- Don't edit lib/ files, edit src/ instead.
- But I'm not sure the correct way to generate the lib/ files.

I'm not certain about other .js files, like in bin/ and res/ and index.js.  I think they do not have .ts counterpa

[2018-11-06 08:46] ISNIT0 commented on #423
Edit
- `src/**` files
- `bin/**` files

To generate `lib/**` files from `src/**` files, run `./build.sh`.

To watch `src/**` files and rebuild automatically, run `./watch.sh`

Would you like to add this to the README?

[2018-11-06 09:11] ISNIT0 commented on #324
@mossroy Sorry it's taken so long!
Could you try this please:
https://framadrop.org/r/9OQckEwLus#2lrrE7QvF7Nu+K5OzWpFV9iKz2BNXLftY1eZTYUAnYw=

[2018-11-06 09:14] ISNIT0 commented on #387
@kelson42 Have you tried again?

[2018-11-06 09:15] ISNIT0 commented on #347
@kelson42 Have you seen this again?

[2018-11-08 06:07] Jaifroid commented on #324
I confirm that on my JavaScript branch (which enables all JS in standard, non Service Worker mode) I'm getting similar errors in Edge. These errors are seemingly blocking the open-close functionality for me:

![image](https://user-images.githubusercontent.com/4304337/48180645-60f41b00-e31c-11e8-8e19-d3f47f6e2634.png)

[2018-11-08 07:17] dueni0 opened #425 "Only scraping main page"
With the command:

mwoffliner --verbose --mwUrl=http://myhostname/ --adminEmail=user@myhostname --mwWikiPath=index.php --mwApiPath=api.php/

I get the error:
[code]

issue reopened from #335

[2018-11-08 07:18] ISNIT0 commented on #324
The errors are actually nothing to do with this issue - they're from imported files from Parsoid.

Is this one any better for you? (sorry about the back and forth)
https://framadrop.org/r/OWWg2kYDOx#6VmInqztQQgyy2AGFxPH4a/lZT3zQ2SZvzz2Kl0GkZU=

[2018-11-08 07:19] ISNIT0 commented on #425
@dueni0 Any chance we can see the actual host/wiki? It's quite helpful for reproducing and debugging.

[2018-11-08 07:20] dueni0 commented on #425
the wiki is internal only

[2018-11-08 07:29] ISNIT0 commented on #324
@Jaifroid The problem seems to me that none of the JavaScript files actually define `mw`.

[2018-11-08 07:31] ISNIT0 commented on #425
This should do it:
[code]

[2018-11-08 07:53] Jaifroid commented on #324
@mossroy JFYI I ran into this Quirks Mode issue when I created my branch for loading JS in jQuery mode. It seems to be caused by the fact that htmlArticle (the html we extract from the ZIM) contains a BOM. I have this comment in my code:
[code]
It's a bit old now, but see http://malform.no/testing/html5/bom/index.html.utf8.html

[2018-11-08 07:59] Jaifroid commented on #324
@ISNIT0 For me, that new ZIM looks better. In @mossroy's JS branch for Service Worker mode, the code opens and closes headings correctly, and in master (which doesn't support JS), the headings are open by default.

It's not working in my branch, but I suspect that's my problem, not yours. However, give me some time to check it isn't a broader issue.

[2018-11-08 08:18] dueni0 commented on #425
it works (after installing the librsvg2-bin package), but only the wiki mainpage gets dumped into the .zim file

[2018-11-08 08:30] dueni0 commented on #425
there is another error in the debug output:

` pngquant: unrecognized option '--strip'`

it seems that the correct parameter would be '-strip'

[2018-11-08 08:37] ISNIT0 commented on #425
Could you send the following information please?
- Operating System
- `node --version`
- `pngquant -v`

[2018-11-08 08:40] Jaifroid commented on #324
Actually, I've just realized, @mossroy , that if we remove our [workaround](https://github.com/kiwix/kiwix-js/blob/master/www/js/app.js#L960), then all headings are closed by default with this code (and there is no way to open them). So we would need to maintain the workaround, unless @ISNIT0 is willing to consider having headings open by default. I imagine that would break expected behaviour on t

[2018-11-08 08:44] Jaifroid commented on #324
When I say "there is no way to open them", I mean in clients that don't support JS in the ZIM. @ISNIT0 , maybe one solution would be to have them open by default for such clients, and to close them programmatically in the `mobile.js` script. That way you get the expected behaviour in the Android/iOS apps, and still support clients that can't run JS from the ZIM.

[2018-11-08 09:02] ISNIT0 commented on #324
There is some CSS that should force them to be open by default, but I'll take another look in a bit.

[2018-11-08 09:10] dueni0 commented on #425
os: Ubuntu 16.04.5 LTS
node: v10.12.0
pngquant: 2.5.0 (June 2015)

[2018-11-08 09:17] ISNIT0 commented on #324
Okay, the CSS was broken from removing the inlined JS (we were using an attribute selector).
This should work:
https://framadrop.org/r/dJb6xo-S11#dwKgk9p0pk7YhAbR/dTh6Viw0eBLkS7MkFBv3bNrHBc=

[2018-11-08 09:44] ISNIT0 commented on #425
Could you try updating pngquant please?

[2018-11-08 12:04] findagnar commented on #407
@ISNIT0
No...but the situation I encountered that time was actually more than these two problems.
I don't know how long it takes for 40,000 entries to rely on parsoid, through free cloudflare.
I am very sorry to have let the other server have crashed once.
1. Always use a cpu.
2. With the error, you will quit (anger)
3.tcp handshake failed error
4. Why can't I use sqlite as a data record?
5. Why d

[2018-11-08 13:20] dueni0 commented on #425
pngquant is 2.12.2 (November 2018) now, the --strip error is gone but the generated zim file still contains the main page only

[2018-11-09 07:13] kelson42 commented on #404
@ISNIT0 If you think the Wiipedia API does not return the proper information, which seems the case here, then a bug report needs to be open on their side and referenced here. Please open a ticket here https://phabricator.wikimedia.org/project/view/487/ and subscribe me (user:Kelson).

Remark: Wikipedia `rest_v1` API is Parsoid.

[2018-11-09 07:19] kelson42 commented on #388
@ISNIT0 Regarding this ticket, I'm not sure what is the status as over comments many different problem have been reported. I'm not even sure how your last question is related to any on the impact reported earlier (crash). My question would be: what is the status in term of concrete problem and related investigation status?

[2018-11-09 07:30] kelson42 opened #426 "Bump-up version (and better version printing)"
`1.5.0` has been published on npmjs.org but the master has still the same version. This should be bump-up to `1.6.0` as this is the version number you are working on to release.

On the top of this, this would be great if `mwoffliner --version` prints also the git revision number, this would be really helpful to secure the exact version we are running.

[2018-11-09 07:35] kelson42 commented on #387
@ISNIT0 Pretty much blocked by #421 so far.

[2018-11-09 07:35] Jaifroid commented on #110
@kelson42 Just to say that if you do go all mobile, I hope at least these would be fixed first: #164 , #182 and #110 (this issue), as they all seem to affect mobile style in particular.

[2018-11-09 07:36] kelson42 commented on #421
@ISNIT0 Sorry but I still have the problem:

[code]

[2018-11-09 07:38] kelson42 commented on #347
@ISNIT0 What is the "live server"?

[2018-11-09 07:38] kelson42 commented on #359
@ISNIT0 If you think the Wikipedia API does not return the proper information, which seems the case here, then a bug report needs to be open on their side and referenced here. Please open a ticket here https://phabricator.wikimedia.org/project/view/487/ and subscribe me (user:Kelson).

[2018-11-09 07:43] kelson42 commented on #278
@ISNIT0 The goal of this this ticket is to have an easy and automatic way, from a online WP url to figure out the ZIM local url, and the other way around. This is necessary to be able to implement feature like: if at some point you have an online Wikipedia URL but the device is offline, automatically switch to Kiwix to read from the ZIM file. Currently to many transformation are done on the ZIM UR

[2018-11-09 07:45] kelson42 commented on #325
@ISNIT0 Maybe but we still make too many API calls (one per title)... and API calls throughput are usually throttled.

[2018-11-09 07:48] kelson42 commented on #16
@ISNIT0 The footer is hardcode in `mwoffliner` and this is OK. But the if the content language is French, then the footer should be in French and currently it is alway in English. We should have a proper translation system, where the UI strings (so the footer string) is properly specified in a separate file (like `.po` file for example). I would then have to sync that file with our online translat

[2018-11-09 07:55] Jaifroid commented on #395
I just add a slight note of caution: let's not lose sight of the fact that some of the larger ZIMs are not very feasible on mobile, and will be accessed almost exclusively on desktop/laptop machines, where the desktop style is more readable. I note that the default style on Wikipedia is still desktop, not mobile...

But, if this is done, please can #164, #182 and #110 be fixed first? I'm particula

[2018-11-09 10:07] ISNIT0 commented on #421
This shows re-testing 1.5.
I believe the current master is working (future 1.6)

[2018-11-09 10:18] ISNIT0 commented on #324
@Jaifroid @mossroy Any news? 😄

[2018-11-09 10:20] ISNIT0 commented on #278
Thanks for the clarification.
I'll change mwoffliner to create sub-directories for files. (I assume all zim readers will cope?)

[2018-11-09 10:30] ISNIT0 commented on #425
Thanks @dueni0, I'll take a look when I can :)

[2018-11-09 10:32] kelson42 commented on #421
@ISNIT0 I don't get it, please tell me what I do wrong.

[2018-11-09 10:33] kelson42 commented on #278
@ISNIT0 They should

[2018-11-09 10:34] Jaifroid commented on #324
I was just testing the latest one. The opening-closing JS works in @mossroy 's JS-enabled branch (in SW mode). On narrow screens all headings are closed by default. On a non-JS-enabled client, there is no way to open them, so we would need to continue to work around that in the client. I'd like to wait for @mossroy to have a look at the code, though, because he sees potential issues with extension

[2018-11-09 11:13] ISNIT0 commented on #278
I've found an issue here.

If we create directories rather than encoding `/` characters, we would break this kind of page: `https://fr.wikipedia.org/wiki//dev/random`

The page starts with a `/`. Notice that neither of these two urls point to the same page:
- `https://fr.wikipedia.org/wiki/dev/random` (With one of the slash characters removed)
- `https://fr.wikipedia.org/wiki///dev/random` (With a

[2018-11-09 11:43] ISNIT0 commented on #324
I'm unable to reproduce the issue with the sections being closed on non-js clients.
When I disable JavaScript in Chrome, all the sections are open.

[2018-11-09 11:44] ISNIT0 commented on #347
@kelson42 I mean - is this still happening with the latest master branch?

[2018-11-09 11:45] ISNIT0 commented on #421
You are installing mwoffliner from npm, not the latest master.

Could you confirm that this is fixed/broken in master please?

[2018-11-09 12:09] Jaifroid commented on #324
@ISNIT0 Reduce the width of your browser to a mobile-style size, and you should see all the sections are closed by this rule:

.collapsible-block {
    display: none;
}

@mossroy  To reproduce the issue in Kixix JS, we have to remove the workaround that opens all the closed sections.

[2018-11-09 12:11] Jaifroid commented on #324
PS @ISNIT0 The rule that opens the blocks when the screen width is greater than 720px is:
[code]
These rules are in a file that is called something like "inserted style mobile.css".

[2018-11-09 12:15] kelson42 commented on #421
@ISNIT0 npm can/should install directly from github. This is what I do, see https://stackoverflow.com/a/21918559

[2018-11-09 14:11] ISNIT0 commented on #388
The download completes, the errors shown are from Parsoid.
I will raise a ticket once I have figured out a reliable reproduction for Parsoid.

[2018-11-09 14:30] ISNIT0 commented on #110
@Jaifroid I found this issue was not affecting mobile views, are you seeing something different?

[2018-11-09 15:30] ISNIT0 commented on #359
As per the issue, this particular case has been fixed and another resolution will be found on Parsoid's side.

[2018-11-09 15:30] #359 closed

[2018-11-09 15:55] ISNIT0 opened #429 "Multi-threaded scraping"
There are various tools/libraries that make muti-threaded NodeJS possible ([node-webworker-threads](https://github.com/audreyt/node-webworker-threads) comes to mind).

It would be nice to specify the number of threads to run MWOffliner with. This _might_ improve the speed of scraping.

[2018-11-09 15:59] ISNIT0 commented on #407
Please correct me if I'm wrong - you'd like to report 4 concerns:

1. MWOffliner uses only one thread during scraping
2. MWOffliner quits after TCP Handshake failed errors
3. You'd like to be able to choose the datastore, rather than use Redis
4. You'd like more public information (in the form of blog posts) that talks about the process and technologies of scraping and reading MediaWiki sites (Ope

[2018-11-09 16:10] ISNIT0 commented on #16
I'm afraid I don't have any experience with `.po` files or our online translation platform. Could you email me some more details please?

[2018-11-09 21:15] bradyhunsaker commented on #423
Yes, but I guess it should wait for your pending README PR?

On Tue, Nov 6, 2018 at 9:46 AM Joe Reeve <notifications@github.com> wrote:

[2018-11-11 10:39] mossroy commented on #324
In ServiceWorker mode, the latest ZIM works almost fine, and with less javascript errors. I tested it on Chromium (inside and outside an extension) :

- the javascript code is properly externalized in mobile.js, and now works with the CSP of a browser extension. This was the main goal of this github issue : that's cool
- there are still a few javascript errors, but they do not seem related to this

[2018-11-11 11:04] ISNIT0 commented on #404
I created an issue here: https://phabricator.wikimedia.org/T209158

[2018-11-11 11:06] ISNIT0 commented on #324
@mossroy I think there is nothing more you'd like me to do for this issue, is that correct?

[2018-11-11 11:16] Jaifroid commented on #324
@mossroy , which version of the ZIM did you test? The very latest that @ISNIT0 attached in [this post](https://github.com/openzim/mwoffliner/issues/324#issuecomment-436925816) (8th Nov 9.17am) does not seem to work as you describe. In Service Worker mode on Edge, with a wide screen, the sections beneath the headings remain closed by default, and they do not open when clicking them.

[2018-11-11 11:16] ISNIT0 commented on #421
Sorry about the mis-understanding there. It was an obvious fix when I managed to reproduce it :)

[2018-11-11 11:18] #421 closed

[2018-11-11 11:20] Jaifroid commented on #324
Forgot to say, that is in current master.

[2018-11-11 11:28] mossroy commented on #324
@Jaifroid : this is indeed the ZIM file I tested with, but you need to switch to the `enable-javascript-inside-ZIM` branch of kiwix-js (that enables javascript injection in ServiceWorker mode)
@ISNIT0 : I think so too, on this specific issue (unless @Jaifroid has another opinion). Regarding the behavior of sections on large screens, it's your call (but it's a different issue)

[2018-11-11 11:30] Jaifroid commented on #324
I'm happy for @ISNIT0 to go ahead. But I am curious as to why is the noscript block not being interpreted in Service Worker mode on our current master... So we're going to have to enable JavaScript or continue with workarounds in both jQuery and SW modes. But maybe that's for discussion elsewhere.

[2018-11-11 11:35] Jaifroid commented on #324
PS @ISNIT0 : I just wanted to say "many thanks" for your work on this!

[2018-11-11 12:58] mossroy commented on #324
@Jaifroid : The `noscript` tag is handled by the browser engine, see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/noscript :

In our case, the browser engine supports javascript, and is not disabled at browser level, so there's no reason for it to interpret the content of the `noscript` tag.

I created https://github.com/kiwix/kiwix-js/issues/433 to manually inject the `noscript` tag

[2018-11-11 13:55] Jaifroid commented on #324
@mossroy OK, thanks for explaining, that makes sense now! I would have preferred a design in which all sections were open by default in the ZIM, and clients that support JavaScript in the ZIM would close them programmatically on loading the script, as this would work more universally, but I guess Kiwix JS is a special case.

[2018-11-11 14:57] ISNIT0 commented on #324
I've merged #424
Please let me know if you need anything else :)

[2018-11-11 15:00] ISNIT0 commented on #426
When used from NPM, it reads `fatal: not a git repository (or any of the parent directories): .git`.

We will need to freeze the git hash into the package JSON.

@kelson42 This will mean there's an extra step in releasing (are you okay with this?)

[2018-11-11 15:11] ISNIT0 commented on #387
@kelson42 Could you try this again please?

[2018-11-11 15:30] kelson42 commented on #426
@ISNIT0 yes as long the process is documented step-by-step (or better we have a bash script)

[2018-11-11 15:49] kelson42 opened #432 "Changelog has not been updated"
... while fixing bugs and implementing new features for 1.6:
https://github.com/openzim/mwoffliner/blob/master/Changelog

[2018-11-11 15:59] kelson42 commented on #387
@ISNIT0 Have you tried it yourself? `mwoffliner` works, but the output is totally broken (mix json/html) if I test it with `kiwix-serve`.

[2018-11-11 16:20] kelson42 commented on #404
@ISNIT0 As this bug is proven to be a bug related Wikimedia backend, we will have to wait a new release on their side and I do not want to block 1.6 because of this. I'll therefore move it to 1.7 to allow to go ahead with 1.6.

[2018-11-11 17:40] kelson42 commented on #16
@kelson42 `.po` files was just an example how traditional app translate UI. Basically I do not care as long as all translation string are stored somewhere properly. For the rest you do like you want, I'm sure we have nice opensource frameworks for javascript.

[2018-11-11 17:59] ISNIT0 commented on #387
I was looking at exceptions being thrown. Hadn't realised the content was broken. I've fixed the content with PR #433

[2018-11-11 18:39] kelson42 commented on #387
@ISNIT0 please test things properly and verify that the ZIM file looks good: I have run it again, but only the homepage seems to be scrapped!

[2018-11-11 18:47] kelson42 commented on #388
I pospone to 1.7, as work seems to have to be done on Parsoid side and I do not want to have this ticket blocked the 1.6 release.

[2018-11-11 18:49] kelson42 commented on #347
@ISNIT0 I just have restarted a new scrapping process

[2018-11-11 18:53] kelson42 commented on #278
@ISNIT0 Any ZIM reader should be stupid. We need a ZIM file with a URL like `/dev/random/` or to be more precise (and as long as we do not have removed the namespaces) 'A//dev/random/`.

[2018-11-11 18:57] kelson42 commented on #425
@dueni0 is now impacted by a major regression in git master version. I'm impacted too. I put the ticket in 1.6 as the last problem need to be fixed with hight priority without releasing 1.6 anyway.

[2018-11-11 19:01] kelson42 commented on #395
@Jaifroid What I want is only one rendering, based on the Mediawiki `MobileView` and somehow adapted to also fix as much as possible the Desktop viewer. In the past, we had "desktop first" and now we have "mobile first". @ISNIT0 #164 is really important but I suspect a bug on Parsoid side, would be really great to fix it or report in on Wikimedia side properly.

[2018-11-12 07:19] kelson42 commented on #278
@ISNIT0 If I correctly understand the technical problem, the difficulty is to deal with both limitation of Mediawiki and Filesystem charsets. On thing we could do, is move this ticket to milestone 1.8. That way, one time we use less the filesystem to store things, maybe the problem will be easier to solve.

[2018-11-12 11:11] ISNIT0 commented on #429
I'm not sure it's necessary, but it's worth having a ticket to discuss this in.

[2018-11-12 11:11] ISNIT0 commented on #387
@kelson42 I think this is a different issue?
I have been testing with articleLists which is why I didn't find this.

[2018-11-12 13:02] ISNIT0 commented on #278
I think we should have a call about this particular issue, I think what you're asking here is not technically possible with a Unix filesystem (how do you represent `A//dev` in a filesystem)

[2018-11-12 13:03] ISNIT0 commented on #347
Waiting on #425

[2018-11-12 13:03] ISNIT0 commented on #387
Waiting on #425

[2018-11-12 13:43] ISNIT0 commented on #164
Created an issue here: https://phabricator.wikimedia.org/T209277

[2018-11-12 23:14] Jaifroid commented on #395
@kelson42 OK that makes sense. It is possible to transform the MobileView to Desktop and vice versa -- I do this in Kiwix JS Windows (if user requests it). But the Desktop-style CSS would need to be available for the client to extract from the ZIM when the transform is requested. It could be done with a custom `inserted_style_desktop` CSS file (like the custom `inserted_style_mobile` that we curre

[2018-11-13 16:24] #432 closed

[2018-11-13 16:40] ISNIT0 commented on #153
Issue 1 seems to now be fixed:
-
![image](https://user-images.githubusercontent.com/5173131/48427955-45e53900-e76a-11e8-9a2d-cb11e58c8802.png)

Issue 2 is that there is no contents box. I'll rename this issue to reflect that it's about contents generation

[2018-11-13 17:45] #153 closed

[2018-11-13 17:48] ISNIT0 commented on #278
This will be implemented as part of #184 where we're not restricted by filesystems

[2018-11-13 18:32] #425 closed

[2018-11-13 20:04] ISNIT0 commented on #387
@kelson42 I've now successfully scraped this completely

[2018-11-13 20:21] ISNIT0 commented on #338
@BPier The PDFs are stored on a different domain, and so MWOffliner ignores them.
MWOffliner is a tool for scraping MediaWikis and doesn't download external files.

PR #437 fixes a regression that wasn't present when you reported this issue.

As far as I know, MWOffliner will never support downloading external files.

[2018-11-13 21:05] ISNIT0 commented on #146
@bradyhunsaker Could you put some of your ideas here please?

I'm thinking a basic diff tool for eyeballing could be made in bash:
[code]

[2018-11-14 09:06] Jaifroid commented on #324
@mossroy @ISNIT0 Here is a suggested solution:

Ship pages in the ZIM with the following style block in the head (NB, `!important` doesn't seem to be necessary if this is included in the html):
[code]
Then include the following in `mobile.js`:
[code]
That JS would **replace** the current code:
[code]
I believe my suggested replacement achieves the following:

* Clients that cannot process JavaScri

[2018-11-14 09:35] Jaifroid commented on #324
I think there's also a bug here:

`if (id === 0) return`

It should probably be:

`if (id === "0") return;`

This may be the root of the problem (I didn't test), because the bug probably allows clicking on the title heading. However, I still think my suggested solution is safer than the mass click, for the reasons stated above.

[2018-11-14 10:06] #110 closed

[2018-11-14 10:13] ISNIT0 commented on #324
@Jaifroid I've implemented the above suggestion (`id === "0"`) rather than the larger change as I believe there are a lot of edge cases. I think we should re-visit this logic at some point, but for now I'd like to make the simplest changes possible.

[2018-11-14 10:17] Jaifroid commented on #324
@ISNIT0 It's your call, but the problem with the mass-click solution from our perspective is that it leaves us having to continue with workarounds in Kiwix JS... Yes, we can work around, but I do believe a more universal solution is possible...

Anyway, thanks for the fix. Did you test? Do you want us to test?

[2018-11-14 10:22] ISNIT0 commented on #324
@Jaifroid I don't think you need to implement a work-around?

I've tested it locally, I'll post a zim file soon. I'm just fixing some other CSS issues.

[2018-11-14 10:51] Jaifroid commented on #324
@ISNIT0 Unfortunately we do need to continue with workarounds, because we are currently unable to process any **JavaScript inside ZIMs** in the jQuery mode of Kiwix JS. The result of running the new ZIM above **in our master branch with our current workaround removed** is what you see in the screenshot below. Why? Because the `noscript` section you included is completely ineffectual in Kiwix JS: o

[2018-11-14 11:43] #407 closed

[2018-11-14 11:55] Jaifroid commented on #324
@ISNIT0 I think there's a problem with this line in `mobile.js`:

`var ref = $('#References').closest('h2');`

The problem is that in English Wikimedia ZIMs there are some articles that have `id="Notes"` instead of `id="References"`, and some that even have both Notes and References sections, with different notes in each.

But the bigger problem is that the ID here varies according to different la

[2018-11-14 12:41] #418 closed

[2018-11-14 22:09] ISNIT0 commented on #324
@Jaifroid This seems like a separate issue, could you open it please?

Are you and @mossroy happy for this issue to be closed now?

[2018-11-15 07:38] kelson42 commented on #426
Did it this morning and the git revision does not match git master head.
[code]

[2018-11-15 07:56] ISNIT0 commented on #426
@kelson42 I haven't updated the git revision in the `package.json` file since the above pull request.

I never intended this to be updated every commit...

[2018-11-15 07:58] kelson42 commented on #426
@ISNIT0 I think it has to, otherwise what is printed is simply wrong. Which is the case currently if you install mwoffliner from git.

[2018-11-15 08:00] ISNIT0 commented on #426
@kelson42 In that case this change isn't what we need and we should think of another solution.

[2018-11-15 08:06] kelson42 commented on #426
@ISNIT0 Idea: might be possible to secure this through Travis (at the merge process, with a hook)?

[2018-11-15 08:44] Jaifroid commented on #324
@ISNIT0 According to my tests, it's all working now as intended (except for the #References issue mentioned above, but I agree that's a separate issue).

[2018-11-15 08:46] #324 closed

[2018-11-15 08:47] bradyhunsaker commented on #146
It turns out the MediaWiki API supports getting a random page.  I created a small script that gets a random sample of N pages.
And diff has a --recursive option for comparing directories.

I'll put it together with a script along the lines that @ISNIT0 described above.  Hopefully this weekend.

[2018-11-15 08:49] ISNIT0 commented on #146
@bradyhunsaker Would be nice if it could run on Travis and maybe comment back on the PR? I was thinking we could have screenshots/diffs commented on all PRs to review that we haven't broken anything?

[2018-11-15 08:54] Jaifroid opened #443 "The JS code to open the collapsed References section of an article fails with non-English-language ZIMs"
There is a problem with the JS code that opens a closed/collapsed References section of an article when the user clicks on a footnote reference link. The problem is with this line:

`var ref = $('#References').closest('h2');`

This assumes an English-language ZIM. In fact, the ID here varies according to different languages. For example, in a recent French WikiMed, the References section on most p

[2018-11-16 08:08] #443 closed

[2018-11-18 15:51] kelson42 commented on #347
@ISNIT0 Still does not scrappe properly:

[code]

...

[code]
... and then stuck!

[2018-11-18 16:04] kelson42 commented on #418
@ISNIT0 Do you have an explanation why we need to specify this manually? The CSS coming from Wikipedia should be proper IMO! Why it is not?

[2018-11-18 16:10] kelson42 commented on #338
@ISNIT0 I understand what you mean but I don't think this is really a valid argument. Think about all Wikipedia files hosted on upload.wikimedia.org. What is the real difference with that use case?

[2018-11-18 16:30] kelson42 commented on #395
@Jaifroid So far we have tried to have only one stylesheet. If this is not substainable, then we will make it part of the future JS API, so readers can easily deal with it.

[2018-11-19 15:21] kelson42 commented on #387
@ISNIT0 I confirm :)

[2018-11-19 15:21] #387 closed

[2018-11-19 21:13] Jaifroid opened #445 "Project Gutenberg ZIMs are barely accessible for clients that do not support JavaScript in the ZIM"
I am not sure if mwoffliner is used to produce Project Gutenberg ZIMs, or some other scraping system, so feel free to move this issue if it is not related to mwoffliner.

Recent Project Gutenberg ZIMs now come with a proprietary interface that requires the ability to execute JavaScript in the ZIM to access any of the texts in a meaningful way. Although texts are still accessible by title in the ZI

[2018-11-20 05:43] kelson42 commented on #445
This issue was moved to openzim/gutenberg#75

[2018-11-20 05:43] #445 closed

[2018-11-20 16:03] ISNIT0 commented on #338
Okay, in that case how should we compress the PDF file and the images within it?

[2018-11-20 16:29] ISNIT0 commented on #338
And the difference is that the PDFs are linked in an anchor tag, rather than as a resource (img/vid)

[2018-11-20 19:00] ISNIT0 commented on #426
@kelson42 I've reverted the previous changes and as we discussed, will close this issue.

[2018-11-24 17:13] automactic opened #447 "Can multiple mwoffliner share the same Redis instance?"
If I want to run multiple mwoffliner at the same time on the same machine, can they share the same Redis?

Follow up question: will mwoffliner clean up after itself on Redis after it quits?

[2018-11-25 09:04] kelson42 opened #448 "Clean temporary data if mwoffliner crash"
In redis and on the filesystem.

[2018-11-25 09:04] kelson42 commented on #447
@automactic yes, the same redis instance can be shared. and yes it is cleaned at the end. But we still need to handle crashes properly, see #448

[2018-11-25 09:05] #447 closed

[2018-11-25 15:27] kelson42 opened #449 "Improve selection welcome page"
Using `mwoffliner` with selection of articles, ie. with command line argument `--articleList` has currently following consequences:
* Welcome page is a simple list of the articles (in the ZIM)
* Fill the ZIM only with the articles of the list

This is good, but the welcome page is really a problem because:
* it is "ugly" and not really helpful
* it does not scale.

I propose to following things: R

[2018-11-25 15:33] kelson42 commented on #449
Technical details:
* Most of the images should be anyway in the articles anyway. Probably the size increase should be limited.
* We could anyway limit the capacity of the welcome page to maybe something like 1000 images.
* We could use framework Masonery https://masonry.desandro.com/
* We can identify an image for most of the article using the https://www.wikidata.org/wiki/Property:P18 of Wikidata

[2018-11-26 08:04] Popolechien commented on #449
Sounds good. I have a couple of top-line comments:
- In some cases the Image Property can return multiple items (e.g. [https://www.wikidata.org/wiki/Q1071](https://www.wikidata.org/wiki/Q1071));
- We should maje sure that this tiled menu is also generated with the "nopic" selection (ie no image in the file except for this one landing page);
- There need be some text overlay on each image;
- I thin

[2018-11-26 11:35] ISNIT0 commented on #347
I'm unable to reproduce this so far, I'm going to try and scrape the whole site again, it'll take a while

[2018-11-27 05:36] kelson42 commented on #449
@Popolechien I agree, and the images should be loaded only if displayed (so dynamically). What would you write in this text overlay? When should it appear?
@ISNIT0 Does that sounds doable?

[2018-11-27 07:33] Popolechien commented on #449
Well the text overlay should simply describe exactly what the image links to, e.g. Michael Jackson or Geography. Then there is also the problem of font color vs. background. In the below patchwork (I took a random of some of the most viewed, images are properties of the corresponding Wikidata items) I had to move the text around on the China image so as not to have white on white. Any dynamic gene

[2018-11-27 08:59] ISNIT0 commented on #449
We could solve the text issue with a translucent overlay behind the text.
The dynamic loading would be impossible to do in noJS environments, but fine the rest of the time.

[2018-11-27 11:39] Popolechien commented on #449
Ok ELI5 please: what noJS environments are there out there (ie how many users would we frustrate, and who would they be)?

[2018-11-27 12:33] ISNIT0 commented on #449
@mossroy @jaifroid

I think we need to count browser extensions as noJS?

[2018-11-27 12:39] ISNIT0 commented on #449
@kelson42
- Will there ever be a case where there are no images?
- If the article list has 200 items, do we only show 100? Which 100?
- Do we want to have search functionality? Plaintext search of titles, categories?
- We _could_ make the articleList more than just a list, it could have sections and section titles (similar to markdown) or category separators to make the landing page better?

[2018-11-27 12:40] #338 closed

[2018-11-27 12:48] Jaifroid commented on #449
@ISNIT0 @Popolechien @mossroy

Kiwix JS is currently unable to display active content generated by JavaScript in the ZIM. Most extensions ban inline JavaScript (used extensively in the UIs of TEDx, Gutenberg and other ZIMs). We have support for JS in clients that support Service Workers, but they will never work in extensions given how these proprietary UIs are currently coded.

Therefore the move

[2018-11-27 12:50] ISNIT0 commented on #449
@Popolechien Is this related? https://github.com/openzim/mwoffliner/issues/405

[2018-11-27 12:54] Popolechien commented on #449
Yes.

Le 27 nov. 2018 à 13:50, à 13:50, Joe Reeve <notifications@github.com> a écrit:

[2018-11-27 12:56] Popolechien commented on #449
@ISNIT0 Yes. Different side of the frontpage issue though.

[2018-11-27 15:24] ISNIT0 commented on #347
After fixing the scraping on a local branch, I'm finding some WikiText source is returned by Parsoid.
I've created an issue here: https://phabricator.wikimedia.org/T210509

I'll open a PR for the scraping fixes so far anyway.

[2018-11-27 16:51] kelson42 commented on #449
@Jaifroid @mossroy I do not understand the problem with kiwix-js and javascript in pages. We obviously need to be able to run javascript available inside the HTML content delivered by ZIM files. What is so different with the Gutenberg ZIM file?

[2018-11-27 17:18] Jaifroid commented on #449
@kelson42 We have managed to get by without doing this since the beginning of Kiwix HTML5 / JS! It is not *needed* to access the content of Wikipedia / Wikivoyage / WikiMed. The only bit of JS in those files is one to open and close the heading sections. It was causing problems because it used inline script, banned in extensions. @ISNIT0 helped us to fix that, and support clients that can't run th

[2018-11-28 06:44] kelson42 opened #451 "Snyk problem with publishing"
I can not publish without snyk run and snyk wants a `node_modules` directory, but I do not want to publish the `node_modules` directory. I had to remove Snyk to publish `1.6.0`.

[code]

[2018-11-28 07:02] kelson42 commented on #426
Git revision is still printed, it should not be (after our decision).
[code]

[2018-11-28 07:19] kelson42 commented on #449
No we want this, all the time like @Popolechien said earlier.

The first 100 (having a picture provided by Wikidata) of the list of article titles.

This is not necessary.

Please open a separate ticket to that. This ticket is quit urgent and I do not want to slow down too much the implementation with long discussion about the requirements. That said, this might be good ideas... but this is not cl

[2018-11-28 09:08] ISNIT0 commented on #451
It's not necessary to publish the `node_modules` folder, but Snyk checks the installed packages for vulnerabilities and applies patches.

This kind of tool is especially important in light of https://github.com/dominictarr/event-stream/issues/116#issuecomment-442217436

[2018-11-28 09:13] ISNIT0 commented on #426
This isn't happening on the master branch.

The Git Revision is no longer stored: https://github.com/openzim/mwoffliner/blob/master/package.json#L4
The version printing code is no longer in `mwoffliner.script.js`: https://github.com/openzim/mwoffliner/blob/master/bin/mwoffliner.script.js#L27

Are you sure `master` was published?

[2018-11-28 09:15] ISNIT0 commented on #146
@bradyhunsaker How far did you get with this so far?

@subbuss It was mentioned to me by @kelson42 that the Parsoid team may have some verification tools that were used to compare Parsoid output to PHP/HTML output, do you know anything about this?

[2018-11-28 14:44] mossroy commented on #449
I'll try to give an overview on javascript support (regarding kiwix-js, but not only).

We totally agree that using javascript can improve the user experience, but there must be some fallbacks.
We do what we can to support javascript in kiwix-js, but there are restrictions that are not in our hands.

TLDR : use all the javascript you need to improve the UI, but please :

- **do not use inline java

[2018-11-28 15:07] subbuss commented on #146
Yes, we use a set of tools for this. There is (a) https://github.com/wikimedia/mediawiki-services-parsoid-testreduce (b) https://github.com/wikimedia/integration-visualdiff (c) https://github.com/wikimedia/uprightdiff.

Testreduce is a generic server/client tool for running mass tests (we've test runs that run against 150K pages in the largest usecase and 25K in the smallest usecase). For this pur

[2018-11-28 18:45] ISNIT0 commented on #388
Found a separate Parsoid bug affecting a small number of pages: https://phabricator.wikimedia.org/T210644

[2018-11-28 21:30] bradyhunsaker commented on #146
I have not made more progress.

I have a shell script that uses the REST API to get a set of random pages.
The approach @subbuss mentions of using a large set of top articles is also
reasonable when the time is available. A small random set is good for
catching issues that occur in a certain percentage of the set of articles.
For example, a set of 20 random pages has a 95% chance of testing an iss

[2018-11-30 03:13] ninjastrikers commented on #19
Any update?

[2018-12-01 10:14] ISNIT0 commented on #426
@kelson42 I'm not seeing this after running `npm i -g mwoffliner && mwoffliner --version`

[2018-12-01 10:40] kelson42 commented on #426
@ISNIT0 For some reason, the `package.json` keeps `"gitRevision": "c00e7db"`... even if it has been update (file timestamp is new). I think does not make sense to investigate more. I just have remove it and then things are OK.

[2018-12-01 10:40] #426 closed

[2018-12-01 17:34] ISNIT0 commented on #146
I have created and merged a very simple test runner (compares a running branch to master with a recursive diff).

The results are never exactly the same, I think because there's a race to get similar files and the first (or last) downloaded wins.

I'll leave this ticket open because we still need to implement:
- Screenshot comparisons
- Unit tests

[2018-12-02 20:32] kelson42 commented on #19
@ninjastrikers Not really, so far it is not clear how to solve the full problem. Mediawiki/Wikipedia seems to have abandonned the web font solution...

[2018-12-03 13:19] #395 closed

[2018-12-06 07:04] Popolechien opened #455 "Wikipedia descargable sin imágenes"
_From @DaviidPaez on December 5, 2018 17:32_

Pues apenas soy un usuario principiante y viéndola por un tiempo, menor de un mes, me di cuenta que las imágenes eran necesarias, pero no vi una opción de descarga para estas :(
Y mi opinión es que sería muy util tener una opción en las páginas que diga "Descargar imágenes para esta página (si están disponibles)" pero no sé si haya algo similar o si lo

[2018-12-06 07:04] Popolechien commented on #455
_From @kelson42 on December 6, 2018 6:27_

@Popolechien No clue about what is this ticket, but probably at the wrong place.

[2018-12-06 07:04] Popolechien commented on #455
He says that he did not understand the different files, ended up with the nopic version and would like us to be clearer about what is with/without images. Very much related to what I flagged in [#190](https://github.com/openzim/mwoffliner/issues/190)

[2018-12-06 07:04] Popolechien commented on #455
_From @kelson42 on December 6, 2018 6:48_

@Popolechien thx

[2018-12-06 07:07] Popolechien commented on #455
Hola @DaviidPaez los imagenes se encuentran en los archivos que se llaman "_all" o "_novid". Los que son sin imagenes son los "_nopic". Pero tienes razon que debemos hacerlo mas facil de entender.

[2018-12-06 18:51] Popolechien opened #456 "Multimedia is not always scraped properly (was: 20-40% size decrease for Spanish zim files?)"
wikipedia_es_medicine_2018-10.zim (630 Mb) is smaller than the earlier wikipedia_es_medicine_2018-09.zim (845 Mb)

I don't see that pattern in French, for instance.

Any way we can test what's missing?

[2018-12-06 19:50] kelson42 commented on #456
The problem is around the pictures, both files have almost the same pictures, but it looks like that in the October version, they are bigger. For example:
* `I/m/f1,4-butanediol.svg.png` has 910 bytes in October, but 1802 bytes in November

This kind of situation is not new, so this is probably not a regression, but we have too much of a difference to say that this is normal.

@ISNIT0 I suspect a

[2018-12-06 19:53] ISNIT0 commented on #456
After a cursory look, they seem to have a similar number of articles:
[code]

@kelson42 It seems the more recent file is smaller than the older one even though it has more files

[2018-12-06 19:59] kelson42 commented on #456
wikipedia_es_all_nopic_2018-04.zim is 6.2 Gb whereas wikipedia_es_all_nopic_2017-08.zim (genererated 4 months later) is only 3.6 Gb.

[2018-12-06 20:03] ISNIT0 commented on #456
Okay, will look into it

[2018-12-06 20:59] ISNIT0 commented on #456
Still finding weird numbers...
[code]
The larger file has fewer articles...

[2018-12-07 06:07] kelson42 commented on #456
@ISNIT0 Please focus on the medical example... for the wikipedia_es_all_nopic example (which has been removed from the comment), I think the explanation is easy: One as the fulltext index, the other one does not.

[2018-12-07 06:08] kelson42 commented on #456
I have copied the files to http://tmp.kiwix.org/, to be sure we keep them.

[2018-12-07 09:57] ISNIT0 commented on #456
@kelson42 The main difference seems to be the webm files:
e.g.
The 09 file has:
[code]
The 10 file has:
[code]

I think we can put it down to the lower resolution videos. Is this a problem?

[2018-12-07 18:36] kelson42 commented on #456
@ISNIT0 How do you explain the difference of size of `I/m/f1,4-butanediol.svg.png`?

[2018-12-09 13:25] kelson42 opened #457 "Support HTTP(S) links for options asking for a path"
We need to expand support of options asking for a path to a file like:
* `--articleList`
* `--customZimFavicon`

These options should also support HTTP(S) links, in that case the content would be downloaded first to `/tmp` and the `mwoffliner` would read the file from here. If the download would failed, then `mwoffliner` would failed. The temporary files should be deleted at the end of the run.

T

[2018-12-10 21:06] ISNIT0 commented on #404
This is fixed already by the mediawiki instance using the latest Parsoid and MCS, so this could be closed, I'll leave it open anyway until the above PR is merged

[2018-12-10 21:12] ISNIT0 commented on #423
@bradyhunsaker I've merged that PR, please do go ahead and add those bits 👍

[2018-12-11 10:33] ISNIT0 commented on #449
By no means complete, but this is where we're at so far:
https://framadrop.org/r/7tIckfEx0j#IR62qiivR/bG/qT9Q8HDPSqdPYrS1alcsaN9VTW5rc0=

Known issues:
- Articles are not displayed in the same order as in the `articleList` but are sorted alphabetically
- No sensible handling for non wikipedia sites yet

[2018-12-11 10:43] kelson42 commented on #449
@ISNIT0 @tamasfabi, Thank you for this promising first version. Here are my remarks (beside the issue you have already mentioned):
* No list at the end
* Background should be invisible, pictures should stick nicely to each other to the full page
* No title at the top of the page

[2018-12-11 17:54] #404 closed

[2018-12-12 07:42] kelson42 opened #462 "Missing (broken?) images in latest en zim"
_From @jargony on December 11, 2018 19:40_

In the latest enwiki zim file, wikipedia_en_all_novid_2018-10, images are broken in some articles. It is true for several large articles. Se attached image.

![united states](https://user-images.githubusercontent.com/45800554/49825499-e12af780-fd84-11e8-9243-338c98edfa51.png)

_Copied from original issue: kiwix/kiwix-desktop#74_

[2018-12-12 07:42] kelson42 commented on #462
_From @mossroy on December 11, 2018 19:47_

I confirm this issue

[2018-12-12 07:42] kelson42 commented on #462
It is a problem in the ZIM file, moving the ticket to mwoffliner.

[2018-12-12 07:44] kelson42 commented on #462
We have this kind of problem since the beginning of creating ZIM file. It might be a problem with mwoffliner or with zimwriterfs... but more probably with mwoffliner. @ISNIT0 you have I think improve the content downloader in 1.6, what is your opinion on this kind of problem?

[2018-12-12 14:37] ISNIT0 commented on #462
@kelson42 I don't think the downloader was changed much in 1.6, I'll take a look at the ZIM file soon.

[2018-12-12 19:57] ISNIT0 commented on #449
Here's a ZIM of the above mentioned issues solved:
https://framadrop.org/r/TwJI5CzYjk#g/zoZzfJSu57jX5zNLX54eprwMLOy2tw+tFyHRmjnRo=

[2018-12-13 05:21] kelson42 commented on #449
@ISNIT0 Have you tried it with kiwix-desktop? To me it display only one column with the pictures (extremely magnified) in a (vertical) row, not a patchwork display at all.

Otherwise you could also try it now with a real case of article selection: https://download.kiwix.org/wp1/enwiki_2018-12/tops/1000

[2018-12-13 07:34] Popolechien commented on #449
Ok so I just tested it on Kiwix-desktop macOS, Kiwix-JS and android:
- on macOS, only one column, does not re-organize but zooms as I expand window;
- on Kiwix-JS I have a nice tile layout (what we expect);
- on android a single column as well that fits the window size.

It's actually a good thing we use @ISNIT0 's selection as the first article is that of a Manuel Torres, and seeing his face firs

[2018-12-13 09:02] Jaifroid commented on #455
@Popolechien is right that the user has perhaps not understood the difference between nopic ZIMs and versions with images. However, this user is also asking for an option in the client to download the images for the nopic article he is reading. Full translation:

So, this would be a hybrid offline/online solution. You have a fully functional offline version with no pictures, that fits on your phon

[2018-12-13 14:37] ISNIT0 commented on #146
Would be nice to use this: https://blog.percy.io/visual-testing-in-nightwatch-js-with-percy-1b68c122cf94

[2018-12-14 04:33] kelson42 commented on #455
@Popolechien There is a ticket somewhere about that feature. We can not deal with that for now. The effort to have same URL path that @ISNIT0 is doing is anyway a prerequisite for that.

[2018-12-14 04:33] #455 closed

[2018-12-14 04:37] kelson42 commented on #449
1 - We will see, this is really an other topic, this list is not created anyway by `mwoffliner`
2 - All sub-selections ZIM (not clear to me if we will use it for `nopic`)
3 - This is the role of the reader, not of the ZIM file IMO.

[2018-12-17 12:58] #146 closed

[2018-12-18 10:01] ISNIT0 commented on #449
@kelson42 Here is the latest version:

What should we do when no images are found? Show an old-style welcome page?

[2018-12-18 10:10] kelson42 commented on #449
@ISNIT0 Skip the articles with no images and go ahead down in the list. If at the end, you have less than THRESHOLD images available, fallback to the text mode.

[2018-12-20 10:34] #325 closed

[2018-12-20 10:58] ISNIT0 opened #471 "Update Changelog"

[2018-12-20 11:49] ISNIT0 commented on #449
Outputs of #469:

With ~100 articles:
https://framadrop.org/r/RvjnhZNL-Z#02myCmB4E16WWumDvjcS/X2S8Q81RdPIKK9Ovu/na64=

With <10 articles: (switch to link only mode)
https://framadrop.org/r/l94uKjTa15#I9u7zyQUqeZh90uATxvVF90KPonrQhqS8oYRT0SQKUc=

[2018-12-20 14:21] Popolechien commented on #449
Looks good on macOS and Kiwix-JS: is there a limit to the number of images by row (4, by the look of it)? On a large screen I can get 2, 3 or 4 images per row, not more (and not less). Not really a blocker, but just a remark.

[2018-12-23 10:17] #16 closed

[2018-12-23 10:17] #471 closed

[2018-12-23 10:18] ISNIT0 opened #475 "Release 1.7.0"
Tasks:
- Verify snyk has protected all packages
- Release to NPMJS
- Test

[2018-12-23 14:44] kelson42 commented on #451
@ISNIT0 So, what is the step-by-step publishing procedure? Could you please update the README? The classical npm login and npm publish does not work anymore.

[2018-12-23 14:53] kelson42 commented on #475
@ISNITO I usually test before releasing. Will do so and come back to you.

[2018-12-23 16:02] ISNIT0 commented on #475
I meant test the release by installing it 👍

[2018-12-23 16:03] ISNIT0 commented on #451
@kelson42 What is the error you get? The publish process should be un-changed (other than that `snyk protect` runs when you run `npm publish`)

[2018-12-23 16:05] kelson42 commented on #451
@ISNIT0 The error log is in the ticket! What should I give more?

[2018-12-23 16:13] ISNIT0 commented on #451
Have you run `npm i`?

[2018-12-23 23:48] #451 closed

[2018-12-24 09:16] kelson42 commented on #449
I re-open the issue because I see a few things which are not working well:
* The background seems to be white instead of black (if pictures, default nopic version should still be white)
* The effect of zoom by going over a tile has disappear, this was great (an important IMO)
* In Kiwix Desktop, tiles stick to each other but if I open one an come back, then a padding of a few pixels appear beetwee

[2018-12-24 10:15] ISNIT0 commented on #449
@kelson42

I can't reproduce this, it may be a webview rendering issue (I don't know what Kiwix Desktop uses for viewing the ZIM files) or related to a specific window size.

[2018-12-24 10:33] kelson42 commented on #449
With last nighly of Kiwix Desktop on Ubuntu: https://download.kiwix.org/nightly/2018-12-23/

You can see the padding beetween the images. I see the same with kiwix-serve and FF64.0.

![scr](https://user-images.githubusercontent.com/1029718/50397261-6c39c380-076f-11e9-8407-0892d4809777.png)

[2018-12-24 16:57] ISNIT0 commented on #449
Okay, I am unable to reproduce on OSX 2.0.9 or using kiwix-serve in Chrome or Firefox.

![image](https://user-images.githubusercontent.com/5173131/50404176-e3398100-079c-11e9-8088-2784d099b022.png)

[2018-12-26 17:43] ISNIT0 commented on #449
@kelson42
Latest ZIM file (with black background):
https://framadrop.org/r/TMmynJ6L0Y#fHfKYWpf3pWx+5DL5riz2Fz929JwesIyoxmLMAyzo94=

[2018-12-26 17:52] Popolechien commented on #449
Works fine by me (macOS, Kiwix-JS and Android).
@kelson42 why should there be a black background rather than the customary white? It does look kinda weird, particularly if the image has no background.
![capture d ecran 2018-12-26 a 18 50 29](https://user-images.githubusercontent.com/21675885/50453185-27648700-093f-11e9-9940-e5ff7b6ad43b.png)

[2018-12-27 13:38] kelson42 commented on #169
@ISNIT0 The fix has been done on Rational wiki side, let us check if it works fine during 1.8.

[2018-12-28 11:46] Jaifroid commented on #190
It's not too hard to guess what `novid` means. On the other hand, I haven't a clue what `nodet` means... (I know there's an issue for that). If you change `novid` to something else, I wonder if it should be `no-video` (using a hyphen), because semantically the underscore in the filename titles seems to separate important "categories" of information about the type of ZIM. So, we have: `wiki type` _

[2018-12-30 18:15] ForelliCH commented on #337
Based on this post: Is there any way to run the big files on a Raspberry Pi (kiwix-server-0.9-linux-armv5tejl.tar.bz2)?

I have the same error with the file wikipedia_en_all_nopic_2018-09.zim. I have many installations with Kiwix Server on Raspberry PI abroad and would need to update the ZIM files now... :-(

[2018-12-30 20:07] kelson42 commented on #337
@ForelliCH Please open a new ticket with the details of what you do, get and expect.

[2018-12-31 07:35] kelson42 commented on #449
Works mostly fine now :) Thx.

[2018-12-31 07:35] #449 closed

[2019-01-02 15:03] kelson42 opened #479 "What is "--mcsUrl" for"
What is the typical use case for a Wikipedia or an other Wikipedia. Example welcome. I ask, because to me it should IMO just work - so not needing a special parameter!

[2019-01-02 15:05] kelson42 commented on #457
This seems to fail to me. Tested with git master HEAD:
[code]

[2019-01-02 15:09] kelson42 opened #480 "[REGRESSION] --articleList seems not to be able with a local file anymore"
[code]

It should work IMO

[2019-01-02 15:11] ISNIT0 commented on #480
Could you try passing article list as `./100` rather than just `100` please?

[2019-01-02 15:11] kelson42 opened #481 "A proper error message should be printed if --articleList URL or path is wrong"
Not sure if this is a regressions but, if the --articleList URL or path is not available, a proper error should be displayed. I get a this:
[code]

[2019-01-02 15:12] ISNIT0 commented on #479
I added it just to keep parity with `--parsoidUrl` in case it was needed. I guess it would be needed in the same cases.

[2019-01-02 15:13] kelson42 commented on #480
@ISNIT0 Works better, but still a problem.

[2019-01-02 15:30] ISNIT0 commented on #263
The `--useCache` defaults to true, to disable the cache, use `--useCache=false`

[2019-01-02 15:31] kelson42 commented on #263
@ISNIT0 ok, this is a bit "complicated", would be better to just use nocache per default and then just have `--useCache` to activate it?

[2019-01-02 15:32] ISNIT0 commented on #263
@kelson42
Okay, I will do this

[2019-01-02 16:57] ISNIT0 commented on #457
This was caused by changes involving the article list home page. The above PR fixes the issue

[2019-01-03 16:30] kelson42 commented on #190
It is impossible (to many things to say) to make a ZIM file which is properly explaining the content. On the top of this a ZIM file could be changed. to the contrary to the ZIM content. So it is really a bad idea to rely to the filename to do so. The solution we have, and I want to stick to, is the tagging system... and in it there is a "novid" tag. Considering the fact that these tag should not b

[2019-01-03 16:39] Popolechien commented on #190
If novid was so self-explaining we wouldn't have people coming over asking what it means. Remember that a fair share is non- or poor- English speaking, and that is novid as a word, without context, is really lacking in info. It would not hurt to _at least_ rename it to "novideo".
(I agree with the rest of your discussion and tagging really is the way forward; but until then, that could be a quick

[2019-01-03 16:48] kelson42 commented on #190
@Popolechien You say it, it is impossible to have 100% success on this - simply because not all people can speak English. So, you need to have something on the reader side to localise it, make it clear to users.

[2019-01-03 16:53] tim-moody commented on #190
@kelson42 I understand that these tags are now legacy and not easily changed, however, I would have preferred positive rather than negative tags such as has_videos, has_audio, etc. as such tags are more extensible. Today no tag means has videos, but that was not true in the past and might not be true in the future.

[2019-01-03 17:02] Jaifroid commented on #190
Whatever is decided, please try to avoid using an underscore in the tag name, because as I mentioned [above](https://github.com/openzim/mwoffliner/issues/190#issuecomment-450347094), the underscore currently separates useful info categories in the filename, and I actually rely on that in Kiwix JS Windows, to parse bits of the filename for filtering ZIM files on the server. A hyphen would be fine,

[2019-01-03 17:32] ISNIT0 opened #484 "Error when running Snyk Protect"
I have an open support ticket with Snyk.
Our Travis CI is breaking because running `snyk protect` fails in MWOffliner.

I'll update this issue as the ticket progresses.

Affected PRs:
#483
#482

[2019-01-03 18:00] kelson42 opened #485 "Rename a few tags"
DISCLAIMER: This discussion is only about tags and not about file names or `mwoffliner` formatting options.

Our content tags suffer of a few weaknesses:
* They are negative (not easy to understand)
* They are overloading, for example: `nopic` mean also `novid` (implicit logic)
* Readers rely on them, but they are not protected, starting with `_`

I propose an other approach to say the same things

[2019-01-03 18:01] kelson42 commented on #190
@tim-moody I have open a specific ticket about your long standing request on this. Hope this is more or less what you meant.

[2019-01-03 18:02] ISNIT0 commented on #485
So an example might be `wikipedia_en_all_with_pictures_with_videos_with_audios_introduction_only`?
That seems a little excessive don't you think?

[2019-01-03 18:03] ISNIT0 commented on #479
@kelson42 Can we close this issue?

[2019-01-03 18:03] kelson42 commented on #190
@Jaifroid This is really a weakness in the reader IMO. Not a problem with the content.

[2019-01-03 18:08] kelson42 commented on #479
@ISNIT0 I think we need the `--parsoidUrl` because otherwise we rely on the visual editor API which might not be installed... This is a bit an edge case (parsoid but not VE), but this happened in the past. Do we have this kind of use case for MCS? In which use case this option would concretely be needed?

[2019-01-03 18:09] kelson42 commented on #485
@ISNIT0 I guess you don't have read the first sentence of the ticket?!

[2019-01-03 18:44] tim-moody commented on #190
@Jaifroid have a look at https://github.com/iiab/iiab-admin-console where I do the same. I use the kiwix catalog to get the meta data rather than parsing the name. (except that I distinguish between the generic name like wikipedia_en_all vs the instance name like wikipedia_en_all_2018-10 which I have to parse)

[2019-01-03 19:56] Jaifroid commented on #190
@tim-moody Very helpful, many thanks! I'll take a look.

[2019-01-03 20:03] Jaifroid commented on #485
Are these tags in the catalogue? In the ZIM file metadata?

[2019-01-04 16:42] #263 closed

[2019-01-04 19:13] #457 closed

[2019-01-04 19:13] #481 closed

[2019-01-04 19:14] #480 closed

[2019-01-06 10:36] kelson42 commented on #479
@ISNIT0 Could you please remove the option if we do not have a concrete usecase of it?

[2019-01-07 09:20] mgautierfr commented on #485
I've already commented about tag and propose a solution here : https://github.com/kiwix/kiwix-lib/issues/131

[2019-01-07 11:13] ISNIT0 commented on #479
`--parsoidUrl` has been removed. We no longer use Parsoid directly. We only use MCS.

- Some sites have their own MCS (Wikipedia etc.), some don't.
- Some sites may host their MCS at a different url/path.

I'm happy to remove it, and will do so today

[2019-01-08 11:21] #479 closed

[2019-01-08 12:46] kelson42 opened #488 "mwoffliner still fail to retrieve online content properly"
[code]

[2019-01-08 13:01] kelson42 opened #489 "Replace --withZimFullTextIndex with --withoutZimFullTextIndex"
Which means that per default `zimwriterfs` is called with the option to create the FT index

[2019-01-08 13:08] ISNIT0 commented on #488
Odd, I can't reproduce this locally. I'll look into it more later. Have you definitely updated?

[2019-01-08 13:28] kelson42 opened #490 "Remove "--localMcs" option (replace by autodetection)"
and what is its relationship to Parsoid?

[2019-01-08 13:50] ISNIT0 commented on #490
See https://github.com/openzim/mwoffliner/pull/467

MCS depends on Parsoid.

[2019-01-08 14:45] kelson42 commented on #490
@ISNIT0 But why having removed `--localParosoid` if this basically to replace it with `--localMcs`? The goal of removing `--localParsoid` (I don't find anymore in which ticket this was discussed) was to start local parsoid/mcs only if necessary and automotically - so the option becomes useless.

[2019-01-08 14:53] ISNIT0 commented on #490
@kelson42 I don't know what you mean about removing `--localParsoid`, I don't remember being involved in that conversation.

In #467 I say:

This is because Parsoid would be started when MCS is started anyway.
We have now removed `--mcsUrl`, so the only way to control behaviour of MCS is with the `--localMcs` flag.

[2019-01-08 14:56] kelson42 commented on #490
@ISNIT0 OK, I understand/remember better now. Would that be possible, to just detect if MCS is available online and just start it locally if necessary?

[2019-01-08 14:56] ISNIT0 commented on #490
Possible, yes. Let's add it to 1.8?

[2019-01-08 14:58] kelson42 commented on #490
@ISNIT0 Thx for the explanation and proposal, that would be great yes.

[2019-01-08 15:09] kelson42 commented on #488
@ISNIT0 Maybe a problem with relative/abslute path? I wonder about `[tmp/articleList]`... it should not be `[/tmp/articleList]`?

[2019-01-08 15:19] ISNIT0 commented on #488
@kelson42 It's supposed to be relative, storing in the generated `tmp` directory

[2019-01-08 15:35] kelson42 commented on #488
@ISNIT0 Two other minor bugs:
* You might also create a subdirectory with a random name to `tmp`... otherwise if you have two `mwoffliner` running on the same directory they will write and overwrite the file.
* An other point is that the name of the file should be kept, because it has an impact in the final ZIM file name (at least for the `--articleList` option).

[2019-01-09 00:09] p-deli opened #491 "A proper error message should be printed if rsvg-convert was not found"
Just installed mwoffliner in Ubuntu 18.10 Desktop.
When issuing `mwoffliner --mwUrl=http://192.168.56.5/UnifiedICTDoc --adminEmail=foo@bar.net --verbose` or `mwoffliner --mwUrl=https://ts.wikipedia.org --adminEmail=foo@bar.net --verbose`, I get this:

[code]
A proper error could perhaps be displayed…?

`sudo apt install librsvg2-bin` solved the problem… (although a new one appeared, but that is an

[2019-01-09 00:34] p-deli opened #492 "throw er; // Unhandled 'error' event"
After having solved the `rsvg-convert` problem by installing `librsvg2-bin` (see [issue 491](https://github.com/openzim/mwoffliner/issues/491)), I now get the following when typing `mwoffliner --mwUrl=http://192.168.56.5/UnifiedICTDoc --adminEmail=foo@bar.net --verbose`:

[code]

Or this when I type `mwoffliner --mwUrl=https://ts.wikipedia.org --adminEmail=foo@bar.net --verbose`:

[code]

[2019-01-09 05:07] kelson42 commented on #492
@p-deli Which version of the mwoffliner? Which OS? Have you read the README file?

[2019-01-09 05:08] kelson42 commented on #491
@p-deli Agree

[2019-01-09 05:41] kelson42 opened #493 "Wikivoyage: Extraneous Wikipedia and Wikidata icons in listings"
_From @ARR8 on January 8, 2019 16:4_

App version: Wikivoyage 2018-12
Android version: 9, no Google Play Services

These could either have the link or be hidden. As-is, they interrupt the flow of the text and mislead.

![screenshot_20190108-110330_wikivoyage](https://user-images.githubusercontent.com/8064135/50842609-fa609d00-135e-11e9-89c6-07bc5600a50c.png)

_Copied from original issue: kiwix/kiw

[2019-01-09 05:41] kelson42 commented on #493
This has to do with the scraper `mwoffliner`. Moving the ticket.

[2019-01-09 05:42] kelson42 opened #494 "Wikivoyage: Tapping on map marker number unhandled"
_From @ARR8 on January 8, 2019 16:2_

App version: Wikivoyage 2018-12
Android version: 9, no Google Play Services

The markers are also always numbered 1.
See error at bottom of image
![screenshot_20190108-105902_wikivoyage](https://user-images.githubusercontent.com/8064135/50842431-93db7f00-135e-11e9-915d-5776def0fae4.png)

_Copied from original issue: kiwix/kiwix-android-custom#25_

[2019-01-09 05:42] kelson42 opened #495 "Space beneath every image"
_From @ARR8 on January 8, 2019 15:56_

App version: Wikivoyage 2018-12
Android version: 9, no Google Play Services
![screenshot_20190108-105136_wikivoyage](https://user-images.githubusercontent.com/8064135/50842032-d3ee3200-135d-11e9-963e-8be2686e7566.png)

_Copied from original issue: kiwix/kiwix-android-custom#24_

[2019-01-09 05:42] kelson42 commented on #495
@ARR8 Thx, I suspect a problem with the content itself. Should have a look in detail

[2019-01-09 08:08] ISNIT0 commented on #491
For this matter, we could do with proper error messages for all of the required commands: https://github.com/openzim/mwoffliner/blob/master/src/Utils.ts#L102

[2019-01-09 08:10] ISNIT0 commented on #492
@p-deli You need Redis to use MWOffliner. By default MWOffliner will try to connect via `/dev/shm/redis.sock`. You can provide a custom Redis connection string using something like `--redis=redis://127.0.0.1:6379`

[2019-01-09 08:18] kelson42 commented on #491
@ISNIT0 yes, we should never see unhandled error IMO.

[2019-01-09 08:36] ISNIT0 commented on #488
@kelson42 Looking at the code, I'm using `zim.tmpDirectory` to decide where to put the `articleList` file. I think it's best we put the downloaded files inside the MWOffliner directory?

[2019-01-09 08:45] kelson42 commented on #488
@ISNIT0 What is the `mwoffliner` directory? Why?

[2019-01-09 08:48] ISNIT0 commented on #488
@kelson42 I mean the `node_modules/mwoffliner` directory. I've started working on this and changed my mind now.
I'm creating a timestamped mwoffliner tmp directory in the user's working dir which we download the article list to.

[2019-01-09 08:50] kelson42 commented on #488
@kelson42 OK, "yes" this was a bad idea. How is the current dir better than `zim.tmpDirectory` ?

[2019-01-09 08:58] ISNIT0 commented on #488
The `zim.tmpDirectory` is what we are currently using, it doesn't work!

[2019-01-09 09:05] kelson42 commented on #488
@ISNIT0 OK but why? Any fondamental problem? To me this is just a bug, this does not proove the approach is wrong!

[2019-01-09 09:12] ISNIT0 commented on #488
@kelson42 I don't know how `zim.tmpDirectory` is expected to behave, but I believe this is expected behaviour.

[2019-01-09 09:31] kelson42 commented on #488
@ISNIT0 Please secure that things happen in `zim.tmpDirectory` following these instructions: https://github.com/openzim/mwoffliner/issues/488#issuecomment-452341935. This is how things should behave, and so far it's not.

[2019-01-09 12:46] p-deli commented on #492
Please find here below the answers to your above mentioned questions:
- mwoffliner version 1.6.0
- Ubuntu release 18.10 (cosmic, desktop edition)
- Yes, I read the README file, as a matter of fact that is what I used to install mwoffliner (although I needed much more things; I can provide you the installation guide I made myself if you want)

[2019-01-09 12:59] p-deli commented on #492
@ISNIT0 thank you for your comment. Please find here under the details concerning redis:
- `redis-server --version`: Redis server v=4.0.11 sha=00000000:0 malloc=jemalloc-5.1.0 bits=64 build=fc908f68b3e66abd
- typing `redis-server`and pressing return gives the following:
[code]
- I tested redis as suggested [here](https://redis.io/topics/quickstart) and it worked
- therefore, I tried to specify `--

[2019-01-09 19:39] automactic opened #496 "429 when running from cloud VPS"
I am running mwoffliner on `mwoffliner1.mwoffliner.eqiad.wmflabs`. The parameter used is:

- mwUrl: https://ace.wikipedia.org
- adminEmail: contact@kiwix.org
- format: novid
- withZimFullTextIndex

Command to reproduce:
[code]

Logs:
[code]

[2019-01-10 06:48] Jaifroid commented on #494
The problem here is that either the client or the OS doesn't know what to do with geo: links. These links are part of the vCard schema. We had an issue in Kiwix JS which supported these: see [Make vCard geo: and tel: URIs work](https://github.com/kiwix/kiwix-js/issues/313). However, I don't think this is an mwoffliner issue. The links are correct in the source html, so it's up to the client to int

[2019-01-10 07:04] itcotta opened #497 "No images are downloaded"
Hey, I'm successfully being able to fetch all the text and structure of my wiki but the images aren't being fetched for some reason, while the dump is ongoing i see this:

`Unable to download content [1] http://mywiki/wiki/images/1/1a/myimage.png (response code: 406).
Absolutely unable to retrieve async. URL: Unable to download content [3] http://mywiki/wiki/images/1/1a/myimage.png
(response code:

[2019-01-10 11:01] kelson42 commented on #496
@ISNIT0 Might that be that this problem might be fixed with 1.7 as we do far less HTTP requests to check redirects?

[2019-01-10 13:40] automactic commented on #496
@kelson42 None. Only one mwoffliner is run at a time.

The only difference I can think of is last year I am using my own kiwix email, now I am using the kiwix contact email.

[2019-01-10 14:09] kelson42 commented on #497
@itcotta Which version of `mwoffliner` do you use?

[2019-01-10 14:43] itcotta commented on #497
@kelson42 I'm running the docker version. I started my docker container from the docker-compose located in the git repo (after cloning the git repo to my disk).

`docker-compose --file   C:\Users\morish\Downloads\mwoffliner-master\docker\docker-compose.yml run mwoffliner`

[2019-01-10 15:30] ARR8 commented on #494
You're right, the problem's on my end, thanks. Safe to close the issue.

[2019-01-10 15:31] ARR8 commented on #494
Er, not quite. Maybe the issue with the marker numbers not iterating or being visible should be spun off.

[2019-01-10 16:38] Jaifroid commented on #494
Numerical markers only make sense if you have a map represented in the app. Then they are used to mark specific places on the map. In Kiwix JS Windows, I simply transform these to unnumbered map pins, as shown in the screenshot. The screenshot shows these map pins in the app on the right, and one of them opened in the Maps App on the left. When clicking on a map pin, the system app should open cen

[2019-01-10 19:49] kelson42 commented on #496
I have created a task upstream https://phabricator.wikimedia.org/T213475

[2019-01-10 22:03] automactic commented on #496
@kelson42 @ISNIT0 The above command runs successfully on my local machine.

[2019-01-11 06:34] kelson42 commented on #496
@automactic Thx for testing, it looks like to me something needs to be changed on WMF side. If we reach the limit already with one `mwoffliner`, then we will have massive problems with 5+... even assuming the scrapping works better.
@ISNIT0 We really need to finish/release `mwoffliner` 1.7 ASAP to benefit from your optimisation and see how the Wikimedia Cloud VPS will behave with it.

[2019-01-11 06:38] kelson42 commented on #497
@itcotta OK, it's the first time I see this kind of problem. A dump at the HTTP server level would probably allow to identify what is different between your manual test request and mwoffliner. So far I know the `mwoffliner` do not do anything special.

[2019-01-11 08:52] kelson42 commented on #492
@p-deli yes please.

[2019-01-11 09:50] p-deli commented on #492
Will do @kelson42 . However, before doing that I was wondering if I should open 2 or only one. `--verbose` shows a recurring 4 lines out of which the fourth always ends up in error (like shown below) and there is another error where `zimwriterfs` seems to receive 2 contradictory arguments leading to the failure of the ZIM file creation (shown at the end of this comment). My question: should I trea

[2019-01-12 14:20] p-deli opened #499 "ZIM file creation for local wiki gets repeated retrieval error"
Issuing following command `mwoffliner --mwUrl=http://192.168.56.5/UnifiedICTDoc --adminEmail=foo@bar.net --verbose --redis=redis://127.0.0.1:6379 --mwWikiPath=/ --mwApiPath=api.php` leads to repeated `Getting…`, followed by `Downloading`, then `Caching`, and finally `Error by retrieving article…` as shown below (please note that this error might be linked to another problem mentioned in a [separat

[2019-01-12 14:48] p-deli opened #500 "Failed to build successfully the ZIM file from local wiki"
(This issue might be related to [this other one](https://github.com/openzim/mwoffliner/issues/499).)

Issuing following command `mwoffliner --mwUrl=http://192.168.56.5/UnifiedICTDoc --adminEmail=foo@bar.net --verbose --redis=redis://127.0.0.1:6379 --mwWikiPath=/ --mwApiPath=api.php` leads to a `Failed to build successfully the ZIM file`. The `--verbose` argument shows several things that looks odd

[2019-01-12 15:19] kelson42 opened #501 "1.7.0 has not been tagged"

[2019-01-12 15:49] kelson42 commented on #500
@p-deli It's true that there is a bug with two `--welcome` entries, but this is only in the log message, the real command is OK. I just have it with 7f99f2beeefa534371d2207f26d90108899329e7

[2019-01-12 15:56] kelson42 opened #502 "[REGRESSION] Does not work anymore without --articleList argument"
[code]

[2019-01-12 15:57] kelson42 commented on #502
@ISNIT0 It is pretty important that we close 1.7 ASAP, could you have a look to this issue too please?

[2019-01-12 15:59] kelson42 commented on #499
@p-deli Do you have both Parsoid/Visualeditor working properly on your wiki? If not, please use the option `--localParsoid`

[2019-01-12 18:14] #502 closed

[2019-01-12 18:21] kelson42 opened #504 "zimwriterfs: unable to find redirects TSV file at 'null'"
[code]
and then at the end

[code]

[2019-01-12 20:17] p-deli commented on #499
@kelson42 . Thanks for the tip. Adding the argument `--localParsoid` worked. The ZIM file has been created. However, many pages of the wiki are missing. Any ideas?

[2019-01-12 20:33] kelson42 commented on #499
@p-deli in which namespace(s) are these pages?

[2019-01-12 21:02] p-deli commented on #499
Everything is in (Main). But by adding the argument ` --keepEmptyParagraphs` everything seems to be there.

The only apparent issue I see now is that the automatic Figure and Table numbering and references thereof (extension [CrossReference](https://www.mediawiki.org/wiki/Extension:CrossReference)) do not work: all figures and tables have the number 1 and the inline references show 3 question mark

[2019-01-12 21:06] kelson42 commented on #499
@p-deli Yes, probably this is not properly supported by Parsoid. I recommend to open a bug at https://phabricator.wikimedia.org/

[2019-01-13 00:35] ISNIT0 commented on #184
An example ZIM file made with the progress so far:
https://framadrop.org/r/eRSd6f7foj#25n0DjqyZscAZw4FS259vNyXPkn6yMgcrQtCeOb2W/o=

[2019-01-13 06:54] kelson42 opened #506 "Remove --writeHtmlRedirects option"
I do not see any added value anymore to that option.

[2019-01-13 16:31] kelson42 commented on #504
I think think this is fixed now.

[2019-01-13 16:31] #504 closed

[2019-01-13 16:41] kelson42 commented on #417
@Popolechien The question of the overall naming and filenaming seems answered with https://github.com/openzim/zim-requests/issues/129. We have then the question of the tagging which should be handled with https://github.com/openzim/mwoffliner/issues/485

[2019-01-13 16:59] kelson42 commented on #485
It seems that @mgautierfr @automactic @tim-moody are all in favour of a tagging system with the ability to put append a value like `=true` or `=false`. Like expressed many times in the past, I have still a doubt if this is a good idea, but I kind of trust your agreement on this to be a good move. So here is an alternative proposal based on your feedbacks:
* All of the following will be standardise

[2019-01-13 17:01] kelson42 commented on #485
@tim-moody This is a topic too, I agree. But I want to treat this separately.

[2019-01-13 17:03] tim-moody commented on #485
@kelson42 I wonder if the initial underscore is still necessary, since all tags have it. Are you proposing a delimited list of tags as at the moment or that these tags become individual attributes?

[2019-01-13 17:08] tim-moody commented on #485
There is also the problem of a transition plan. Will we have a time when some zims have one set and of tags and others have another? How is backwards compatibility managed? If you plan to make these tags attributes, you could retain the old list as a tags attribute for a transition period.

[2019-01-13 17:13] kelson42 commented on #485
Yes, maybe, need to think about that.

[2019-01-13 17:14] kelson42 commented on #485
If we want to build software on this, this needs to be somehow reserved - to the opposite of tags without underscores which are free. Don't assume this will stay like this (all tags with underscore), this is not the goal.

[2019-01-13 18:07] #488 closed

[2019-01-13 18:55] kelson42 opened #508 "mwoffliner 1.7 writes empty redirect file"
[code]

`mwoffliner` running to the end with success. But:

[code]

`wikipedia_bm_all.redirects` is empty... and redirects are not available in the ZIM file.

[2019-01-13 18:58] kelson42 opened #509 "Redirects are not handled properly if there is no cache"
[code]
...
[code]

The problem seems that the redirects file is usually written to the cache directory. Probably it should be written to the tempDirectory instead.

[2019-01-13 19:02] ISNIT0 commented on #509
@kelson42 Looks like when I fixed this issue I forgot to change the log line.
The command should be executing properly.

[2019-01-13 19:20] kelson42 opened #510 "Visual selection homepage seems broken"
I have run `mwoffliner --verbose --adminEmail="kelson@kiwix.org" --articleList="https://download.kiwix.org/wp1/enwiki/tops/10" --mwUrl=https://en.wikipedia.org/ --keepHtml`

Looks like I get the nojs or nopic version (screenshot with kiwix-serve)
![fireshot](https://user-images.githubusercontent.com/1029718/51089605-4ac96780-1770-11e9-9a34-a1be32769a38.png)

[2019-01-13 19:20] kelson42 commented on #510
@ISNIT0 The one created a few weeks ago were OK.

[2019-01-13 19:30] kelson42 opened #511 "Remove --language option"
The language should be the same as the content language, "en" otherwise (if not mwoffliner translation available in the content language). So this can be done automatically.

[2019-01-13 20:39] #508 closed

[2019-01-13 20:50] #511 closed

[2019-01-13 21:08] #510 closed

[2019-01-14 08:52] ISNIT0 commented on #509
Fixed in other PRs

[2019-01-14 08:52] #509 closed

[2019-01-14 12:37] findagnar opened #516 "repo two Bug"
see image.
七堵一交通流
七坊镇
![screenshot_2019-01-05-08-26-46-398_io neoterm](https://user-images.githubusercontent.com/16982413/51113121-ed9ae800-183b-11e9-80a0-f6d4c76c502b.png)
![screenshot_2019-01-05-08-30-48-660_io neoterm](https://user-images.githubusercontent.com/16982413/51113137-fd1a3100-183b-11e9-9d28-ba8cce9e43c1.png)
![screenshot_2019-01-06-17-22-15-568_io neoterm](https://user-images.githubu

[2019-01-14 13:05] Popolechien commented on #417
Yup. Closing the ticket then.

[2019-01-14 13:05] #417 closed

[2019-01-14 17:59] kelson42 commented on #516
@findagnar Please put your command line and error as text. Otherwise I don't understand exactly what is the problem? Or do you report many problems?

[2019-01-14 18:12] kelson42 opened #517 "Temporary redirect has the bad name"
I run
[code]

and I see
[code]

It should be:
[code]

The redirect name should ideally have the same name like the directory where the temporary files are, here: `wikipedia_bm_all_2019-01.redirects`

[2019-01-14 18:44] kelson42 opened #518 "Redirects lists are incomplete"
Running
[code]

Then after the redirects have been retrieved but before the end of `mwoffliner`
[code]

The problem is that we should more entries, like this one for example:
https://bm.wikipedia.org/w/index.php?title=Ansiklopedi&redirect=no

[2019-01-14 18:58] kelson42 opened #519 "Translation of the footer in French fails"
From a ZIM file made with:
[code]

I got the following footer:
![fireshot](https://user-images.githubusercontent.com/1029718/51134012-b1b15400-1836-11e9-8fe4-c1ffd37620fe.png)

[2019-01-14 19:05] kelson42 commented on #388
I reopen the ticket as I fail to get a ZIM file of gbf.wiki with mwoffliner 1.7
[code]

and at the end
[code]

[2019-01-14 21:40] arlolra commented on #388
@kelson42 What version of Parsoid do you have installed locally?  From the looks of the error, it isn't what's requested in the your package.json

[2019-01-14 21:49] ISNIT0 commented on #388
@arlolra We are now using MCS as well as Parsoid, this is probably the cause of the problem

[2019-01-14 22:00] ISNIT0 commented on #388
As an aside, it looks like GBF.wiki is struggling with large redirect request URLs... Even though the API max says 500, I think the actual string length is breaking things.

[2019-01-14 22:12] findagnar commented on #516
Here are two error.
The first error is that Chinese is converted to sixteen digits. The resulting HTTP get is very large.
The second error is due to an attempt to download articles that do not exist.

commit e461dcc3d1c4989c05714185351a89aee9a39e3b (HEAD -> master, origin/master, origin/HEAD)
Merge: b6ff8db 57e824c
Author: Kelson <kelson@kiwix.org>
Date:   Sun Jan 13 14:41:03 2019 +0100

mwoffline

[2019-01-15 06:56] ISNIT0 commented on #516
I think this is linked to something I observed here: https://github.com/openzim/mwoffliner/issues/388
While the API documentation says it can serve up to 500 redirect requests in one URL, there are problems parsing longer URLs.
I will look into what the length constraint is, but for now I will also reduce the number of redirects we fetch per request

[2019-01-15 06:58] ISNIT0 commented on #517
Do you think this is particularly important? This file will be removed in 1.8 anyway

[2019-01-15 07:03] kelson42 commented on #517
@ISNIT0 This is not the most important thing, but this is wrong an clearly misleading. It is important that the name is the proper one. At least to help me verify everything works fine.I would prefer to have things done properly.

[2019-01-15 07:09] ISNIT0 commented on #388
Looks like when we use MCS on the GBF.wiki mainpage we get this error:
[code]

[2019-01-15 07:59] ISNIT0 commented on #516
@kelson42 I've built a fix for this which constructs many URLs instead of one, with the aim of keeping request urls to under 7000 characters long. PR pending...

[2019-01-15 08:40] #516 closed

[2019-01-15 08:47] ISNIT0 commented on #325
Looks like there are some edge-cases I've not found before...
It seems BM wikipedia allows a maximum of 50 titles per request...

[2019-01-15 08:49] ISNIT0 commented on #519
Now working:
![image](https://user-images.githubusercontent.com/5173131/51168894-d0e9c900-18aa-11e9-8877-1d63769a2a1f.png)

This was scraped using the same command as above with the latest master code

[2019-01-15 08:49] #519 closed

[2019-01-15 09:07] kelson42 commented on #325
@ISNIT0 From what I know you can retrieve high level of things via API if you are logged in. To me it looks more robust if you only retrieve 50 elements at a time, it is still 50x faster than before.

[2019-01-15 09:08] ISNIT0 commented on #325
@kelson42 I've implemented a backoff, so we will start at a maximum of:
- 500 articles per request
- 7000 characters per request
And whenever a request fails, we reduce the article number by 20%

[2019-01-15 09:10] ISNIT0 commented on #488
I'm now successfully able to run the above command:
![image](https://user-images.githubusercontent.com/5173131/51170058-c11fb400-18ad-11e9-90c3-30fd9dab1afa.png)

[2019-01-15 09:11] ISNIT0 commented on #457
I was successfully able to run `mwoffliner --verbose --articleList="https://download.kiwix.org/wp1/frwiki/tops/100" --withZimFullTextIndex --adminEmail="kelson@kiwix.org" --mwUrl="https://fr.wikipedia.org/" --redis=redis://127.0.0.1:6379`

[2019-01-15 09:20] ISNIT0 commented on #388
I'm not sure how to proceed here... It seems MCS/Parsoid can't help us in this case.

[2019-01-15 09:22] ISNIT0 commented on #481
We now get an error to this effect:
`[error] [2019-01-15T09:13:45.170Z] Failed to download article list from [https://download.kiwix.org/wp1/frwtops/100]`

[2019-01-15 09:39] ISNIT0 commented on #388
@kelson42 I seem to remember there used to be some logic which would get the non-mobile main-page if necessary, do you think this is sensible?

[2019-01-15 09:39] #518 closed

[2019-01-15 09:39] #517 closed

[2019-01-15 14:35] mgautierfr commented on #485
Can we tell that:
- all tags starting with underscore are boolean tags ? They are `false` or `true` and if no value is provided, the default is `true`? (And why allowing to not provide a value ? Especially if the tags are filled by scripts)
- Any tag not starting with a underscore must be displayed to the user and the "software" doesn't have to try to understand it ?
- Any (new) tag starting by an

[2019-01-18 08:21] Jaifroid commented on #462
I've had a report (by email) that concerns this issue with this ZIM (in Kiwix JS Windows). I post with the user's permission:

I've pointed the user to this issue, and as a result he has downloaded `wikipedia_en_all_novid_2018-06.zim`, and confirms that the problems do not appear with that ZIM. I thought I'd add this report, as I believe it confirms that `wikipedia_en_all_novid_2018-10.zim` is a p

[2019-01-18 18:16] automactic commented on #485
maybe we can do this?
[code]

[2019-01-20 10:59] kelson42 opened #524 "Sporadic errors by retrieving redirects"
It is not always reproducible, but I quite often see this kind of output in the log:
[code]

This seems quite wrong.

[2019-01-20 11:01] kelson42 opened #525 "[REGRESSION] --filenamePrefix does not work anymore properly"
Running:
[code]

Generates:
[code]

The file should be `wikipedia_en_mini_2019-01.zim` not `wikipedia_en_mini_10_2019-01.zim`

[2019-01-20 11:04] kelson42 commented on #524
An other example which might help to fix the bug:
[code]

[2019-01-20 11:11] kelson42 opened #526 "Part of the footer seems not localised properly"
Tested with the French localisation, I suspect the "last edited on" is not localised at all.
[code]

[2019-01-20 11:13] kelson42 opened #527 "RTL languages can not be translated properly"
Because it seems the CSS part responsible for that is not in the translation file:
[code]

[2019-01-21 05:38] kelson42 commented on #275
We have a solution for now.

[2019-01-21 05:38] #275 closed

[2019-01-21 22:45] ISNIT0 commented on #525
@kelson42 This logic hasn't changed, it seems deliberate.
https://github.com/openzim/mwoffliner/blob/master/src/OfflinerEnv.ts#L78

I could either change the above logic, or I could change the way that method is called:
https://github.com/openzim/mwoffliner/blob/master/src/Zim.ts#L92

This may have un-expected consequences and I don't know which would be preferable.

[2019-01-22 07:00] kelson42 commented on #525
Hmmm... with the new naming of sub-selection, we will need this. It should work like specified in the usage, ie. if a --filenamePrefix is specified then it is just put before the date. Otherwise the current logic seems fine.

[2019-01-22 16:11] #527 closed

[2019-01-22 16:12] #526 closed

[2019-01-22 16:46] ISNIT0 commented on #388
I can't reproduce this. Are you definitely using the latest from `master`?

[2019-01-22 16:51] ISNIT0 commented on #388
See this MCS issue: https://phabricator.wikimedia.org/T214420

[2019-01-22 17:47] berndsi commented on #490
Hi, just noticed this from a bug report against MCS. I wouldn't add a dependency to MCS at this point unless you are in a rush. We're actually in the process of implementing its successor, called [Page Content Service](https://www.mediawiki.org/wiki/Page_Content_Service). It's not quite ready at this time but it would also be based on Parsoid HTML.

[2019-01-22 19:31] ISNIT0 commented on #490
@kelson42 Do you think it would be sensible to just always use a local version of MCS/Parsoid? It would mean MWOffliner would have control over the version etc. and wouldn't be caught out by old instances

[2019-01-23 14:17] shikulja opened #530 "Bug help"
Help to fix the error, I read about `NODE_TLS_REJECT_UNAUTHORIZED`, but I do not know where to add it to make it work

[code]

[2019-01-23 14:19] ISNIT0 commented on #530
Hi @shikulja the `NODE_TLS_REJECT_UNAUTHORIZED` is just a warning, and not the reason for `mwoffliner` to fail.

Your scrape is failing because MWOffliner can't connect to Redis. Do you have an instance running locally?

You can add a variant of this to your command: `--redis=redis://127.0.0.1:6379`

[2019-01-23 14:20] ISNIT0 opened #531 "Should give a nicer error when we can't connect to Redis"
See #530

[2019-01-23 14:24] shikulja commented on #530
its work, thanks for the help

Redis showed a port error, I rebooted it, checked it on cli, it seemed to work)

[2019-01-23 14:25] ISNIT0 commented on #530
@shikulja No problem

[2019-01-23 14:34] ISNIT0 commented on #530
@shikulja This is because you haven't specified the `mwApiPath` and the wiki doesn't use the default.

Try adding this option:
`--mwApiPath=/api.php`

[2019-01-23 14:43] shikulja commented on #530
ttps: //dragonage.fandom.com works
I do not understand how to add a domain ru

[2019-01-23 15:40] ISNIT0 commented on #530
@shikulja To be clear, is this now working completely for you?

[2019-01-23 16:12] shikulja commented on #530
Yes it works.
Checked the tmp page, there is no background, but it may be worth waiting until the end, until it parsing completely.
![23-01-2019 190954](https://user-images.githubusercontent.com/3386359/51620027-9afbb300-1f42-11e9-83cb-1d0cee9a6607.png)

[2019-01-23 16:18] shikulja commented on #530
wowhead.com and him like you can dump?
they are quite complex, for example, when you hover the mouse there are tips

[2019-01-23 21:42] ISNIT0 commented on #530
@shikulja Sorry, I don't understand what you mean? Can I close this ticket?

[2019-01-24 10:55] shikulja commented on #530
no, don't close yet.

wowhead.com can dump? or add support in the future

[2019-01-24 10:57] shikulja commented on #530
no, don't close yet.

wowhead.com can dump? or add support in the future

[2019-01-24 11:21] shikulja commented on #530
`mwoffliner --mwUrl=https://dragonage.fandom.com/ --adminEmail=foo@bar.net --verbose --format=zim --mwApiPath=ru/api.php --customZimFavicon=/home/shikulja/favicon.ico --withZimFullTextIndex --parsoidUrl --minifyHtml
`

[code]

[2019-01-25 00:41] shikulja commented on #530
Unable to determine the protocol of the following url (data:), switched back to https: data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D
New url is: https:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D
Cache hit for https://slot1-images.wikia.nocookie.net/__cb7900017900012/common/skins/common/images/magnify-clip.png
Cache hit

[2019-01-25 01:06] shikulja commented on #530
===========1==============
[code]

============2===============
[code]

[2019-01-25 08:32] ISNIT0 commented on #530
@shikulja I agree, it's difficult to install. We're working on it! 👍

[2019-01-25 10:12] shikulja commented on #530
I do not know how to fix it, I already did everything with redis

[code]

[2019-01-25 10:44] okkebal commented on #172
Why make a Zim of such a dis-info site?

[2019-01-25 10:48] ISNIT0 commented on #172
Hi @okkebal,
I personally stand for free access to knowledge. The hope is that if more people have access to more knowledge, eventually the in-correct information is un-earthed.

You can read more about the WikiMedia Foundation's mission statement here: https://wikimediafoundation.org/about/mission/
Many projects have similar missions to them.

Hope this helped

[2019-01-25 10:48] #172 closed

[2019-01-25 11:00] okkebal opened #532 "Rational Wiki is horrible dis-info"
Please check this out:
https://rationalwiki.org/wiki/Donald_Trump

"is an American (un)intentional comedian"

This whole article is just smear, name-calling and horribly rude. I do not understand why anyone would like to spread terrible dis-info like this.

Or this: "Michael T. Snyder is a hopelessly deluded Christian evangelist crank who has started numerous blogs"

How is this informational? It

[2019-01-25 11:03] Popolechien commented on #532
Hi there,
thanks for sharing this but at the end of the day it probably would make more sense to share your concerns with the owners of rationalwiki or psiram: issues on github are for technical discussions.

[2019-01-25 11:03] #532 closed

[2019-01-25 11:13] okkebal commented on #532
If these people write such an immoral and irrational page about president Trump do you really think you can argue with people like that? Its obiously run by extreme left wing nutcases.

My issues is that the site is being promoted and made available here.  It appears only left-wing over the top crazy sites get a spot here while there is no effort to convert something like www.conservapedia.com to

[2019-01-25 11:16] ISNIT0 commented on #532
@okkebal Please make a request here: https://github.com/openzim/zim-requests/issues
There is a formal process for requesting ZIM files, they take a lot of resources to create and update 😄

[2019-01-25 14:33] ISNIT0 commented on #530
@shikulja What operating are you using?

[2019-01-25 14:51] shikulja commented on #530
current ubuntu 18.10
and try 18.04

[2019-01-25 15:17] shikulja commented on #530
@ISNIT0  if you create VM mb give me ready build?

[2019-01-26 09:38] shikulja commented on #530
Completely reinstalled on ubuntu 1904
redis 5.x.x nodejs 8.15 etc ..
The first time I got a dump is normal .. except `style = "background-color: white;` and there were no images
The second time I started, I stopped working, that's what I got:

`shikulja@ubuntu:~$ sudo mwoffliner --mwUrl=https://dragonage.fandom.com/ru/ --adminEmail=foo@bar.net --format=nozim --mwApiPath=api.php --redis=redis://127

[2019-01-27 07:05] shikulja commented on #530
go to zimmer.. better dump 1gb vs 160mb (unpacked) with background color+images

[2019-01-27 07:05] #530 closed

[2019-01-27 15:10] kelson42 commented on #531
@ISNIT0 Agree, no scenario should lead to an unmanaged stop/fail.

[2019-01-27 16:10] kelson42 opened #533 "Many dependences are deprecated"
[code]

[2019-01-27 16:41] kelson42 commented on #475
Done. Thx @ISNIT0

[2019-01-27 16:41] #475 closed

[2019-01-27 19:58] kelson42 opened #534 "Docker image does not build anymore with 1.7"
Docker build gives:
[code]

[2019-01-27 19:58] kelson42 commented on #534
@ISNIT0 Any clue?

[2019-01-28 08:40] ISNIT0 commented on #534
Looks related to Percy (we use for the e2e tests).
I'll look into it soon and add Docker builds to the Travis build

[2019-01-30 00:45] automactic opened #536 "Can mwoffliner generate files of multiple version of the same site in one scrape?"
I have a question. If I run mwoffliner with `--format=nopic --format=novid` in the command, does mwoffliner scrap the site once and generate two zim file? Or does it scrap the site twice?

From what I have observed, it seems to be scraping the site twice. If that is true, why don't the offliner scrape the site once, cache data, and generate different zim file flavors?

[2019-01-30 06:08] kelson42 commented on #536
@automactic With 1.6-, we had always a cache, now it is optional with option `--useCache`. If you use `--useCache` it should work like with 1.6.

[2019-01-30 06:08] #536 closed

[2019-01-30 13:59] automactic commented on #536
@kelson42 Thanks!

Follow up: do we have a size estimate on the cache in relation to the final zim file size? For example, if the generated zim file is a 1GB nopic, how much disk space is the cache use?

[2019-01-30 18:15] kelson42 commented on #536
@automactic makes zim size x10 for the cache (text only)

[2019-01-30 20:56] automactic commented on #536
@kelson42 We need to estimate the disk size requirement for the extra large zim files, namely wikipedia_en

[2019-01-30 21:22] shikulja opened #537 "Impossible to scrape dragonage.fandom.com: Cannot read property 'size'"
try new version, on two computers the same error
Is there something wrong?

`sudo mwoffliner --mwUrl=https://dragonage.fandom.com/ --adminEmail=test@gmail.com --format=zim --mwApiPath=/api.php --redis=redis://127.0.0.1:6379 --customZimFavicon=/home/shikulja/dump/Forum_book.ico --withZimFullTextIndex --localMcs --writeHtmlRedirects --verbose
`

`[info] [2019-01-30T21:33:02.767Z] Downloading https:/

[2019-02-01 10:22] kelson42 commented on #462
@ISNIT0 Without any additional information, this is a duplicate of #496. So don't worry about it, it is in the milestone just to keep track.

[2019-02-01 10:37] kelson42 opened #538 "Publish and tag automatically the docker image"
I synchronize manually the docker hub image, this is something I want to automatize
* For each merge to master, update a "dev" version
* For each release tag, publish a new version for "latest" and one with the tag.

[2019-02-01 11:13] kelson42 commented on #537
I confirm the problem with a slightly simpler example:
[code]

After around 2 minutes I get:
[code]

@ISNIT0 Any ideas?

[2019-02-01 11:38] kelson42 commented on #490
@berndsi thx for the info. What is the timeline for a version ready for us to integrate? What would be the advantage versus Parsoid+MCS like we have currently?

[2019-02-01 11:39] kelson42 commented on #490
@ISNIT0 No, because we need to save cpu/memory resources on our end. So, we should launch MCS only if this is not available on the remote end.

[2019-02-01 11:41] kelson42 commented on #506
@ISNIT0 If I remember/understand correctly, `--writeHtmlRedirects` writes the Mediawiki redirects as plain HTML redirect files. If not set, is uses the TSV file with redirects. I do not see the added value of the first alternative. IMO we could alway use the TSV file. Do you agree? Do you see any feature regression if we do so?

[2019-02-01 12:05] shikulja commented on #537
maybe help

`shikulja@ubuntu:~$ sudo systemctl status redis
● redis-server.service - Advanced key-value store
   Loaded: loaded (/lib/systemd/system/redis-server.service; enabled; vendor pre
   Active: active (running) since Wed 2019-01-30 23:42:47 MSK; 1 day 15h ago
     Docs: http://redis.io/documentation,
           man:redis-server(1)
 Main PID: 2004 (redis-server)
    Tasks: 4 (limit: 7146)

[2019-02-01 12:57] kelson42 opened #539 "Provide en estimation of progress"
We need a way to know roughly how many percents of the whole scraping has already been done.

[2019-02-01 13:07] kelson42 commented on #500
@p-deli We have released mwoffliner 1.7 a few days ago. Have you tried it. Do you have the same problem with it?

[2019-02-02 02:45] p-deli commented on #500
@kelson42 I am using version 1.7.1 and it works very well. Fortunately, no problems encountered so far. Thank you very much 👍

[2019-02-02 05:52] #500 closed

[2019-02-02 05:55] kelson42 commented on #490
@berndsi thx

[2019-02-05 12:11] p-deli commented on #499
@kelson42 as suggested I opened a query at Phabricator ([mwoffliner ZIM file: All figure and table numbers set to 1 and references have "???" for extension "CrossReference"](https://phabricator.wikimedia.org/T214475)) and this is the answer I got:

[2019-02-05 13:15] p-deli commented on #499
There is another similar issue and I don't if I should be filing an issue here. That is why I allow myself to first as the question expose the problem in this thread:

- I encounter the same type of problem with extension [SimpleMatJax](https://www.mediawiki.org/wiki/Extension:SimpleMathJax) as with [CrossReference](https://www.mediawiki.org/wiki/Extension:CrossReference). In the rendered ZIM file

[2019-02-07 05:15] ISNIT0 commented on #506
This makes sense to me, I'll implement it now

[2019-02-07 07:35] kelson42 commented on #489
@ISNIT0 We have a problem here, the default behaviour should be "with FT index"... but your fix seems to to the contrary!!!?

[2019-02-07 07:38] #489 closed

[2019-02-07 07:55] ISNIT0 commented on #169
Confirmed, this is fixed

[2019-02-07 07:55] #169 closed

[2019-02-08 12:52] #184 closed

[2019-02-08 13:04] #490 closed

[2019-02-08 13:05] ISNIT0 opened #547 "Verify ZIM files using libzim-binding"
A couple of things I want to triple check:
- Welcome Page
- Redirects
- tbd

[2019-02-08 13:11] #506 closed

[2019-02-08 13:11] #533 closed

[2019-02-08 14:16] #547 closed

[2019-02-08 14:33] ISNIT0 commented on #496
@kelson42 What changes would we like to make for this issue?
Automatic request backoff?

[2019-02-08 14:34] kelson42 commented on #496
@ISNIT0 https://github.com/openzim/mwoffliner/issues/462#issuecomment-456189807

[2019-02-10 09:55] kelson42 commented on #278
@ISNIT0 Have you been able to make progresses on this? Does this ticket still need clarification?

[2019-02-10 17:18] ISNIT0 commented on #278
@kelson42 I have all the clarification I need, thanks. This will be relatively easy to implement soon

[2019-02-10 17:26] ISNIT0 commented on #388
@kelson42 This is now fixed

[2019-02-10 17:27] ISNIT0 commented on #496
@kelson42 What's the best way to test this? I've implemented something that I think will work, but not sure the best way to verify it.

[2019-02-10 17:42] kelson42 commented on #496
@ISNIT0 I have no clue :(

[2019-02-10 18:32] #278 closed

[2019-02-10 21:26] automactic opened #553 "Error handling json response from api"
When running mwoffliner, I have sometimes encountered errors like this one:
`
[error] [2019-02-10T21:06:15.650Z] Error handling json response from api. FetchError: invalid json response body at https://am.wikipedia.org/api/rest_v1/page/mobile-sections/%E1%8A%A5%E1%8A%95%E1%8B%B2%E1%88%85_%E1%88%8D%E1%8C%A0%E1%8C%8D%E1%89%A5_%E1%89%A0%E1%88%AC%E1%8B%AA%E1%8A%95_%E1%8A%A0%E1%88%A8%E1%8B%B5%E1%8A%A9%

[2019-02-11 07:26] kelson42 commented on #553
@automactic With 1.7?
@ISNIT0 Any idea?

[2019-02-11 09:25] ISNIT0 commented on #553
Is it possible that we're sending too many requests and are getting some kind of HTML warning page?

[2019-02-11 09:36] kelson42 commented on #553
@ISNIT0 Without more information, everything is possible.

[2019-02-11 10:15] ISNIT0 commented on #484
Closing this as "won't fix"

[2019-02-11 10:15] #484 closed

[2019-02-11 10:20] ISNIT0 commented on #497
I think this might be specific to the Wiki, without any more information I can't do anything about this.
MWOffliner just downloads images using normal HTTP requests, so possibly the Wiki is limiting certain user-agents (HTTP 406)

[2019-02-11 11:14] kelson42 commented on #497
@itcotta You should give more infomration about `http://mywiki/wiki/images/1/1a/myimage.png` and the HTTP 406 error code. That looks strange. Is that the right path where the file is available? why 406?

[2019-02-11 12:38] #496 closed

[2019-02-11 14:24] automactic commented on #553
Would it be a good idea to check response code first? if it is 200 and content type is json, then go ahead and parse the json

[2019-02-11 14:25] kelson42 commented on #553
@automactic We better check the HTTP response code in 1.8... but checking the content-type sounds a good idea too (in particular before parsing) ! @ISNIT0?

[2019-02-11 14:27] ISNIT0 commented on #553
We already check the response code, this will only happen if the response is an a "2XX" but the response is the wrong format. In which case there is nothing to do except throw an error

[2019-02-11 14:30] kelson42 commented on #553
@ISNIT0 I think what @automactic suggest is to check that we get the proper content-type in the HTTP response - in addition to the HTTP code - tu be sure that you don't send bad stuff (HTML for example) to the JSON parser.

[2019-02-11 14:50] automactic opened #555 "ENAMETOOLONG: name too long when offlining th.wikipedia.org"
Command run: `mwoffliner --mwUrl=https://th.wikipedia.org --adminEmail=contact@kiwix.org --format=nopic --format=novid --withZimFullTextIndex --redis=redis://redis --outputDirectory=/output`

Exit code: 2

[code]

[2019-02-11 14:59] kelson42 commented on #555
@ISNIT0 I can reproduce the problem with 1.7. Really interested to know what is going one here, as this web site is basically the same as the other Wikipedias.

[2019-02-11 15:00] kelson42 commented on #555
@ISNIT0 Maybe this is because the size of the filename is limited on the fs?

[2019-02-11 15:06] ISNIT0 commented on #555
Have we always mirrored the `th` wikipedia?
I guess it is a filesystem limitation

[2019-02-11 15:08] kelson42 commented on #555
@ISNIT0 Yes (see https://download.kiwix.org/zim/wikipedia/) and this is the strange thing. Please check we do not have a regression here.

[2019-02-11 15:12] ISNIT0 commented on #555
@kelson42 This will hopefully not be an issue going forwards because of #278

[2019-02-11 15:35] kelson42 opened #556 "Publish automatically on npmjs & docker hub"
I synchronise manually the Docker hub image, this is something I want to automatise
* For each merge to master, update a "dev" version
* For each release tag, publish a new version for "latest" and one with the tag.

Same should happen on npmjs. All of this should run/be trigerred on Travis-CI.

[2019-02-11 15:41] kelson42 commented on #399
@ISNIT0 I have retried with 1.7, but this is still not working fine:
[code]
gives
[code]
[code]

[2019-02-11 17:18] ISNIT0 commented on #462
As this is a duplicate of #496, I'm going to mark it as closed

[2019-02-11 17:18] #462 closed

[2019-02-11 19:36] automactic opened #560 "rsvg-convert related error with running mwoffliner"
command run: `mwoffliner --mwUrl=https://ik.wikipedia.org --adminEmail=contact@kiwix.org --format=nopic --format=novid --withZimFullTextIndex --useCache --redis=redis://redis --outputDirectory=/output`

exit code 2

[code]

[2019-02-11 19:58] kelson42 commented on #560
@automactic This should be fixed in a few minutes/hours when openzim/mwoffliner:latest docker image will be rebuilt. Sorry for the inconvenience. Having zimfarm jobs with specific image tag will avoid this kind of problem too.

[2019-02-11 19:58] #560 closed

[2019-02-11 22:47] automactic opened #561 "MWOffliner does not exit after seemingly completed"
command run: `mwoffliner --mwUrl=https://av.wikipedia.org --adminEmail=contact@kiwix.org --format=nopic --format=novid --withZimFullTextIndex --useCache --redis=redis://redis --outputDirectory=/output`

The container has been running for 7 hours. The ending of logs looks like this and hasn't been changed for at least 2 hours.

[code]

Wikipedia sites that I have founds with this problem so far:
-

[2019-02-12 17:27] ISNIT0 opened #562 "Update Changelog"

[2019-02-13 03:45] automactic opened #563 "Error offlining zh-min-nan.wikiquote.org"
[code]

[2019-02-13 04:43] wesleylima opened #564 "Add canonical link"
html snapshots should have a canonical tag back to the page that issued them.

Like <link rel="canonical" href="https://en.wikipedia.org/wiki/Collision" />

In addition to being good semantics, it will help search engines give more relevant results when someone publishes snapshots on the web (like this project is doing https://ipfs.io/ipfs/QmXoypizjW3WknFiJnKLwHCnL72vedxjQkDDP1mXWo6uco/wiki/Collis

[2019-02-16 15:28] kelson42 commented on #555
@ISNIT0 Does `mwoffliner` 1.8 suffer finally of the same problem?

[2019-02-16 23:10] pyroshroom opened #565 "No article titles in newest English wikiquote and wikiversity zim files"
The most recent .zim files for English wikiquote (wikiquote_en_all_novid_2019-02.zim) and wikiversity (wikiversity_en_all_novid_2019-02.zim) no longer display the large article title at beginning of the article itself.

The article titles are still shown within the articles of the 100 article English Wikipedia from January. (wikipedia_en_100_2019-01.zim)

Images examples:
Wikiquote En 2019-02: htt

[2019-02-17 01:00] ISNIT0 commented on #555
Fixed in `1.8`

[2019-02-17 01:00] #555 closed

[2019-02-17 01:01] ISNIT0 commented on #497
Closing this because I don't have enough information to investigate further
Please re-open if there is more info you can give @itcotta

[2019-02-17 01:01] #497 closed

[2019-02-17 07:32] kelson42 opened #566 "Unable to get version with 1.8"
on my Linux:
[code]

then
[code]

[2019-02-17 12:41] kelson42 commented on #566
New error
[code]

[2019-02-17 13:38] kelson42 commented on #564
@wesleylima How this should/could concretely looks like?

[2019-02-17 13:53] ISNIT0 commented on #566
@kelson42 Are there any build errors above?

[2019-02-17 15:23] kelson42 commented on #566
@ISNIT0  no

[2019-02-17 15:31] ISNIT0 commented on #566
I can't reproduce the bug

[2019-02-17 15:42] kelson42 commented on #566
@ISNIT0 You use the same install line on ubuntu?

[2019-02-17 15:43] ISNIT0 commented on #566
In a docker container, so it's slightly different, but it works

[2019-02-17 16:01] kelson42 commented on #566
@ISNIT0 Have testing and testing, now I'm back at the first error.

The problem seems to be that line:
[code]

considering that:

[code]
Which version of `npm` do you use?

[2019-02-17 18:10] kelson42 commented on #566
Now it works, but dies later:
[code]

[2019-02-17 18:14] kelson42 commented on #566
* I think the `tmp` directory should not be created either.
* It seems to be a misunderstanding in the error message, it should be "failed to create output directory", not "failed to create temporary directory"

[2019-02-17 18:20] kelson42 opened #568 "Code to remove writer temporary date should be in the libzim"
Now that `libzim` writes directly (without `zimwriterfs`) the ZIM files, I have remarked that the temporary data have been kept:
[code]
This should be IMO removed automatically.

[2019-02-17 18:23] kelson42 opened #569 "ZIM Favicon missing with 1.8"
I don't see it anymore in a ZIM created with:
[code]

[2019-02-17 18:24] ISNIT0 commented on #566
@kelson42 the "failed to create temporary directory" log comes from LibZim, not MWOffliner

Do you mean the "tmp dump dir"?

[2019-02-17 18:24] kelson42 opened #570 "Javascript seems to be written in the article namespace"
For example:
http://localhost:8080/wikipedia_bm_all_2019-02/A/j/js_modules-jsConfigVars.js

[2019-02-17 18:26] kelson42 commented on #566
OK, so nothing you can do then about this wording.

[2019-02-17 18:28] ISNIT0 commented on #566
Which "tmp directory" do you think shouldn't be created?

[2019-02-18 10:31] #569 closed

[2019-02-18 11:35] #570 closed

[2019-02-18 14:35] Popolechien opened #574 "Zim size is not linear"
I noticed that 3 new zim files named Wikipedia 1,000 , 10,000 and 100,000 have been published, with their respective size being 861Mb, 5.5Gb and 23 Gb.

Is there any particular reason why the average article size per article should 1. be so large and 2. differ so much from what one would expect, given that the full wikipedia with 5+ million articles is "only" 78 Gb (or 3.3x the size of 100,000 art

[2019-02-18 17:08] wesleylima commented on #564
I would insert a tag like this in the `<head>`:
`<link rel="canonical" href="https://en.wikipedia.org/wiki/Collision"/>`

Looks like the relevant place for this is

`res/templates/page.html`

So would adding `<link rel="canonical" href="{{ webUrl }}{{ articleId }}"/>` to the `<head>` tag here work? I'm not sure if  `webURL` and `articleID` are present in this template's namespace.

[2019-02-18 18:52] kelson42 commented on #564
@ISNIT0 Any thoughs about that proposal?

[2019-02-19 06:33] kelson42 commented on #566
There is only one tmpDirectory in mwoffliner and per default this was "tmp" (relative to current directory). It is still created.

[2019-02-19 06:38] kelson42 opened #575 "Remove --tmpDirectory option"
and stop creating the directory if not existing. As we don't write anything anymore in the tmpDirectory, we should remove all of this

[2019-02-19 06:39] #566 closed

[2019-02-19 06:40] kelson42 opened #576 "Remove --deflateTmpHtml"
Seems useless in 1.8.

[2019-02-19 06:42] kelson42 opened #577 "Unable to scrape bm.wikipedia.org"
[code]

[2019-02-19 06:47] kelson42 commented on #563
@ISNIT0 Can you please verify it works with 1.8?

[2019-02-19 06:48] kelson42 commented on #561
@ISNIT0 We need to secure that 1.8 is not impacted by this problem.

[2019-02-19 06:51] kelson42 commented on #492
@p-deli What is the status on this? It seems that visual editor is not installed properly and you don't use the localMCS option!

[2019-02-19 06:52] kelson42 commented on #423
@ISNIT0 @bradyhunsaker What is the status on this? We are preparing the release of 1.8, which is the second release with typescript. This should be ready for 1.8 IMO.

[2019-02-19 06:53] kelson42 commented on #448
@ISNIT0 As we don't write any temporary date anymore in 1.8. Do you confirm this is fixed automatically?

[2019-02-19 07:31] ISNIT0 commented on #577
Which IP is this from? With the exact same command it works fine for me. I guess the you're getting HTML error pages instead of JSON back?

[2019-02-19 07:34] ISNIT0 commented on #577
You will get more info about the error using `--verbose`

[2019-02-19 07:39] ISNIT0 commented on #576
This is still used here, should I remove it?
https://github.com/openzim/mwoffliner/blob/master/src/mwoffliner.lib.ts#L523

[2019-02-19 07:40] ISNIT0 commented on #566
@kelson42 we also make this tmp directory `/dev/shm/tmp/mwo-dump-1550426957823`

[2019-02-19 12:21] kelson42 commented on #576
@ISNIT0 I don't think so, I don't see any added value.

[2019-02-19 13:07] p-deli commented on #492
@kelson42  Please find below what I do for the installation of VisualEditor. As for `localMCS` you are right I don't recall seeing that option. Will look into it and come back to you asap.

[code]

Add the following lines at the end of the `LocalSettings.php`:

[code]

[2019-02-19 15:55] mgautierfr commented on #568
The code is already in libzim.
The files are removed when the creator instance is destructed. (The destructor is called)
So you must delete the zimCreator at a moment to clean the temporary files.

[2019-02-19 16:49] kelson42 commented on #568
@ISNIT0 Can you secure please the zimCreator is deleted properly, so we don't leave the zimCreator temporary files?

[2019-02-19 17:04] Popolechien commented on #574
Ok, zim files have videos in them, which kind of explains a lot. Closing the ticket.

[2019-02-19 17:04] #574 closed

[2019-02-19 17:26] ISNIT0 commented on #575
We do still need a tmpDirectory: https://github.com/openzim/mwoffliner/issues/566#issuecomment-465020622

[2019-02-19 17:26] ISNIT0 commented on #448
We do still write temporary data: https://github.com/openzim/mwoffliner/issues/566#issuecomment-465020622

[2019-02-19 17:29] #563 closed

[2019-02-19 21:01] kelson42 commented on #575
Please download the few things left in the system tmp directory.

[2019-02-20 09:08] #568 closed

[2019-02-20 09:08] #576 closed

[2019-02-20 09:09] ISNIT0 commented on #577
@kelson42 Still unable to reproduce this

[2019-02-21 12:08] ISNIT0 commented on #561
I scraped the `av` wikipedia and it worked and exited fine 👍

[2019-02-21 12:10] kelson42 commented on #561
@automactic Thank you for reporting this problen. We believe the problem has been fixed in 1.8, at least @ISNIT0 can not reproduce it. I will close this ticket and expect to get it reopened if this problem occurs again with 1.8.

[2019-02-21 12:10] ISNIT0 commented on #577
@kelson42  👈

[2019-02-21 12:10] ISNIT0 commented on #577
I can scrape BM on my development machine and my vps

[2019-02-21 12:10] #577 closed

[2019-02-21 12:13] ISNIT0 commented on #448
All tmp data is written to `/tmp`, there is no longer a local temporary data directory

[2019-02-21 12:28] #562 closed

[2019-02-21 18:13] #423 closed

[2019-02-22 15:18] kelson42 opened #584 "Lots of "Failed to parse JSON response" problems"
[code]

[2019-02-22 15:18] kelson42 commented on #584
[mwoffliner.log](https://github.com/openzim/mwoffliner/files/2894586/mwoffliner.log)

[2019-02-22 15:20] kelson42 opened #585 ""out" directory seems not to be created anymore automatically"
I get this kind of crash
[code]

and indeed directory `/dev/shm/tmp/out/` is not there. It should have been created automatically like in other version of `mwoffliner`

[2019-02-22 15:24] kelson42 opened #586 "Fails to install globaly mwoffliner 1.8 on Linux with nodejs10"
[code]

[2019-02-22 15:25] ISNIT0 commented on #584
This is not an important error (just annoying).
It's expected behaviour as the backoff works - I'll look at a neater message

[2019-02-22 16:53] kelson42 opened #588 "Update README"
* Explain that it works only on Linux
* That the following software need to be installed: git, make, g++, gcc, libjpeg

[2019-02-22 16:59] ISNIT0 commented on #588
- It also works on MacOS

[2019-02-22 17:02] #585 closed

[2019-02-22 17:06] kelson42 commented on #588
@ISNIT0 How can it work on MacOS without the binary libzim for macos?

[2019-02-22 17:10] ISNIT0 commented on #588
I develop on MacOS :)
If the user is not on Linux, node-libzim logs on install that they should install libzim globally: https://github.com/openzim/node-libzim/blob/master/download-libzim.js#L18

[2019-02-22 17:13] kelson42 commented on #588
ah ok, I understand.

[2019-02-22 17:41] kelson42 commented on #586
Works now for me, it looks like all the deps were not installed properly on the system and the error msg were not clear.

[2019-02-22 17:41] #586 closed

[2019-02-22 17:43] kelson42 commented on #10
@ISNIT0 @Popolechien  Looks like we could do this now out-of-the-box with `mwoffliner` so i reopen the ticket.

[2019-02-22 19:49] #584 closed

[2019-02-22 19:49] #588 closed

[2019-02-22 20:07] kelson42 opened #591 "Red link are not removed in the welcome page"
tested with bm.wikipedia.org. This link is available in the welcome page
[code]

[2019-02-22 20:26] kelson42 opened #592 "ERROR: Too many values supplied for parameter "titles""
[code]

[2019-02-22 20:26] kelson42 commented on #592
@ISNIT0 BTW, there is a typo in the error msg: `Invalid JSON resonse`

[2019-02-22 20:29] ISNIT0 commented on #592
This is not a bug, the wikis all have different settings - we automatically reduce the number over time. I did consider picking the limit out of the error code, but this seems fragile.

[2019-02-22 20:31] kelson42 commented on #592
@ISNIT0 If this is not an error, then the log should not report an error, the message should be clear that everything is normal.

[2019-02-22 20:32] ISNIT0 commented on #592
Yes, there was a typo with the code checking, I've opened a PR.

[2019-02-22 20:33] kelson42 commented on #592
@ISNIT0 Are you informed about any mediawiki instance with MAX<50? Otherwise I would just stick to that upper limit.

[2019-02-22 20:35] ISNIT0 commented on #592
@kelson42 The documentation says it's 500 (5000 for bots).
https://en.wikipedia.org/w/api.php?action=help&modules=query%2Bredirects

[2019-02-22 20:49] kelson42 opened #610 "libzim seems not able (anymore) to create properly the xapian index"
[code]
The first has been created with mwoffliner 1.7 using zimwriterfs and the second using mwoffliner 1.8 using only the libzim via the node binding.

[2019-02-22 20:55] kelson42 commented on #592
@ISNIT0 If there is a discrepency between the doc and the reality, please open a bug immediatly on Phabricator and make a ref here.

[2019-02-22 21:16] ISNIT0 commented on #592
https://phabricator.wikimedia.org/T216850

[2019-02-23 09:28] ISNIT0 commented on #592
I had mis-understood the documentation. Have created a fix here :)

[2019-02-23 09:59] #592 closed

[2019-02-23 13:29] kelson42 opened #596 "Introduce the ZIM JS API"
See https://wiki.openzim.org/wiki/Javascript_API (still a draft)

[2019-02-23 15:35] kelson42 opened #597 "Embedds ogv.js to allow ios/mac user to read webm content"
See https://github.com/brion/ogv.js

[2019-02-24 08:36] kelson42 opened #598 "What does mean warning "Couldn't compress""
For example:
[code]

[2019-02-24 10:19] kelson42 commented on #591
@ISNIT0 I think you have broken many things here, css and pictures are not loaded at all in my test. bm.wikipedia.org home page does not have any valid picture for example.

[2019-02-24 11:09] ISNIT0 commented on #598
It just says that when running all compressions for that file type, no space was saved. (I did attempt, but the filesize didn't change)

[2019-02-24 11:14] kelson42 commented on #598
@ISNIT0 I propose to:
* Replace "Couldn't compress" by "Failed to reduce file size after optimisation attempt" (the rest of the message is OK)
* Stop writing the warnings to STDERR, they should be printed to STDOUT
* Print only warnings if `--verbose` is activated.

[2019-02-24 11:21] kelson42 opened #599 "Only png, gif and jpeg files should be tried to be optimized"
But it looks like other files are too:
[code]

[2019-02-24 11:24] kelson42 opened #600 "HTTP 404 errors should not be retried"
If it makes sense to retrieve if an error has happened on server side (HTTP 5XX errors). HTTP 404 error is a clear sign that there is nothing to deliver. In that case there should not be any retry mechanism running.

[2019-02-24 11:24] ISNIT0 commented on #598
Currently:
- Warnings are only printed with `--verbose`
- We're using the standard JavaScript `console.warn`, I think it would be unwise to change this as it would be counter-intuitive

[2019-02-24 11:28] kelson42 commented on #598
@ISNIT0 hm, agree with your point, even if disagree with the result. OK, so please just change the wording (if proper English ;) and this would be fine to me

[2019-02-24 11:34] kelson42 opened #602 "Fix Dockerfile for 1.8"
I have run a test and it seems to fail.
[code]

and I get
[code]

[2019-02-24 11:38] ISNIT0 commented on #599
Okay, in this case, they're not actually being attempted. There is a generic compression module that compresses everything downloaded using `Downloader.getContent`.

It doesn't actually try to optimise it.

[2019-02-24 11:40] #598 closed

[2019-02-24 12:13] ISNIT0 commented on #591
@kelson42 Can you check this again?

[2019-02-24 12:19] kelson42 commented on #602
@ISNIT0 BTW we could stop to base this image on openzim/zimwriterfs but use an other one, maybe a std nodejs image?

[2019-02-24 12:21] kelson42 commented on #599
@ISNIT0 How does that work? Do we have a filter somewhere to avoid going through for non-supported type?

[2019-02-24 12:26] ISNIT0 commented on #599
That's part of the library `imagemin`, I pass everything to it and it decides what it can and can't compress. It means that in future it should be easy to add/remove more file types

[2019-02-24 12:38] kelson42 commented on #599
@ISNIT0 A filter should happen here before we send things to imagemin. We should have a white list of mimetypes which includes only png/jpg/gif. These warnings should not happen because we should not sent videos, audios, js, css, etc... file through the image optimisation process.

[2019-02-24 15:02] #602 closed

[2019-02-24 15:08] ISNIT0 commented on #599
Okay, this will only be duplicating the filter within imagemin, but I'll implement it

[2019-02-24 15:55] #599 closed

[2019-02-25 17:08] #591 closed

[2019-02-25 19:57] kelson42 opened #605 "Title should be based on the DOM node <title>"
Based on https://github.com/kiwix/kiwix-js/issues/475#issuecomment-467119951

AFAIK this was done properly before. We should also secure that if we have something like `<title>2<b>b</b></title>` then the `<b>` will be removed.

[2019-02-26 09:25] Jaifroid commented on #597
This would also help Windows Mobile users to play webm content in the browser engine (brion's demo works in the mobile browser). Currently, WM10 can only access webm content from ZIM files by "downloading" the video and opening in VLC on the phone, so this would be an enhancement also for Kiwix JS Windows.

[2019-02-26 12:22] kelson42 commented on #597
@Jaifroid Nice feedback. I think about providing this as part of the to-be-created JS API. Hopefully this could be done for June.

[2019-02-26 16:00] automactic opened #607 "Error offlining co.wikibooks.org"
[code]

[2019-02-26 16:04] automactic opened #608 "Couldn't find strings file for xx, falling back to [en]"
This happens for a lot of language, wiki-site combos. An example can be seen below.

[code]

[2019-02-26 16:06] automactic commented on #608
Maybe related to #579? feel free to close if duplicate

[2019-02-26 16:39] ISNIT0 commented on #608
This is because there are no translations :) https://github.com/openzim/mwoffliner/tree/master/translation

[2019-02-26 16:40] ISNIT0 commented on #608
@kelson42 Said he would import translations

[2019-02-26 16:54] ISNIT0 commented on #607
@automactic Which version of mowffliner are you using?

[2019-02-26 17:08] ISNIT0 commented on #607
@automactic I'm not getting this same error on `master`, I guess it's been fixed in all the `1.8.0` changes 😄

[2019-02-26 17:35] #607 closed

[2019-02-26 17:50] kelson42 commented on #608
@ISNIT0 You are right, but not translation means it should fallback to English.

[2019-02-26 20:57] ISNIT0 commented on #608
Hence `Couldn't find strings file for xx, falling back to [en] ` :)

[2019-02-26 20:58] ISNIT0 commented on #607
@kelson42 This is closed, but you've assigned it to me. Was that deliberate?

[2019-02-27 04:55] kelson42 commented on #607
@ISNIT0 Yes, just to know who handles what

[2019-03-01 10:31] kelson42 commented on #537
An other case:
[code]

@ISNIT0 I'm quite blocked with this problem as I need urgently to release new ZIM files. Even if this seems to be fied in 1.8, for now and probably the next two weeks we have to deal with 1.7. Would that be possible to backport the fix and publish mwoffliner 1.7.2?

[2019-03-01 10:36] ISNIT0 commented on #537
I'll look into it this evening, but the error is coming from `Parsoid`

[2019-03-01 11:32] Popolechien opened #609 "Wikibooks space not read on xx.wikibooks.org"
As most books seem stored on "bookshelfs" in the wikibooks: namespace, we're pretty much left with a not super useful landing page where nothing much can be accessed (unless one know already which books are out there).
https://en.wikibooks.org/wiki/
http://library.kiwix.org/wikibooks_en_all_novid_2017-07/

[2019-03-01 11:34] kelson42 commented on #609
@Popolechien What is the number of this namespace? Is that specific to Wikibooks in English or does this namespace exists in other language? With the same number?

[2019-03-01 12:24] kelson42 commented on #537
@ISNIT0 Are you sure about that? With my last example (I hope this is not an other problem), if I remove `
--customZimFavicon` then it works fine.

[2019-03-01 12:29] Popolechien commented on #609
I don't know the namespace number (nor do I know where to figure it out) but I tried it on fr, en, and it: on the first two it seems to be the meta space (i.e. Wikipedia: on Wikipedia), but in italian it appears like a dedicated namespace (Ripiano).

[2019-03-01 12:50] Popolechien commented on #609
Ok I looked it up and ``wgNamespaceNumber`` is 4 everytime

[2019-03-01 12:51] kelson42 commented on #609
@automactic Could you update the scheduling of all Wikibooks arccodingly please?

[2019-03-01 14:28] ISNIT0 commented on #537
@kelson42
I've created a 1.7.2 branch, can you check this works for you? (I've scraped all of BM wiki with it and some of the dragonage one)

https://github.com/openzim/mwoffliner/tree/ISNIT0/1.7.2

[2019-03-01 14:39] kelson42 commented on #537
@ISNIT0 THX but I have a hard time to find the `npm` command to install it.
[code]
fails.

[2019-03-01 15:46] ISNIT0 commented on #610
@kelson42 Just merged a fix in :)

[2019-03-01 16:02] ISNIT0 commented on #537
@kelson42 Same command works fine on my vps

[2019-03-01 19:43] kelson42 opened #612 "Last 1.8 version seems to retrieve redirects one by one"
See log
[code]

[2019-03-01 20:30] automactic commented on #539
I strongly support implementing this. It is gonna help zimfarm a lot of we can get the current progress. Do we have any idea on how this is going to be implemented?

[2019-03-02 11:51] ISNIT0 commented on #539
Probably using something like this...
https://github.com/vadimdemedes/ink

[2019-03-02 11:53] ISNIT0 commented on #612
These aren't redirects, they're thumbnail queries :)

`action=query&prop=pageimages&pithumbsize=300& `

[2019-03-02 11:53] ISNIT0 commented on #612
Although it probably would be sensible to group the queries into one or two big ones

[2019-03-02 12:23] ISNIT0 commented on #610
@kelson42 Have you checked this? I'm not sure the best way verify it, but I get search results in Kiwix Mac App now

[2019-03-02 12:23] #610 closed

[2019-03-02 13:36] kelson42 commented on #612
@ISNIT0 What is the goal of these requests? It seems to be the first time I see them, you confirm?

[2019-03-02 18:27] kelson42 commented on #537
@ISNIT0 Finally achieved to install it and your fix seems to work fine. OK to me to release. Thx.

[2019-03-02 19:58] ISNIT0 commented on #612
No, these are for the Article Home Page :)

[2019-03-02 20:36] kelson42 commented on #612
@ISNIT0 Can you please explain a bit what is going here? Why the homepage generates these requests and not the other pages?

[2019-03-02 20:38] ISNIT0 commented on #612
The new articlelist home page requires images, these requests find the images to be shown.

[2019-03-02 20:39] kelson42 commented on #612
@ISNIT0 Thank you for the explanation.

[2019-03-02 20:39] #612 closed

[2019-03-03 08:34] kelson42 commented on #610
I confirm that this seems to be fixed

[2019-03-03 08:35] kelson42 opened #613 "mwoffliner 1.8 does not rewrite URLS properly"
Running `mwoffliner --verbose --mwUrl=https://bm.wikipedia.org/ --adminEmail=kelson@kiwix.org` with both 1.71. and 1.8 give the following result:

With 1.8:
[code]

With 1.7:
[code]

Like written in the spec https://wiki.openzim.org/wiki/ZIM_file_format#URLs:

This bug is extremely visible in `kiwix-serve` as none of the pictures and CSS and JS is served.

This also seems to be a regression, I don

[2019-03-03 09:04] kelson42 commented on #448
I have made a test by interrupting `mwoffliner` "in the middle" and the redis had temporary information still in it. It looks like the cleaning of redis in case of interruption does not work properly:
[code]

[2019-03-03 10:27] kelson42 opened #614 "offline.css retrieval generates errors"
To avoid that we should properly test if the content exists before downloading it.

[2019-03-03 10:42] ISNIT0 commented on #613
I have deleted everything on my vps, re-installed `openzim/mwoffliner` and scraped the `bm` wiki

This is my kiwix-serve, the images seem to load fine: http://209.250.226.220:8080/wikipedia_bm_all_2019-03/

[2019-03-03 10:58] kelson42 commented on #613
@ISNIT0 What give you my `zimdump` command with a ZIM file you have generated with mwoffliner git master?

[2019-03-03 11:06] ISNIT0 commented on #613
[code]

Looks like it is absolute urls, but it does work with `kiwix-serve` for me

[2019-03-03 11:19] kelson42 commented on #613
@ISNIT0 I will try to understand why it works for you... but your link are not relative, it does not fit the spec. Which version of kiwix-seve do you use?

[2019-03-03 11:20] ISNIT0 commented on #613
`0.9.0`

[2019-03-03 11:55] kelson42 commented on #613
The reason why it fails for me is because I was testing with a nightly version of kiwix-serve which brakes the support with ZIM with absolute URLS, see my bug report https://github.com/kiwix/kiwix-tools/issues/262

[2019-03-03 12:23] ISNIT0 commented on #613
Do we still want to make the urls relative then?

[2019-03-03 13:35] kelson42 commented on #613
@ISNIT0 We have too, this is a ZIM spec requirement.

[2019-03-03 14:13] #613 closed

[2019-03-03 17:09] kelson42 opened #616 "SVG are not integrated properly - at least one"
By Creating a ZIM of bmwiki, I have remarked that `Coat_of_arms_of_the_Seychelles.svg` is not scraped... but it is part of the article `Nyɛ_fɔlɔ` (and is not rendered in the infobox).

[code]

It should.

[2019-03-03 18:07] kelson42 commented on #616
I suspect here the problem might be the conversion using imagemagick instead of rsvg (like it was before)

[2019-03-03 23:11] automactic commented on #539
Can this info be retrieved programmatically in a container environment?

[2019-03-04 08:03] ISNIT0 commented on #539
Not using `ink` specifically, but we could implement some kind of api

[2019-03-04 09:08] ISNIT0 commented on #616
I don't see the SVG in the original `Nyɛ_fɔlɔ` article:
https://bm.wikipedia.org/wiki/Ny%C9%9B_f%C9%94l%C9%94

[2019-03-04 09:10] ISNIT0 commented on #448
I've added a redis clearing script that happens before starting the dumps:
https://github.com/openzim/mwoffliner/blob/master/src/mwoffliner.lib.ts#L201

[2019-03-04 09:11] #537 closed

[2019-03-04 09:16] kelson42 commented on #448
@ISNIT0 This is good but insufficient IMO. You should catch event/signal generated at the script interruption.

[2019-03-04 09:17] ISNIT0 commented on #448
This issue was not originally in 1.8 - I think we should move it to another milestone.

[2019-03-04 09:24] ISNIT0 commented on #616
I have found it missing in this article though: http://209.250.226.220:8080/wikipedia_bm_all_2019-03/A/Seshel

[2019-03-04 09:52] ISNIT0 commented on #616
MWOffliner is trying and failing to read download this file which is in-fact missing:
`http://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Coat_of_arms_of_the_Seychelles.svg/125px-Coat_of_arms_of_the_Seychelles.svg.png`

It gets this url from the `MCS` query. I've opened a ticket:
https://phabricator.wikimedia.org/T217540

[2019-03-04 13:55] Popolechien commented on #287
Closing ticket as new landing pages generation moots the issue.

[2019-03-04 13:55] #287 closed

[2019-03-04 14:10] Popolechien opened #617 "Adjust number of tiles for high screen resolutions"
While the current 2-columns layout fits well on mobile, it makes for kind of huge tiles on desktop, with the maximum width currently being limited to four tiles.
![capture d ecran 2019-03-04 a 15 08 26](https://user-images.githubusercontent.com/21675885/53738398-65c27900-3e8f-11e9-8a26-a2b61231c4a9.png)

We should increase that number (probably double it), and even make it so that all 100 images a

[2019-03-04 15:13] ISNIT0 commented on #617
Would the titles fit if we had that many tiles?

[2019-03-06 23:52] pyroshroom commented on #565
The lack of article titles is still an issue for the most recent english Wikiquote (wikiquote_en_all_novid_2019-03.zim).

Additionally, the newest wikinews zim (wikinews_en_all_novid_2019-03.zim) has no titles now too, which makes it especially non-functional, as the news article title is typically not mentioned within the article itself, and the article just begins with the bolded date.

However,

[2019-03-07 05:14] kelson42 commented on #565
@pyroshroom Thx for the feedback, give us a few days to get a proper answer about what went wrong here.

[2019-03-07 05:17] kelson42 opened #618 "Weird request on kiwix-serve"
_From @benmar on March 6, 2019 22:13_

Using kiwix-serve  from kiwix-tools 0.9 with wikipedia_en_simple_all_nopic_2018-06.zim works ok, but  weird requests with a 404 http response are set:

http://localhost/w/load.php?debug=false&lang=en&modules=jquery%2Cmediawiki%7Cmediawiki.legacy.wikibits&only=scripts&skin=vector&version=18kdz1s

http://localhost:8080/w/load.php?debug=false&lang=en&modules=jqu

[2019-03-07 05:17] kelson42 commented on #618
I move the ticket to mwoffliner, as this depends from the content.

[2019-03-12 11:21] ISNIT0 commented on #15
What is the best thing to do for an articleList selection? Keep all the many parent categories? Not keep categories? Keep only one level of categories? Something else?

[2019-03-12 11:54] kelson42 commented on #15
@ISNIT0 Keep each category with at least one non-category child and merge all categories (to the top one) if there is only one sub-category.

[2019-03-15 09:57] ISNIT0 commented on #15
What about categories with media? e.g. https://commons.wikimedia.org/wiki/Category:Birds_in_art

[2019-03-15 10:39] kelson42 opened #619 "mwoffliner 1.8 help is broken"
[code]

[2019-03-15 10:55] kelson42 commented on #616
@ISNIT0 Thx, I have unscoped this ticket from the milestone. This seems to be a bug on Parsoid side.

[2019-03-15 11:13] kelson42 commented on #565
@pyroshroom I can confirm that this bug is fixed in mwoffliner 1.8 to be published ASAP. You can test it by installing from Github. Sorry for what looks like to be a regression introduced in 1.7.

[2019-03-15 11:13] #565 closed

[2019-03-15 11:18] kelson42 commented on #448
@ISNIT0 You are right, sorry was persuaded we had a ticket about that already.

[2019-03-15 11:35] #619 closed

[2019-03-15 15:04] kelson42 commented on #388
This is still not working fine. The ZIM file can be done, but we have empty article in paragraphs. For example "Olea Plant".

[2019-03-15 17:07] ISNIT0 commented on #15
There doesn't seem to be a way to get the structured data of what order to show the sub-categories in. It's not just Alphabetical:
e.g. https://bm.wikipedia.org/wiki/Cat%C3%A9gorie:Lien_th%C3%A9matique_pour_cat%C3%A9gories
The single category is in the "G" namespace

and
https://en.wikipedia.org/wiki/Category:London
There is a `*`, `Β` (greek letter), `Ι`, `Ξ`, and `Σ`

Any suggestions here @Popol

[2019-03-15 19:06] automactic opened #622 "Exited with 429 when offlining"
Let me try again with `speed=0.1` I guess

[code]

[2019-03-15 20:08] kelson42 commented on #622
@ISNIT0 Could you please have a look to this please?

[2019-03-16 13:22] automactic opened #623 "Exited with status 2 when offline got.wikibooks.org"
[code]

[2019-03-16 14:10] automactic commented on #561
I think this problem still exists with 1.8 with Vikidia_fr.

Logs below, captured 03-16T13:37 UTC.
[code]

[2019-03-16 14:15] kelson42 commented on #561
I also got one (sporadic) case with bm.wikipedia.org. So, I confirm this can happen with 1.8 too (not only with 1.7).

[2019-03-16 15:04] ISNIT0 commented on #623
I'm not sure what's going on here...
Hitting the url (`https://got.wikibooks.org/wiki/`) with `wget` gives a 404, but `curl` and my web browser are fine...
Any thoughts?

Worth noting that the url redirects to `https://got.wikibooks.org/wiki/Haubidaseido(ac)`. I don't see why this should cause an issue here though.

[2019-03-16 15:48] kelson42 commented on #623
I see no `404`

[code]

[2019-03-16 16:30] ISNIT0 commented on #623
@kelson42 Yes, `curl` is fine, but `wget` is not

[2019-03-16 16:33] kelson42 commented on #623
@ISNIT0 What do you do/get exactly with `wget`?

[2019-03-16 19:33] ISNIT0 commented on #623
[code]

[2019-03-17 07:45] ISNIT0 commented on #622
I managed to scrape this wiki with no issues (now re-running with `--addNamespaces=102`).

We have a backoff strategy with 5 retries on **all** http requests

[2019-03-17 16:26] kelson42 opened #624 "[REGRESSION] Language are not written properly in the ZIM file names"
For example, scraping `https://pdc.wikipedia.org` should generate file like `wikipedia_pdc_all_nopic_2019-02.zim` but now it generates a file like `wikipedia_de_all_nopic_2019-02.zim`

This needs to be fixed in a 1.8 maintenance release

[2019-03-17 17:03] ISNIT0 commented on #624
This bug is weird.
The behaviour is to use `mwMetadata.langISO2` in the file name.
When we retrieve the wiki language, `PDC` is ISO3 not 2, which means we don't have an ISO2 language. The language conversion library we use doesn't recognise `PDC` as a language, so we switch to use the fallback of `de`.

I've proposed a change #625 which reverts back to the old logic:
Set `mwMetadata.langISO2` to b

[2019-03-17 17:33] kelson42 commented on #624
@ISNIT0 metadata is iso3 and filename is iso2. So change #625 should not be implemented. You should come back to the 1.7 or even 1.7 logic.

[2019-03-17 17:35] ISNIT0 commented on #624
But you said that you want `pdc` in the file name. This is not iso2

[2019-03-17 17:35] ISNIT0 commented on #624
This change brings it back to `1.7` logic

[2019-03-17 17:40] kelson42 commented on #624
@ISNIT0 I forgot to say: if there is no iso2, then write iso3. `pdc` is in that case, `de` is not the iso2 version of `pdc`. But I think you should not try to reinvent something, just rollback to the previous logic. It was correct.

[2019-03-17 17:47] kelson42 commented on #624
Here is the logic in 1.5, this does not seem to work the same manner in 1.8
[code]

[2019-03-17 19:09] #624 closed

[2019-03-17 19:09] ISNIT0 commented on #624
I've implemented and merged this change

[2019-03-17 19:27] kelson42 commented on #623
Indeee, I have open a ticket upstream https://phabricator.wikimedia.org/T218520

[2019-03-17 19:29] kelson42 commented on #622
@ISNIT0 If I look the log, it does not looks like that it retries. The HTTP 429 should also be handled differently as a standard error. See #496. So why:
* It does not retry?
* We see nothing to decreate the speed?

[2019-03-17 21:22] automactic commented on #622
It might be due to me running multiple vikidia offliners at the same time. Maybe that is why running one at a time will be successful

[2019-03-17 21:25] automactic opened #626 "Error offlining en.wikipedia.org with exit code 137"
When trying to offline `en.wikipedia.org`, container returned with status code 137, stdout is empty string. The container was running for around 11hrs.

[code]

[2019-03-18 07:25] ISNIT0 commented on #626
Do you have the previous logs? How far did it get in the scraping process? This doesn't look like a standard error (every error from MWOffliner is wrapped, so would never be empty).
Could be:
- An exception from C++
- Memory issue

[2019-03-18 07:26] ISNIT0 commented on #622
@kelson42 With verbose logging on you will see a log message like: `Failed to get [XX] [XX] times`

We don't log each individual failure and retry. Perhaps we should

[2019-03-18 07:27] ISNIT0 opened #627 "Better logging for request retries"

[2019-03-18 07:27] ISNIT0 commented on #622
#627

[2019-03-18 08:28] kelson42 commented on #622
@ISNIT0 We should log each individual retry and which should log the speed changes. `mwoffliner` should not crash because of HTTP429, it should slow down the speed until the error 429 disappear, this was the purpose of #496

[2019-03-18 08:46] ISNIT0 commented on #622
I agree, we should never crash because of a failed request, I need to look into how/why this one wasn't handled properly.

[2019-03-19 14:44] #627 closed

[2019-03-19 17:45] ISNIT0 commented on #626
@automactic Do you have the other logs? Would be helpful to know where in the process this happened

[2019-03-19 17:47] kelson42 commented on #623
@ISNIT0 Could we show the default "selection page" if the homepage returns 404.

[2019-03-19 17:51] ISNIT0 commented on #623
This would be a rather large amount of work to implement, but also in this case, there is a main page: Haubidaseido(ac)

[2019-03-20 00:10] automactic commented on #626
No I don't. And this happens not just to English wikipedia, but to other wikis as well.

[2019-03-20 05:15] kelson42 commented on #626
This might help https://success.docker.com/article/what-causes-a-container-to-exit-with-code-137

[2019-03-20 05:33] kelson42 commented on #626
@automactic Can you please give the list of wiki also impacted? Is that systematic?

[2019-03-20 07:04] kelson42 commented on #623
@ISNIT0 This page does not exist, otherwise you would not get a HTTP 404 error.

[2019-03-20 07:31] ISNIT0 commented on #623
@kelson42
It's a `301` in the same way that
`https://en.wikipedia.org/wiki/` redirects to `https://en.wikipedia.org/wiki/Main_Page

The redirect target, https://got.wikibooks.org/wiki/Haubidaseido(ac) is a valid url. Curl can follow the redirect, as can my browser. It's wget and the js http client that can't follow

[2019-03-20 07:34] ISNIT0 commented on #626
Okay, I'll look at memory usage.
We build up a large data store in memory throughout the scrape, I'll look into finding a better storage solution (probably redis)