[2020-06-09 07:16] #1149 closed

[2020-06-09 08:02] kelson42 opened #1152 "Rename a few variables related to local parsing"
`--forceLocalParser` seems not documented, I don't get it displayed if I just call `$mwoffliner`. It should be `--forceLocalParser` and not `--forceLocalParsoid`. Subsequent variables should be renamed that way.

[2020-06-09 08:03] kelson42 opened #1153 "Introduce Mediawiki.veApiUrl"
The `Mediawiki` class should provide a `veApiUrl` (ve=visualeditor) which is a simple derivative of the apiUrl. Given the mwApi is available, the URL of veApiUrl will always be the same. But we can not assume this `veApiUrl` is alwasy working. This feature comes from a Mediawiki extension ans it is not always available. So, if the URL is always the same, `checkCapabilities()` should continue to te

[2020-06-09 08:11] kelson42 opened #1154 "Remove ParsoidFallback logic"
I don't want to have for each `Download.getArticle()` a fallback logic. This is unecessary and makes the code difficult to read/execute. The backend - MWoffliner deals with - won't change during we run a scrape, so we should check/detect (see `checkCapabilities()`) whatever has to be detected at the start of the process and then stick to then and just fail is there is a problem (after applying the

[2020-06-09 12:45] #1152 closed

[2020-06-12 07:19] #1153 closed

[2020-06-12 10:37] kelson42 commented on #984
@ritikkuril Yes, please! Just make a PR when this is fixed!

[2020-06-14 07:11] kelson42 commented on #1151
Duplicate of https://github.com/openzim/mwoffliner/issues/1043

[2020-06-14 07:11] #1151 closed

[2020-06-14 07:11] kelson42 commented on #1145
@bakshiutkarsha What is the status here? This is one of the blocker for the rest!

[2020-06-14 07:39] bakshiutkarsha commented on #1145
I took care of this in PR 1147.

[2020-06-14 11:55] #1144 closed

[2020-06-14 11:55] #1145 closed

[2020-06-14 12:40] kelson42 opened #1159 "Remove usage of promiso mapLimit() and replace it with p-map pmap()"
Everywhere in the code but the logic should be exactly the same.

[2020-06-14 13:23] kelson42 opened #1160 "webUrlHost webUrlProtocol should be a property of Mediawiki class"
Everywhere the code should rely on `mw.webUrlHost()`. It should not be (re-)computed each time (so lazy property) locally when we use it. It should return a value computed at the time of `mw.webUrl()` has been set.

Same with `urlParser.parse(mw.webUrl).protocol`

[2020-06-14 13:47] kelson42 opened #1161 "Make a function to remove local anchor"
* in one of the functions modules
* test it properly
* use it

[2020-06-14 14:13] kelson42 opened #1162 "Remove replace(/ /g, '_') everywhere"
This has been introduced a while back to unify the article ids, because on Wikipedia "foo bar" and "foo_bar" represent the same article. But this is a special configuration and this does not have to be the case for other wikis like WikiHow for example. I believe we don't need all these string transformations which just make the whole process slower.

[2020-06-14 15:40] kelson42 commented on #1140
We don’t collapse on desktops (large screens). On Android, sections are not collapsed either. I believe like you that this is linked to the the fact that the TOC works well.

[2020-06-14 15:43] kelson42 commented on #1141
I don’t really think there is anything we should do here. I want to stick as much as possible (for the moment) to the online/upstream UX.

[2020-06-14 15:52] kelson42 commented on #1101
@midik I don’t want to build a dependence to Docker in MWoffliner. I’m not really wanting to make things far more complicated to run for the users. Using different processes and let them deal with each other is not always easy/fast.

That said, I believe, like you, that this is not a good architecture to have so many CPU intensive things within the main loop. This does not scale properly even on a

[2020-06-14 16:12] kelson42 commented on #1136
I really wonder why this is not handle properly like this upstream on Wikipedia.org.

[2020-06-14 17:09] kelson42 opened #1163 "Redis default configuration should be normal"
I made the configuration special to us to avoid to specify it all the time. Now that the tool is more broadly use and that we have the ZIMfarm, we should come back to the "normal" configuration per default so user don't have to tune either the MWoffliner configuration or the Redis configuration to start to play with MWoffliner.

One time done, the configuration parameter to get it work on the ZIMf

[2020-06-14 17:16] Jaifroid commented on #1136
Isn't there a proposal for an API in ZIMs that might handle this kind of transform? Currently the different readers handle dark mode by injecting CSS stylesheets. By using an inversion stylesheet and re-inverting certain image type, it's fairly easy to come up with a "universal" (though not perfect) dark mode, and that could be the API. (It's what most of the current readers do.)

Otherwise handli

[2020-06-15 06:03] bakshiutkarsha commented on #1163
@kelson42 Do we need to add this config using a configuration parameter?
[code]

[2020-06-15 06:05] kelson42 commented on #1163
@bakshiutkarsha This is the server config, you can't change it from the client side. On the client side (MWoffliner) you already have `--redis`.

[2020-06-15 06:06] bakshiutkarsha commented on #1161
@kelson42  Can you provide more context on this?

[2020-06-15 06:13] bakshiutkarsha commented on #1163
Can you point me to the config that needs to be updated?

[2020-06-15 06:58] kelson42 commented on #1163
You mean this? https://github.com/openzim/mwoffliner/blob/master/src/config.ts#L7. I don't have more technical information than you.

[2020-06-15 08:54] #877 closed

[2020-06-16 12:58] #1159 closed

[2020-06-16 13:24] #1154 closed

[2020-06-16 14:04] kelson42 opened #1167 "Document the API we rely on"
We need to better understand on which API we rely on to do a proper software architecture. Something has started here https://species.wikimedia.org/api/rest_v1/#/Mobile but we need to complete and get things in a form of a table.

The information for which API is:
* The URL scheme (with the dynamic part)
* The nature output
* A description of the output
* The software delivering it
* Where is this

[2020-06-18 18:29] c0nsumer opened #1169 "HTML Output Files Not Created?"
I'm trying to use mwoffliner to archive https://nuxx.net/w/ to static HTML files. I've got mwoffliner running, but it doesn't seem to be outputting HTML files; only the ZIM file.

Here's the command I'm using:
`~/node_modules/.bin/mwoffliner --mwUrl="https://nuxx.net/" --adminEmail=steve@nuxx.net --redis="redis://localhost:6379" --mwWikiPath="/w/" --customZimFavicon=favicon-32x32.png`

This result

[2020-06-18 18:31] kelson42 commented on #1169
@c0nsumer You want to extract all the content on your filesystem?

[2020-06-18 18:35] c0nsumer commented on #1169
That's what I'd like. My goal is to replace my mediawiki (as an app that needs maintenance) with these static files. I no longer use Mediawiki for publishing content and I'm wishing to create a static online archive.

[2020-06-18 18:36] c0nsumer commented on #1169
Note: I'm going off the description of the project which says it can do that. I'm just not sure if I'm doing something wrong, or if there's a bug?

[2020-06-19 08:14] #1163 closed

[2020-06-19 09:04] kelson42 opened #1171 "Introduce optional HTTP proxy"
Most of the time, MWoffliner creates many ZIM files in a one run. Therefore, often, the same articles are scraped many times for many ZIM files.

Dealing with the upstream backend many times with the very same HTTP requests for the very same content is not the most performant approach. As a consequence a few strategies have been elaborated to avoid that:
* There is a local download cache configura

[2020-06-19 09:06] kelson42 opened #1172 "Delete local download cache feature"
And option `--downloadCacheDirectory` and `--useDownloadCache` should be removed.

Replacement will be #1171

[2020-06-19 13:35] kelson42 opened #1174 "Move our CI to Github Actions"
This is an ongoing move in the whole organization. Reasons are simply that Github Actions is better than Travis CI.

[2020-06-19 14:29] c0nsumer commented on #1169
I apologize, I realize I wasn't clear with my question or bug report here.

I'm attempting to figure out if I'm doing something wrong (missing an argument or so), or if this is a bug and mwoffliner isn't behaving as described in the README.md and --help output. It currently _seems_ like a bug.

[2020-06-19 14:36] #1162 closed

[2020-06-19 14:46] kelson42 commented on #1169
@c0nsumer Don't apologize because your ticket absolutely legitim. The README.md is misleading and I had to fix it, see https://github.com/openzim/mwoffliner/commit/28203ec052a4dff5b824ca6bdaf95a70151dde4b.

The feature you are expecting was part of MWoffliner but is not part anymore as it became to expensive to maintain. That said, your use case is quite common and we want to provide a solution fo

[2020-06-19 15:10] kelson42 commented on #1161
@bakshiutkarsha You are perfectly right, sorry for that. I will close that one an open one which is properly written.

[2020-06-19 15:36] kelson42 opened #1175 "Rewrite getFullUrl()"
`getFullUrl()` is a function which is called in many places and would benefit of a few improvments:
* Unit test the function properly
* There should not be a typechecking a start. The code should secure it is called properly. I believe we can secure that without additional overhead.
* It should be `mutateToFullUrl(url: URL, const baseUrl: URL)`
* The function should modify the object `url` and ret

[2020-06-19 15:51] c0nsumer commented on #1169
Thank you very much, @kelson42. If I may suggest, maybe update line 17 of cli.ts as well?

Thanks for the idea with kiwix-serve, but my real hope here is to avoid any web app and go to just static. It's just less maintenance and better for long-term archiving. I gave zimdump a go and it seems to be a real good start, but there's some small wrinkles (no file extension for HTML files making mime typ

[2020-06-19 16:15] kelson42 commented on #1169
`zimdump` should be able to dump everything to a directory. Therefore, it should ultimatively do the job for you.

Your point with `.html` is more a problem because the data in the ZIM don't have the `.html` extension. You probably will have to tune your web server to put per default the proper mime-type.

[2020-06-19 16:18] c0nsumer commented on #1169
Ahh, I wasn't sure if adding those (and I guess modifying the links within the pages) would be within the purview of zimdump or something else.

For what it's worth, I'm working on a .htaccess that'll do the needful and will likely write a blog post covering what's needed. Would it be helpful to have that here as well?

[2020-06-19 16:19] kelson42 commented on #1169
It is fixed. Should I close this ticket? An other one could be open of the side of zim-tools if necessary?

[2020-06-19 16:24] c0nsumer commented on #1169
Please do. :) I found a quirk with zimdump output of images and I'm working on a ticket there. Thanks!

[2020-06-19 17:09] #1169 closed

[2020-06-19 18:25] #1161 closed

[2020-06-20 16:19] kelson42 opened #1176 "Remarks about RedisKVS.iterateItems()"
Looking around in MWoffliner code I came to `RedisKvs.iterateItems()` (and `RedisKvs..iterateItems()`). https://github.com/openzim/mwoffliner/blob/master/src/util/RedisKvs.ts#L165

If I understand properly this function is at the core of the iteration over all articles/images/, has a `while (true)` loop.... but not log entry at all! Sounds a good candidate to me about where it could fail.

So here

[2020-06-20 17:21] kelson42 commented on #1176
@midik Think twice about it I think the `pmap` like it is does not make sense at all because the SCAN requests to Redis are (or should be) serialised anyway.

[2020-06-21 09:26] kelson42 commented on #1176
@midik Why not just using something like https://www.npmjs.com/package/node-redis-scan ?

[2020-06-21 11:23] kelson42 commented on #1176
The whole thing should work with a queue (an async.queue) would do the job properly I believe. This is how it was partly working before (look at `bc90a3b`).

[2020-06-21 11:37] kelson42 commented on #1043
I believe this could be caused by #1176.

[2020-06-21 14:56] move[bot] opened #1177 "Major display issues with Russian wiktionary"
*@ErinPo commented on Jun 21, 2020, 7:39 AM UTC:*

All search result pages are 90% overlapped with a Creative Commons disclaimer which cannot be dismissed. Only opening the main page works without overlays, but then it fetches the desktop version which causes lots of horizontal scrolling. It seems the offline browser is not properly sending the mobile user agent.

[Screenshot](https://i.imgur.com/

[2020-06-21 14:59] kelson42 commented on #1177
@ErinPo Thank you for your bug report. Would you be able please to give us the title in full text please (we don't have a cyrilic keyboard here).

[2020-06-21 15:02] kelson42 opened #1178 "All the files within one run should have the same date (in filename)"
But this is not always the case for the moment. See for example: https://farm.openzim.org/pipeline/5ecd1e0da15fcb47c20934e3

[2020-06-21 15:21] #1160 closed

[2020-06-21 15:27] kelson42 opened #1179 "Mediawiki URLs might advantageously stored as URL object in place of strings"
It think we could advantageously store this multiple string formated (partial URLs)
[code]

in multiple URL objects which would always contain fullURL (protocol schem, hostname, path, ...)
[code]

@bakshiutkarsha You confirm?

This is a follower of #1160.

[2020-06-21 15:32] kelson42 opened #1180 "Remove the concept "spaceDelimiter""
This concept does not exist in Mediawiki and therefore should not exist in MWoffliner as well.

I believe it came in a first because of a misunderstanding around treatment to do with article lists.

As a matter of fact article lists shoudl contain the exact article id like known by Mediawiki API.

If our articles lists (which use to contain titles with _ in place of spaces) won't work anymore afte

[2020-06-21 19:08] ShadowJonathan commented on #1176
The pointed-out nondeterminism from this is what makes me sweat a little, it's entire possible that the different iterations of the same query/scrape job would result in missing data or non-caught edge cases... thanks for catching this!

[2020-06-21 19:22] kelson42 commented on #1176
@ShadowJonathan Thank your for confirming my first impression, as I'm not really a javascript developer. Would you be able to make a PR to fix it?

[2020-06-21 19:55] ShadowJonathan commented on #1176
I can't find some time soon to look at this, but I'm also not familiar with the codebase, so collaborators could look at this better than I can right now.

[2020-06-21 20:08] midik commented on #1167
Process is going there https://docs.google.com/spreadsheets/d/1oNX9XAILHemks4BW9mXOLb4gnpn7w-j_VBMXwastNY0/edit#gid=0

[2020-06-22 06:29] kelson42 commented on #1167
@midik Looks a good start. Would you be able to move it in the wiki (if you struggle with the table, a coherent list of bullet points shoudl be good enough). It seems the local instances (parsoid) is missing. Ping me we your effort is over.

[2020-06-22 07:06] #1172 closed

[2020-06-22 08:32] #1098 closed

[2020-06-22 16:08] mgautierfr opened #1183 "Correctly detect mimetype of article."
Few zim files (as wikipedia_ar_history_maxi_2020-05.zim) have complex url for image (`m/osm-intl,15,33.333055555556,69.916944444444,300x300.png?lang=ar&domain=ar.wikipedia.org&title=حصار+خوست&groups=_41d389aefe5f67866d9b480e5c44559d54fb9683.svg`).
Those images are png but as the url ends with svg, it is detected as svg and :
- added to a compressed cluster.
- the wrong mimetype is returned to the

[2020-06-23 16:03] kelson42 opened #1184 ""Not able to download content for .... Error: unexpected end of file""
[code]

[code]

[2020-06-23 19:44] ErinPo commented on #1177
The title is Викисловарь, creator Wiktionary, publisher Kiwix, ID f8a741fa.

[2020-06-23 22:19] #1178 closed

[2020-06-24 08:03] kelson42 opened #1185 "Update all dependences to latest version"
With `ncu -u` for example

[2020-06-24 09:32] kelson42 commented on #1184
This is a bug in Axios, I have reported it and made a fix. See https://github.com/axios/axios/issues/3055

[2020-06-24 13:41] kelson42 opened #1187 "Replace getRequestOptionsFromUrl()"
The current solution has a few weaknesses:
* It is one hash for everything, but we know the HTTP request option shoudl not be the same everywhere
* It is really dynmiac which mean it has to be computed each time. I would prefer to have a set of static configuration
* The URL is within the hash, it should be clearly separated: url + other options
* It seems to be completly ignore in `getJSONCb` (do

[2020-06-24 13:44] kelson42 opened #1188 "Tests do not pass on Nodejs v14"
See CI

[2020-06-24 14:13] kelson42 opened #1190 "Scraping of non wikimedia Mediawiki seems broken"
https://farm.openzim.org/recipes/rationalwiki generates super small ZIM files.

[2020-06-24 14:14] kelson42 commented on #1190
@midik Could you please quickly have a look, I strongly suspect one of the recent PR around the fallback workflow!

[2020-06-24 19:45] kelson42 commented on #1188
I can reproduce the problem locally:
[code]

[2020-06-24 19:48] kelson42 commented on #1188
This seems to be only a porblem with the test. Normal MWoffliner seem to work fine.

[2020-06-24 21:36] midik commented on #1188
@kelson42

Do you mean that's volatile error? Here are a few recent successful runs on v14:

- https://travis-ci.com/github/openzim/mwoffliner/jobs/353323961
- https://travis-ci.com/github/openzim/mwoffliner/jobs/353273210
- https://travis-ci.com/github/openzim/mwoffliner/jobs/353142574

[2020-06-25 06:01] kelson42 commented on #1188
@midik I at the feeling they don't pass at all now, but you are right, under certain condition it seems to work... but most of the time it fails.

[2020-06-25 06:12] #1190 closed

[2020-06-25 08:16] kelson42 commented on #660
@midik Agree, moving the ticket to me. Will check a few things a close it.

[2020-06-25 09:06] #1185 closed

[2020-06-25 09:45] Popolechien opened #1194 "Wikivoyage_es_all_maxi scrapes pictures but does not display them"
See https://download.kiwix.org/zim/wikivoyage/wikivoyage_es_all_maxi_2020-06.zim - it's about 70Mb (vs. 13Mb for the nopic version), but it only shows empty squares

![Screenshot 2020-06-25 at 11 44 02](https://user-images.githubusercontent.com/21675885/85696546-534dfd80-b6d9-11ea-8b7f-be771af7784f.png)

The problem might broader than this specifi zim however because I've had reports of a similar

[2020-06-25 09:51] Popolechien opened #1193 "Some front page widgets are not scraped on Wikivoyage"
See e.g. [wikivoyage_es_all_maxi_2020-06.zim](https://download.kiwix.org/zim/wikivoyage/wikivoyage_es_all_maxi_2020-06.zim), which appears entirely empty save for the bottom disclaimer.

There are a number of funky widgets (e.g. https://es.wikivoyage.org/wiki/Plantilla:Portada:Cabecera) that could be problematic there, but there are more conventional / static ones on the landing page that should n

[2020-06-25 10:25] Jaifroid commented on #1194
Problem seems to be that 2020.-06 version of this file is in fact only 46MB, whereas the 2020-05 version is 79MB, so some 33MBs of (presumably) images are missing.

[2020-06-25 11:30] Popolechien commented on #1194
I was going to say the same but I restarted the scraper and got the same result (no images) with a large-enough file. Then I re-restarted it and now it's fine.
Bottom line - scraper works somehow, sometimes, but not reliably.

[2020-06-25 11:30] #1194 closed

[2020-06-25 12:11] kelson42 commented on #1194
@Popolechien You don't have always used the same version of MWoffliner. The most probable explaination.

[2020-06-25 12:22] kelson42 commented on #1193
Similar to #179, but parsoid seem to provide it properly https://es.wikivoyage.org/api/rest_v1/page/html/P%C3%A1gina_principal

[2020-06-26 12:51] danielkschneider commented on #1058
(a bit late, sorry) thanx much for fixing the title problem !

[2020-06-28 05:11] ErinPo commented on #1177
Have you been able to reproduce the issue?

[2020-06-29 08:17] kelson42 commented on #989
@bakshiutkarsha The point @Popolechien tackled is pertinent. If there is a `shouldKeepArticle()` defined in the custom flavour, then we know we won't scrape all the articles (whatever they come from a list or from the namespaces scan). Unfortunatley to rewrite any article, we need to know which articles will be in and which ones will be out. This means, in that case, when `shouldKeepArticle()` is

[2020-06-29 13:18] #1179 closed

[2020-06-29 13:30] kelson42 commented on #1177
@ErinPo I confirm the problem. We will try to fix it for next release. Thank you again for the bug report.

This is not an overlay problem. The problem is that except for the title, the whole article is not scraped!

Here is the reproduce case:

[code]

@bakshiutkarsha Would you be able to quickly have a look, maybe the bug is trivial?

[2020-06-29 13:49] ErinPo commented on #1177
Good to know, thank. I am surprised it is 600+ MB despite so much of the content not being scraped!

[2020-07-02 08:32] #1180 closed

[2020-07-02 09:00] kelson42 commented on #1099
I understand the need of being able to analyse (a lot of) log. `grep` is not a proper tool to do that.

We need a more sophisticated tool, the market proposes a few of them, even in opensource. Splunk is one which comes to my mind. Therefore I'm against building any log analysis adhoc for our needs. This would be a waste of time.

Then we have the question about how to link MWoffliner with the Log

[2020-07-02 09:52] move[bot] opened #1198 "Urdu rendering problem in Firefox Extension"
*@xehroz commented on Jun 15, 2020, 4:01 AM UTC:*

I have noticed a text rendering problem for Urdu language, i.e. besides the fact, that all necessary Fonts (Nastaliq & Naskh) were already installed in the OS, it was not possible/visible to see the text in proper font. May be this is the issue with CSS or something else.

FYI i have attached a screenshot, please note that this was on a 64-bit Fed

[2020-07-02 15:12] kelson42 opened #1199 "Images which width can not be retrieved from the filename should be download immediatly"
For at least two reasons:
* We won't have a hight resolution needed later
* This kind of Graphoid view-source:https://en.wikipedia.org/api/rest_v1/page/graph/png/COVID-19_pandemic_in_Massachusetts/0/63e63c34ac64bf78638034619715226c7066f86a.png chart dispeared quickly and then we are not able anymore to retrieve then.

[2020-07-03 07:13] kelson42 commented on #1043
Seems to work now. I suspect because we have removed `mapLimit`.

[2020-07-03 07:13] #1043 closed

[2020-07-03 13:56] kelson42 commented on #1159
because mapLimit() seems unmaintained and barely used (in comparison to pmap which offer a similar service).

[2020-07-06 08:35] Popolechien opened #1202 "Redirects are not captured"
A good test is with the [latest Stupidedia zim file](https://download.kiwix.org/zim/other/stupidedia_de_all_maxi_2020-07.zim) as most article links seem to be redirects (e.g., all those in the leade of the Stupidedia article). I've noticed the same issue with the last enwp release.

![toto](https://user-images.githubusercontent.com/21675885/86573131-384e7980-bf74-11ea-868d-881160178677.png)

Basic

[2020-07-06 08:38] kelson42 commented on #1202
@Popolechien You confirm http://library.kiwix.org/stupidedia_de_all_maxi_2020-01/A/Stupidedia:Hauptseite works fine for you?

[2020-07-06 08:40] Popolechien commented on #1202
Yep. That's the oddest part because it does have redirects also.

[2020-07-06 08:41] kelson42 commented on #1202
@Popolechien Why this is odd? You have bugs in the readers. For macOS I believe you are impacted by https://github.com/kiwix/apple/issues/227. I can not say for Kiwix-JS, I would recommend to open a bug there.

[2020-07-06 08:43] Popolechien commented on #1202
Well I would not think it's a reader issue, check any one link on http://library.kiwix.org/stupidedia_de_all_maxi_2020-01/A/Stupidedia to see that the articles are not, in fact, available.

[2020-07-06 08:56] kelson42 opened #1203 "Totally broken link in stupidepedia"
See for example http://library.kiwix.org/stupidedia_de_all_maxi_2020-07/A/Stern, all the links which start with `/wiki/`.

[2020-07-06 08:56] kelson42 commented on #1203
@bakshiutkarsha I'm sure we had this and thought this is fixed... but this is still there.

[2020-07-06 08:58] Popolechien commented on #1202
duplicate of #1203

[2020-07-06 08:58] #1202 closed

[2020-07-06 13:45] ghost opened #1204 "Can't open conjugation tables"
*@Robert160 commented on Jul 2, 2020, 9:04 PM UTC:*

Hello, everyone,

I use the dictionary "wiktionary_en_all_nopic_2020-05.zim" with the Kiwix beta version 3.3.2 (Build: 6230302) from the Play Store on Android 10 (Samsung Galaxy S10). I have the problem that the conjugation tables of Hungarian verbs like "mond" or "érez" are not displayed. When I access the website en.wiktionary.org via browser

[2020-07-07 08:08] kelson42 commented on #1199
@bakshiutkarsha We need to discuss first, might be at the end similar to how we deal with VTT file. Not sure though.

[2020-07-14 13:51] #989 closed

[2020-07-14 14:13] kelson42 commented on #1176
@midik Any news here?

[2020-07-15 15:21] Ubuntu-2020 opened #1215 "PDF file icon"
Wikipedia has many **links** and **references**. Frequently found links/references to **PDF** files. In Wikipedia, there is a small Adobe icon after the link to the PDF file:
![pdf-Wiki](https://user-images.githubusercontent.com/65112331/87562698-f84f6b00-c6c6-11ea-81d3-4af74b0a1c70.gif)

In ZIM files, there is **no** small icon from Adobe. Instead of the icon there is an empty space:
![pdf-Kiwix]

[2020-07-15 16:44] kelson42 opened #1208 "Custom Mainpage is not set properly on the Wiktionary App ZIM file"
Not sure if this does not work at all or if this is a bug for custom flavour but the custom mainpage configured is not set:
https://farm.openzim.org/pipeline/5f0db890e2aaee5905635ef7

[2020-07-16 10:42] Ubuntu-2020 opened #1216 "psiram - zim"
Incorrect display **psiram_ru_all_maxi_2020-05.zim** (141 Kb).
I think it's just an empty file since it weighs so little (141 Kb).

**Kiwix 2.0.1-1** (*.appimage):
![Psiram 2020-05-12](https://user-images.githubusercontent.com/65112331/87661312-1372b700-c769-11ea-8f3a-716579e93ac2.png)

**FireFox 2.8.0** (extension):
![Psiram 2020-05-WebExtenFireFox](https://user-images.githubusercontent.com/65112

[2020-07-16 11:00] Ubuntu-2020 opened #1214 "Stop dropping external links surrounding an image"
**wikivoyage_ru_all_maxi_2020-04**
There are no links to: **Wikipedia**, **Wikidata**, **Wikimedia Commons**.

**Kiwix-2.0.1-1** (*.appimage):
![wikivoyage_ru_all_maxi_2020-04-Kiwix-2 0 1-1](https://user-images.githubusercontent.com/65112331/87662676-3aca8380-c76b-11ea-8811-8f1263a51f42.gif)

**Wikivoyage in [original](https://ru.wikivoyage.org/wiki/Культурное_наследие_России/Калининградская_облас

[2020-07-16 15:26] midik commented on #1176
@kelson42 I'm chiming with the approach with reading from Redis serially then process the chunks in parallel.

[2020-07-17 08:47] hashworks opened #1210 "Wikinews ZIMs of July only contain one article"
Drastic decrease in size, seem to be broken:
[code]

https://download.kiwix.org/zim/wikinews/

![example](https://fb.hash.works/e8xQM/)

[2020-07-17 16:10] iTzHard opened #1211 "ArchWiki embeded wiki links broken/not found (again)"
Reference issue #1127

[2020-07-18 05:23] bakshiutkarsha commented on #1208
My findings:
1. The customMainPage article `Wiktionnaire:Page_d’accueil_hors-ligne` is not filtered by `shouldKeepArticle` method as it doesn't contain `#fr.sectionlangue`. That is the reason why this problem is occurring.
2. CustomMainPage functionality works fine. (Tested on other smaller wiki)

Question:
If customMainPage article is not filtered by the method, what should be the mainpage given

[2020-07-18 05:25] kelson42 commented on #1208
Like the ticket requires, what ever the filter result, customMainPage should be there.

[2020-07-18 05:26] bakshiutkarsha commented on #1208
Thanks for the reply, will add this requirement.

[2020-07-18 11:36] move[bot] opened #1213 "There is no hint about the rating of the film"
*@Ubuntu-2020 commented on Jul 17, 2020, 10:21 AM UTC:*

Different ZIM files do not contain hints about the rating of the film. I mean ratings with stars from **IMDb**, **allmovie**, etc.
There is no hint either in the **Kiwix 2.0.3** (.appimage) or in the browser **FireFox** (extension 2.8.0).
Here is an example article: [Aliens](https://ru.wikipedia.org/wiki/%D0%A7%D1%83%D0%B6%D0%B8%D0%B5_(%D1%8

[2020-07-19 12:09] Ubuntu-2020 opened #1217 "The block with links to related Wikipedia projects is not visible"
At the very bottom of the article in the **Links section**, there is usually a **block** with links to related Wikipedia projects. But it is not visible in Kiwix!
Here is an example of an article about the **[football club Barcelona](https://ru.wikipedia.org/wiki/Барселона_(футбольный_клуб)#Ссылки)**:
![wikipedia_ru](https://user-images.githubusercontent.com/65112331/87874278-356e7280-c9d1-11ea-9c

[2020-07-19 13:53] Ubuntu-2020 opened #1218 "Articles consist of a single word. wiktionary ru"
**wiktionary_ru_all_maxi_2020-04.zim**
Article**s** consist of a single word:
![wiktionary_ru_all_maxi_2020-04](https://user-images.githubusercontent.com/65112331/87876318-16c3a800-c9e0-11ea-9a83-00727cd0908c.gif)

And here is how the [**тезаурус**](https://ru.wiktionary.org/wiki/тезаурус) article should look.

[2020-07-19 13:53] kelson42 commented on #1216
The problem is that the API of psiram is broken. I complained about that but the problem is still there. Unfortunately MWoffliner was not dying properly so unproper ZIM files have been created and older (proper) ones removed. I has been reported and fixed with #1035. I have deactivated the psiram rulesom zimfarm and removed all psiram "empty" files.

[2020-07-19 13:53] #1216 closed

[2020-07-19 13:58] kelson42 commented on #1218
Duplicate of #1177

[2020-07-19 13:58] #1218 closed

[2020-07-19 21:00] Jaifroid commented on #182
Just to say that this issue persists in `wikipedia_en_all_maxi_2020-06.zim`:

![image](https://user-images.githubusercontent.com/4304337/87885112-345a3700-ca0b-11ea-88cb-bcc062bca347.png)

[2020-07-20 06:50] #1208 closed

[2020-07-20 08:17] kelson42 opened #1219 "offlineCssUrl computation is buggy/weak"
We need to compute it properly based on MW configuration

[2020-07-20 09:09] #1175 closed

[2020-07-20 09:46] Ubuntu-2020 opened #1221 "The block with quoting the original text is not expanded"
The block with quoting the original text in **"small" ZIM files** is not expanded. What do I mean by **"small" ZIM files**?
This is any **ZIM** file. For example, this one: **wikipedia_ru_movies_maxi_2020-06.zim**
In other words, all **ZIM** files are small. Only this big one: **wikipedia_ru_all_maxi_2020-07.zim**.

Example. Article about [Quentin Tarantino](https://ru.wikipedia.org/wiki/Тарантино

[2020-07-20 10:02] Ubuntu-2020 opened #1222 "Tables are not expanded"
**wikipedia_ru_movies_maxi_2020-06.zim**
Tables are not expanded.
Example. Article about [Quentin Tarantino](https://ru.wikipedia.org/wiki/Тарантино,_Квентин#Режиссёрский_почерк):
![Quentin Tarantino-Wiki](https://user-images.githubusercontent.com/65112331/87925467-00bdf200-ca89-11ea-9bfe-55e7a187c151.gif)

I didn't click on the tables just because they are **very large** in the expanded state!

A

[2020-07-20 10:19] Ubuntu-2020 opened #1223 "The title page of Wikivoyage looks strange"
**wikivoyage_ru_all_maxi_2020-04.zim**
The **Main page** of **Wikivoyage** looks strange:
![wikivoyage_ru_all_maxi_2020-04](https://user-images.githubusercontent.com/65112331/87926362-44652b80-ca8a-11ea-94e0-c943dbbf728f.png)

On the **Main page** there are only three lines of text and this is just text without links:

The original [Title page looks like this](https://ru.wikivoyage.org/wiki/Заглав

[2020-07-20 10:58] Ubuntu-2020 opened #1224 "What articles are included in **wikipedia_ru_top.zim** ?"
Question. What articles are included in this ZIM file: **wikipedia_ru_top_maxi_2020-05.zim**

For example, the Russian Wikipedia has: [1346 Featured articles](https://ru.wikipedia.org/wiki/Википедия:Избранные_статьи), [3640 Good articles](https://ru.wikipedia.org/wiki/Википедия:Хорошие_статьи), [6601 Good articles](https://ru.wikipedia.org/wiki/Википедия:Добротные_статьи), [1036 Featured lists and

[2020-07-20 11:27] Jaifroid commented on #1224
Hi, does the landing page not show anything? (Press Home in the extension.) Another trick is to type a single upper-case (or lower-case) letter in the search box, and it will give you all articles beginning with that letter. You can increase the number of articles shown from Configuration.

[2020-07-20 11:33] Jaifroid commented on #1222
@Ubuntu-2020 I'm not sure whether you're using the Kiwix JS browser extension/add-in here or not, but not all extensions are allowed to run inline JavaScript. This is an API limitation. You can try switching to Service Worker mode (in Configuration) if you are using the Kiwix JS browser extension -- it will help with running JavaScript, but still may not run inline JS in some contexts.

[2020-07-20 11:38] Jaifroid commented on #1221
@Ubuntu-2020 What app does the top version show? I'm not clear whether you're identifying an inconsistency in Kiwix JS, or an inconsistency in the other app, but you should probably move these reports to the GitHub of the app in question if the problem is with the app.

[2020-07-20 12:02] kelson42 commented on #1188
Looks better since latest release of 14.5.0

[2020-07-20 12:02] #1188 closed

[2020-07-20 13:07] kelson42 commented on #1224
Here is the list of articles http://download.openzim.org/wp1/ruwiki_2020-07/tops/50000.tsv

[2020-07-21 12:34] Ubuntu-2020 commented on #1221
This is how the Internet page of an **[article](https://ru.wikipedia.org/wiki/Тарантино,_Квентин#«Бесславные_ублюдки»)** from Wikipedia looks in a web browser. And I would like it to look exactly the same in **Kiwix**.

The problem is not in the app but in the ZIM file!
I already wrote above that in a **large file** (**30 GB**) (**wikipedia_ru_all_maxi_2020-07.zim**) there is an expanded text of t

[2020-07-21 12:41] Ubuntu-2020 commented on #1224
@kelson42 Thank you very much for the list of articles.
But please **explain by what criteria articles are included in this list**? I thought that since this ZIM file contains 50,000 of the best articles that it means that it should contain all the **Featured** and **Good** articles. But as I pointed out above, it lacks some (six) Featured and Good articles.

[2020-07-21 13:10] Popolechien opened #1226 "Further simplify fr.wiktionary content by removing duplicates"
With the objective of creating an app that has a somewhat manageable size, there are a lot of duplicates within the current http://library.kiwix.org/wiktionary_fr_app_nopic zim that can be removed, e.g. all variations around past tense or plural that bring little to no value. Luckily all such variations have pretty much the same structure, with the article starting with `Form de _X, Y or Z_`(the u

[2020-07-21 13:17] Popolechien opened #1227 "fr.wiktionary ZIM improperly renders tables"
Looking at http://library.kiwix.org/wiktionary_fr_app_nopic here are situations where a word's variation are indicated in table aligned to the left of the screen - see, e.g. [pars](https://fr.wiktionary.org/wiki/pars#Forme_de_verbe):

![Capture d’écran 2020-07-21 à 15 14 56](https://user-images.githubusercontent.com/21675885/88059344-02f57e80-cb65-11ea-98f8-ea6cca54b607.png)

The table is howeve

[2020-07-21 13:54] Ubuntu-2020 opened #1228 "wikileaks.org - there are no suggestions when hovering the mouse cursor"
**wikileaks_en_afghanistan-war-diary_2012-01.zim**
There are no suggestions when hovering the mouse cursor:
![wikileaks_en_afghanistan-war-diary-comments](https://user-images.githubusercontent.com/65112331/88061977-e4958000-cb70-11ea-80fe-e4f5b831cb3f.png)

Here's what the suggestions look like when you hover your mouse over the **[Wikileaks site](https://wikileaks.org/)**:
![wikileaks_en_afghanis

[2020-07-21 14:29] Popolechien opened #1229 "Failed scraping of HTML content"
I had a go at [Lowtechlab](https://farm.openzim.org/recipes/lowtechlab_fr) and the [corresponding zim](https://download.kiwix.org/zim/other/lowtechlab_fr_all_nopic_2020-07.zim) output shows html-like code.

![Capture d’écran 2020-07-21 à 16 28 40](https://user-images.githubusercontent.com/21675885/88067413-40f7a000-cb6f-11ea-9327-feceaf7257a4.png)

[2020-07-22 09:44] Popolechien opened #1230 "[Regression] wikisource en_all_maxi only scraps first page and a couple of images"
With the two latest iterations we end up with a [25Mb file](https://farm.openzim.org/pipeline/5f17ef3be2aaee590569667d) instead of [20 Gb](https://farm.openzim.org/pipeline/5ed3f0a658b7a2d9e72630a9).

[2020-07-22 11:28] Ubuntu-2020 opened #1231 "Is it possible to translate the text at the bottom of the page into your native language?"
Is it possible to translate the text at the bottom of the page into your native language?
Now the text at the bottom of any Wikipedia page from ZIM file is in English:
![Page-footer](https://user-images.githubusercontent.com/65112331/88168894-c76db980-cc23-11ea-95a8-5d7c677bde0e.png)

I would like to translate it to Russian for all ZIM files from the **Russian Wikipedia**:

PS №1: also, all ZIM fi

[2020-07-22 13:47] ghost opened #1232 "Kiwix-serve adjust the page width of html"
*@AiliAili commented on Jul 22, 2020, 10:46 AM UTC:*

Hi there,
Currently, Wikipedia articles are not spanned across page width, where the online Wikipedia does. I am wondering whether it is possible to render offline Wikipedia articles as in the online Wikipedia.

Thank you!

*This issue was moved by [kelson42](https://github.com/kelson42) from [kiwix/kiwix-tools#396](https://github.com/kiwix/kiw

[2020-07-23 11:51] Ubuntu-2020 opened #1233 "The table is not displayed correctly + there are no licenses at the bottom"
**wikipedia_en_computer_maxi_2020-07.zim**
The table in the article about the [**Ubuntu**](https://en.wikipedia.org/wiki/Ubuntu#Releases) operating system is displayed incorrectly:
![Ubuntu releases-Kiwix](https://user-images.githubusercontent.com/65112331/88282415-34e81b80-ccf2-11ea-9924-53f0cadf2d2d.png)

Here's what the table should look like ([**Ubuntu releases**](https://en.wikipedia.org/wiki

[2020-07-24 07:33] Ubuntu-2020 opened #1234 "Paid subscription required - the red lock is not visible"
**wikipedia_en_computer_maxi_2020-07.zim**
Probably this error is present in other ZIM files from the **English Wikipedia**.
In the English Wikipedia a **red lock** is sometimes found in the **[References](https://en.wikipedia.org/wiki/Windows_10#References)**.
It means **Paid subscription required**:
![Paid-subscription-required](https://user-images.githubusercontent.com/65112331/88369453-c01bec8

[2020-07-24 07:39] kelson42 commented on #1234
@Ubuntu-2020 Which article is that?

[2020-07-24 07:43] Ubuntu-2020 opened #1235 "The Expanding tables and Category section at the bottom of the page are not visible"
The **Expanding table** and **Category section** at the bottom of the page are not visible.
The bottom of the page **[looks like this](https://en.wikipedia.org/wiki/Windows_Vista#External_links)**:
![Bottom](https://user-images.githubusercontent.com/65112331/88369877-a038f880-cd99-11ea-9d6f-3324a35a3a45.gif)

But in **Kiwix**, neither the **expanding tables** nor the **categories** are visible.
It

[2020-07-24 07:46] Ubuntu-2020 commented on #1234
@kelson42 This is [**Windows 10**](https://en.wikipedia.org/wiki/Windows_10#References).

[2020-07-24 07:59] Ubuntu-2020 opened #1236 "There is no sign in the References before the link"
In the English Wikipedia, there is a sign (**up arrow**) in the **References** before the link. If you click on it, you can automatically move to a place in the text - **_Jump up_**.
Sample Article: [**Windows Vista**](https://en.wikipedia.org/wiki/Windows_Vista#References):
![Vista-Jump-up](https://user-images.githubusercontent.com/65112331/88370837-84ceed00-cd9b-11ea-8751-9d46f85d9037.gif)

But

[2020-07-24 08:11] Jaifroid commented on #1235
@Ubuntu-2020 mwoffliner has never scraped these navigation tables AFAIK. Many of the issues you are opening are in fact instances of the more general issue of mwoffliner only scraping core DOM content. There are lots of navigation-style tables omitted. See #179 for example.

You could help debug these by checking if the information is available with the Parsoid API. See https://github.com/openzim/

[2020-07-24 08:23] Jaifroid commented on #1236
@Ubuntu-2020 This is a duplicate of #881.

[2020-07-24 08:24] #1236 closed

[2020-07-24 08:25] Jaifroid commented on #881
Reviving this issue that was reported again in #1236.

[2020-07-26 13:43] #1187 closed

[2020-07-26 13:46] kelson42 opened #1239 "Introduce Webm reader in JS API"
webm video reader (https://github.com/brion/ogv.js/)

[2020-07-26 13:48] kelson42 opened #1240 "Introduce night mode in JS API"
Following #596

[2020-07-27 07:27] kelson42 commented on #1203
Fixed with #1238

[2020-07-27 07:30] bakshiutkarsha commented on #1203
This issue has not been fixed. #1238 was a PR for a separate issue(there was no ticket created for it.)

[2020-07-27 07:35] bakshiutkarsha commented on #1203
@kelson42  There is an already created PR to close this issue #1225

[2020-07-27 07:35] bakshiutkarsha commented on #1203
Sure.

[2020-07-27 09:54] kelson42 commented on #1094
@bakshiutkarsha This has not been fixed, just try with https://edutechwiki.unige.ch/fr/P%C3%A9dagogie_de_l%C2%B4activit%C3%A9_(Taurisson)/Organisation_de_la_P%C3%A9dagogie_de_l%27activit%C3%A9/Grille_(remplacez_par_NB) for example. Please secure that URL rewriting goes through `rewriteUrl()`. Test `rewriteUrl()`.

[2020-07-28 13:45] kelson42 commented on #1230
https://farm.openzim.org/recipes/wikibooks_el is smaller

[2020-07-28 13:57] tim-moody opened #1242 "js errors in javascript console"
I always see js errors in the javascript console in both chrome and firefox. This one is from wikipedia_en_medicine_2020-05 on accessing the first page with kiwix-serve, but I believe you will see it with any zim. This has been here for quite a long time. I should have reported it before.

[code]
​

[2020-07-28 14:15] kelson42 commented on #1242
Basically a duplicate of #894

[2020-07-28 14:15] #1242 closed

[2020-07-28 14:25] Jaifroid commented on #894
We should un-stale this. These are the errors that show in Kiwix JS for any Media Wiki ZIM (running in SW mode). Very similar to those reported by @tim-moody in #1242 :
[code]

[2020-07-30 06:22] #1219 closed

[2020-07-31 08:29] bakshiutkarsha commented on #1230
@kelson42  I debugged the issue, my findings:

1. It seems the **remote API** is failing for all the articles. The main page article is the only one that is getting created. For articleId `Προγραμματισμός_του_Ανθρωπίνου_Δυναμικού_στις_Επιχειρήσεις_και_στους_Οργανισμούς`

Eg: `https://el.wikibooks.org/api/rest_v1/page/mobile-sections/%CE%A0%CF%81%CE%BF%CE%B3%CF%81%CE%B1%CE%BC%CE%BC%CE%B1%CF%84%CE%B

[2020-07-31 09:18] Ubuntu-2020 opened #1244 "Missing some articles in "wikipedia_en_astronomy_maxi_2020-07.zim""
There is no [**Mars 2020**](https://en.wikipedia.org/wiki/Mars_2020), **[Curiosity (rover)](https://en.wikipedia.org/wiki/Curiosity_(rover))** articles in **wikipedia_en_astronomy_maxi_2020-07.zim**.

[2020-07-31 10:20] kelson42 commented on #1244
@Ubuntu-2020 Please make the usual verification before opening a ticket like this. @Popolechien and myself have explain how it happens that an article is selected.

Here:
* https://en.wikipedia.org/wiki/Talk:Mars_2020 is not part of the Astronmy project
* https://en.wikipedia.org/wiki/Talk:Curiosity_(rover) is not part of the Astronomy project either

[2020-07-31 10:20] #1244 closed

[2020-07-31 10:50] kelson42 commented on #1230
@bakshiutkarsha We have broken something here... This web site does not have any mobile API.

[2020-07-31 13:18] Ammarpad commented on #1203
To serve the main page from the domain root, you need to set the `$wgMainPageIsDomainRoot` config flag to true. Note that it's marked as experimental and is only available from Mediawiki 1.34 and onward.

[2020-07-31 17:25] Ubuntu-2020 commented on #1244
@kelson42 OK, but why in the **wikipedia_en_astronomy_maxi_2020-07.zim** is not included: [**WikiProject Spaceflight**](https://en.wikipedia.org/wiki/Category:WikiProject_Spaceflight)???

[2020-08-02 05:22] bakshiutkarsha commented on #1203
@Ammarpad  Thanks for the explanation. I checked for this wiki, the version they use is 1.27.4. Also, is there any way I can check the `$wgArticlePath` value for this wiki?

[2020-08-05 14:40] Lucent opened #1247 "More obvious reporting for failed pages"
If fed an article list for downloading, my primary concern is determining which titles the run failed to download, (usually due to nonexistence). The following catches some of the fails and makes them obvious, but on a run of 300 titles that had 9 failures, this only showed 3 lines and I have no idea what other pages failed or if they were other types of failures:

`mwoffliner … --verbose --articl

[2020-08-05 15:00] Lucent commented on #1247
Upon further attempts to match up the summary report, error log, and what's actually missing from the .zim, I discovered the following:

[code]

The 404 pages genuinely did not make it to the final .zim, only 3. The other 6 "cannot read property of subCategories" made it in as a redirect, so I'm not sure what that error actually means or whether it should even be counted as 6 additional failures i

[2020-08-05 15:22] Lucent commented on #1232
This is caused by max-width and margins set on #bodyContent. An ideal fix to this would be the ability to inject CSS files using something like `--customFlavour=wider.css`. Is this in any way possible currently or plans to make it possible?

[2020-08-05 16:07] Lucent commented on #1232
Here's a temporary solution. Adjust the $FILE variable to match your node_modules directory.

[code]

[2020-08-08 06:16] Popolechien commented on #1230
Just adding wikiquote_en_all_maxi_2020-08.zim as another reported and similar issue.

[2020-08-13 06:24] Popolechien opened #1248 "Vikidia scraper failed for the past few months"
It looks like it's impacting the "larger" (relatively speaking as they are all small) languages, see e.g. https://farm.openzim.org/recipes/vikidia_fr
And the most common error is timed out
https://farm.openzim.org/pipeline/5f33b0062a0cfbdda0a7794d/debug

Is this something on our end or should we contact the Vikidia folks to limit throttling?

[2020-08-14 20:07] MananJethwani commented on #990
@kelson42 I would like to work on this if no one is working on it

[2020-08-14 21:10] MananJethwani commented on #990
the solution I think would be good is to make another test.ts file and make individual as well as combined test for all arguments so that this file can be re used at other places as well.

[2020-08-15 14:44] kelson42 commented on #990
@MananJethwani Your are welcome to make a PR. Start small, just test one or two things first.

[2020-08-18 13:20] Popolechien commented on #1230
Just had a quick check: [every single Wikibook](http://download.kiwix.org/zim/wikibooks/?C=S;O=A) is impacted and returns almost-empty zim files of varying size (a few hundred Kb to 5.8 Mb max). Something must have happened in June because the only 3 zim files that are ok (`el` and `hi`) are from then.

Same thing for Wikiversity, Wikisource, Wikiquote, Wikinews.
Wikipedia, Wikivoyage and Wiktiona

[2020-08-19 07:00] Popolechien commented on #1111
Ok, the article is available in https://library.kiwix.org/wikipedia_de_all_maxi_2020-08/A/Magnus_Carlsen and no one else has come forward with a similar issue. Closing the ticket for the time being.

[2020-08-19 07:00] #1111 closed

[2020-08-26 07:35] Jaifroid commented on #1240
This API should merely add an overriding CSS stylesheet. If you look at Kiwix JS, you will see how we've implemented themes as a set of plug-in CSS files. Go to https://kiwix.github.io/kiwix-js/ and have a look under Display Settings (screenshot at bottom of this post).

The simple CSS we use for content-inversion in Kiwix JS is this:
[code]

However, for Wikimedia ZIMs, some workarounds are requi

[2020-08-26 07:40] Jaifroid commented on #1240
Ah, and I forgot to mention that in addition to the above rules, we also invert the entire iframe that contains the content with:

`filter: invert(1) hue-rotate(180deg);`

[2020-08-26 09:48] Popolechien commented on #1210
Duplicate of #1230

[2020-08-26 09:48] #1210 closed

[2020-08-27 17:20] kelson42 commented on #1033
@bakshiutkarsha @Jaifroid If I understand right, we have our `<details>` nodes in the DOM for the sections heading (we control that part of the HTML) and we have `<details>` node coming from the HTML itself we retrieve. And our JS code for the section collapsing/uncollapsing interfer here with the content code? If this is that, please secure our section code never interfer with content code by set

[2020-08-29 03:56] bakshiutkarsha commented on #1033
So, the problem was the interference of the custom section code that we have written, now I have made the some changes on the basis of `class="NavFrame"`, it is working now.

[2020-08-29 07:32] kelson42 commented on #1033
@bakshiutkarsha Your solution is not good. Secure our code does not interfer by modifying things without relying on custom content. What will happen tomorrow if a wiki editot decides to call this « navbar2 » in place of « navbar »?

[2020-09-01 12:58] #990 closed

[2020-09-01 13:04] #1230 closed

[2020-09-01 13:04] kelson42 commented on #1203
Closed via https://github.com/openzim/mwoffliner/pull/1246

[2020-09-01 13:04] #1203 closed

[2020-09-01 17:17] MananJethwani commented on #984
@kelson42 I want to work on this issue

[2020-09-02 05:43] bakshiutkarsha commented on #1033
We do control our `details` node in DOM for the section heading but there are NO `details` coming from the HTML we receive, so the solution you are proposing won't work IMO.

[2020-09-02 05:55] bakshiutkarsha commented on #1033
We do control our `details` node in DOM for the section heading but there are NO `details` coming from the HTML we receive, so the solution you are proposing won't work IMO.

In the online version, when the page loads, some block of js code is making this style override
[code]

with this `display: block
`  which is not present in the offline version.

Also, there is a click event with function `Vi

[2020-09-02 14:37] kelson42 commented on #1009
Might be a duplicate of  #1033

[2020-09-02 16:02] kelson42 commented on #984
@MananJethwani Thank you for your offer. I believe you should be able to get that problem with an `--articleList` as well. That should solve your problem.

[2020-09-03 09:41] PLQin commented on #698
删除掉 `layouts\default.vue` 中的 `script` 试试

<small>Try deleting the 'script' in 'layouts\default.vue'</small>

[2020-09-05 20:22] MananJethwani commented on #984
@kelson42 doesn't customMainPage needs to be a valid URL for redirection to work or did I miss understood the argument?

[2020-09-06 07:00] kelson42 commented on #984
@MananJethwani customMainPage argument does not expect a Url. It expects an articleId. Obviously a valid articleId. But a redirect is a valid article.

[2020-09-06 09:35] MananJethwani commented on #984
@kelson42 the Kullanıcı:Stephane_(Kiwix)/Landing is itself redirecting to another article namely Kullanıcı:The other Kiwix guy/Landing and using this in argument for customMainPage works fine.
from this the only inference I could make is Kullanıcı:Stephane_(Kiwix)/Landing is not an article anymore to find that page I have to use the link [https://tr.wikipedia.org/w/index.php?title=Kullan%C4%B1c%C4

[2020-09-06 09:38] MananJethwani commented on #984
so I think the search for this page is not performed properly so should I make a search or can you suggest something else?

[2020-09-06 09:40] kelson42 commented on #984
The fix should be that if the customMainPage is a redirect, than it should be a redirect in the ZIM itself, and the page which is redirect to, shouild be mirrored as well.

[2020-09-06 09:41] kelson42 commented on #984
Or, you just detect this is a redirect and then you generate an error (probably better),

[2020-09-07 10:28] MananJethwani commented on #984
@kelson42 I will go with the second one but It may take me few days because of some COVID19 related issue.

[2020-09-07 11:51] kelson42 commented on #984
@MananJethwani Great, thank you.

[2020-09-07 19:41] kelson42 opened #1254 "Add --webp option"
With this option, GIF, PNG and JPEG should be converted to WEBP images.

[2020-09-08 07:10] Jaifroid commented on #1254
But this would leave a number of platforms behind. See https://caniuse.com/webp . I don't think browser support is ready for this?

[2020-09-08 07:17] kelson42 commented on #1254
@Jaifroid Few clarifications:
* For the moment this would be an option (so not run everywhere)
* You probably need to read https://github.com/openzim/python_scraperlib/issues/45
* First candidates would be the ZIM to be put in the Android custom apps

[2020-09-08 07:54] Jaifroid commented on #1254
Ah, OK, thanks! I see there is a polyfill that supports old browsers, including IE11, so it's not the breaking change I thought it was at first.

[2020-09-09 21:33] arjungarg07 commented on #1254
Hey @kelson42, I am willing to work on this issue. Can you assign this to me?

[2020-09-09 22:21] arjungarg07 commented on #1254
Hey @kelson42, I am willing to work on this as my first issue. Can you assign this to me? and Can you brief me more about this issue, please!

[2020-09-09 22:23] arjungarg07 commented on #1254
Hey @kelson42, I am willing to work on this as my first issue. Can you assign this to me?

[2020-09-10 06:53] kelson42 commented on #1254
@arjungarg07 Thx, good to me.

[2020-09-10 06:56] kelson42 opened #1255 "New option -zstd"
This new option should allow to use zstd in place of xz in ZIM compression algorithm. Node libzim Creator object constructor takes an optional argument `compression` which could be set to `zstd`. Per default this is `xz`.

[2020-09-13 12:18] move[bot] opened #1256 "Fail to show many English characters in Chinese Wikipedia"
*@wdscxsj commented on Sep 13, 2020, 9:11 AM UTC:*

*   Kiwix version: 2.0.4
*   Affected local file: wikipedia_zh_all_maxi_2020-07.zim
*   OS: Windows 10 Enterprise 2004 Simplified Chinese Edition

On my machine, Kiwix often fails to show English characters in the Chinese Wikipedia zim.

For example, this is the display of the online item "纽约" (New York) in Chrome:

[![ny-chrome](https://user-ima

[2020-09-16 03:37] arjungarg07 commented on #1254
Do i have to add this option in the parameters of mwoffliner API?
Can you please brief me more about this.

[2020-09-16 10:03] trappedinspacetime commented on #1068
I've just tested it in http://library.kiwix.org/artofproblemsolving_en_all_maxi_2020-08/A/AMC_Problems_and_Solutions
When I click one of the links it fails because it redirects to empty page.
For example it redirects to http://library.kiwix.org/wiki/AMC_8_Problems_and_Solutions instead of http://library.kiwix.org/artofproblemsolving_en_all_maxi_2020-08/A/AMC_8_Problems_and_Solutions
It appears tha

[2020-09-16 14:21] #1255 closed

[2020-09-16 15:46] kelson42 commented on #1224
@Ubuntu-2020 This is a whole algorithm, I'm not going to explain it, but this is open source here https://github.com/openzim/wp1_selection_tools

[2020-09-16 15:46] #1224 closed

[2020-09-18 09:46] MananJethwani commented on #1141
@kelson42 then is this issue closed?

[2020-09-18 16:34] Mitia99 commented on #1026
I also hope that this issue will be fixed.

[2020-09-19 07:35] MananJethwani commented on #1040
@kelson42 is this issue still open?.....I would like to work on it

[2020-09-19 11:30] kelson42 commented on #1254
@arjungarg07 yes, this is a new option.

[2020-09-19 14:03] kelson42 commented on #1221
@Jaifroid To me this is a duplicate of #1033

[2020-09-19 14:07] kelson42 opened #1259 "Automated tests fails because of lack of `offline.css`."
This file https://en.wikipedia.org/wiki/MediaWiki:Offline.css existed before but does not exists anymore. I believe the automated tests fail because of this changement. But this file is optional, so tests should pass.

[2020-09-19 14:59] automactic commented on #1141
I am ok with closing it as won't do

[2020-09-19 17:03] kelson42 commented on #1247
@Lucent Thank you for the bug report, I believe this should work better with https://github.com/openzim/mwoffliner/pull/1260. Otherwise please share the complete command and the `articles.txt`.

[2020-09-19 17:06] #1141 closed

[2020-09-19 18:50] #984 closed

[2020-09-19 18:50] #1073 closed

[2020-09-19 18:50] #1247 closed

[2020-09-19 19:09] MananJethwani commented on #1259
@kelson42 while using axios when status code is 404 axios throws an error which is causing test to fail

[2020-09-19 19:11] kelson42 commented on #1259
@MananJethwani If there is a 404, then no ero should happe, maybe just a log entry and the process shoudl just continue.

[2020-09-20 22:03] Venipa opened #1261 "Error: @openzim/libzim@2.4.2 install"
info lifecycle @openzim/libzim@2.4.2~install: Failed to exec install script
Error: @openzim/libzim@2.4.2 install: `npm run download && node-gyp rebuild -v && npm run bundle`
tried installing on node 10, 11 and 12
also tried it on windows and linux
![image](https://user-images.githubusercontent.com/17952364/93723275-8d765080-fb9d-11ea-8824-96d86edcd9c4.png)

[2020-09-21 05:44] ErinPo commented on #1177
I just checked with the current version of the Russian Wiktionary (Викисловарь, creator Wiktionary, publisher Kiwix, ID e3614ce1) and the issue persists.

[2020-09-21 06:53] kelson42 commented on #1261
@Venipa Thank you for your bug report. Neither libzim nor mwoffliner packages support Windows out of the box. Nobody has ever tried to use this on Windows. For the reset, was do you try to achieve exactly? What do you do exactly? What kind of Linux do you have?

[2020-09-21 07:45] Venipa commented on #1261
tried to install it on debian 10, also have tried to run it on a wsl debian distro (OS: Debian GNU/Linux 10 (buster) on Windows 10 x86_64)

[code]

[2020-09-21 12:03] kelson42 commented on #1261
I confirm I have problems with buster, not clear what so far. I recommend to use the Docker image https://hub.docker.com/r/openzim/mwoffliner or to use checkout this repo and run it locally.

[2020-09-21 13:32] MananJethwani commented on #1259
@kelson42 adding `validateStatus(status) { return ((status >= 200 && status < 300) || status === 304 || status ===404);}` removes the error but still string includes function in styles.test.ts is showing false even when it is present there I logged finalCss and offlineCssContent

[2020-09-21 14:31] MananJethwani commented on #1259
it is due to different time stamp is being appended during 404 request

[2020-09-22 08:53] kelson42 opened #1264 "Implement images lazy loading"
This would help to reduce energy consumption:
https://web.dev/native-lazy-loading/

This shoudl be trivial to implement.

Remark: no implementation so far at Mediawiki level, see https://phabricator.wikimedia.org/T230812

[2020-09-22 08:59] Jaifroid commented on #1264
I think one thing to consider is the extent to which this should be implemented in the ZIM or in the reader. Some browsers (e.g. Chromium) have implemented native lazy loading (see https://www.androidpolice.com/2019/04/08/google-chrome-to-support-lazy-loading-by-default-starting-with-version-75/) whereas others need scripts to help them. Of course a web view is not necessarily the same as a browse

[2020-09-22 09:07] kelson42 commented on #1264
@Jaifroid My asumption is that when `<img loading=lazy>` is supported by the browser (Firefox, Chrome) then it will work fine and otherwise this will be ignored (so work like before).

[2020-09-23 18:29] MananJethwani commented on #1259
@kelson42 please close this ticket

[2020-09-29 14:06] Popolechien opened #1266 "[Regression] Non-Wikimedia zims shrunk by 90% in last run"
eu4_en_all_maxi_2020-08.zim 155M  -> eu4_en_all_maxi_2020-09.zim  303K

[2020-09-29 19:37] jadestorm opened #1267 "Unable to use mwoffliner to download private wiki"
Hi folk, we have a pretty stock mediawiki install, but we have locked it down so that it requires a login to access any data.  We also have it running at the root level of it's domain instead of /wiki/.  With that said -- I'm getting (with obvious replacements):

[code]

I went to the url it used for the JSON query and got:

[code]

Any thoughts on what I'm missing here?  =)  Thanks!

[2020-09-30 08:16] kelson42 commented on #1267
@jadestorm Thank you for your bug report. We have in general many problem to scrape Mediawikis with a configuration which tends to be strongly different from the Wikimedia wikis. Not on purpose, but fixing all the bugs is currently much for our small resources. If your wiki is private, I strongly suspect that the problem is #42. There is as well #758.

[2020-09-30 14:46] Popolechien commented on #1266
Adding  klexikon_de_all_maxi_2020-06.zim 7.9M -> klexikon_de_all_maxi_2020-09.zim 137K

[2020-09-30 14:59] jadestorm commented on #1267
Ack yeah we are running the latest LTS version (1.31?) so definitely beyond the 1.28.

Unfortunately I don't have the time to dive into it myself either so --- I'm going to look for another solution.  I leave it up to you if you want to keep the report open or not.  =)  I certainly don't mind testing fixes in the future if some come!

[2020-10-04 15:02] Ubuntu-2020 opened #1269 "There is no links to renamed articles"
**wikipedia_ru_all_maxi_2020-07.zim**

This zim file contains **all the articles**.
Open an article about **[Paper](https://ru.wikipedia.org/wiki/Бумага#См._также)**.
And we see that the fourth line is written just text without a link:
![Kiwix-2-8-0-firefox](https://user-images.githubusercontent.com/65112331/95018838-cf59c900-066a-11eb-82bc-8256d52862d8.gif)

But the article exists! It was just re

[2020-10-06 13:29] Ubuntu-2020 commented on #1244
@kelson42 OK, but why in the **wikipedia_en_astronomy_maxi_2020-07.zim** is not included: [**WikiProject Spaceflight**](https://en.wikipedia.org/wiki/Category:WikiProject_Spaceflight)???

[2020-10-06 13:52] Popolechien commented on #1244
@Ubuntu-2020 probably because it was not included in the selection to begin with? Simply add a ticket at [wp1_selection_tools](../../wp1_selection_tools/issues) indicating which wikiproject should be included to a given selection (or removed, I recall that we took biographies out of a couple of project to gain space).

[2020-10-07 18:59] MananJethwani commented on #1026
@Jaifroid @kelson42 for transparent images we can add a white border stroke to the image in a css file that could do the job.

[2020-10-08 07:48] kelson42 commented on #1267
Duplicate of #42.

[2020-10-08 07:48] #1267 closed

[2020-10-08 07:49] kelson42 commented on #758
Duplicate of #42.

[2020-10-08 07:49] #758 closed

[2020-10-08 07:54] #1259 closed

[2020-10-08 12:03] Ubuntu-2020 opened #1272 "Freely accessible - the green lock is not visible"
It seems to me that the **green lock** is not displayed in **Kiwix**.
[**Yellowstone National Park**](https://en.wikipedia.org/wiki/Yellowstone_National_Park#References) Reference **№103**:
![green-lock](https://user-images.githubusercontent.com/65112331/95455673-e6ecc680-0976-11eb-991f-56ef12414006.gif)

I think so because the **[red lock](https://github.com/openzim/mwoffliner/issues/1234)** is n

[2020-10-08 17:59] #1254 closed

[2020-10-08 19:14] ghost opened #1273 "Wiki of Ice and Fire Major bug"
*@Destroyer5150 commented on Oct 4, 2020, 12:22 PM UTC:*

[![Screenshot_20201004-051219_Kiwix](https://user-images.githubusercontent.com/59759269/95015224-a6045300-0600-11eb-8f47-b6db92f3711b.jpg)](https://user-images.githubusercontent.com/59759269/95015224-a6045300-0600-11eb-8f47-b6db92f3711b.jpg)
As you can see, most of the content can not be seen. It's been this way for about a year. The little

[2020-10-08 19:16] kelson42 commented on #1273
Which zim file is that?

[2020-10-08 23:00] Destroyer5150 commented on #1273
It shows up as Westeros when searching manually. The last two were just a couple random zims that I tested.

[2020-10-10 15:52] #1264 closed

[2020-10-11 06:34] iTzHard opened #1276 "ArchWiki completly completly broken"
Zim file shows `text/plain=10;text/css=5;application/javascript=6;image/png=16;image/svg+xml=3;image/gif=2`

[2020-10-11 07:12] kelson42 commented on #1276
I confirm, currently fixing it.

[2020-10-11 18:39] devangmukherjee commented on #1215
Hi, will it work if we insert the same image of a pdf in this place?

[2020-10-13 08:41] devangmukherjee commented on #1215
@kelson42 I am interested in working on this issue, can I work on it?

[2020-10-13 08:45] kelson42 commented on #1215
@devangmukherjee You are welcome, but before coding anything, please explain here the root cause of the problem and your approach to fix it.

[2020-10-13 10:55] kelson42 opened #1278 "LocalParsoid e2e automated test doesn't close properly"
Because of the localparsoid e2e test.

[2020-10-14 08:15] devangmukherjee commented on #1215
@kelson42   I am actually unable to figure out how does the pdf icon even appear at the wikipedia screen cause I looked at source and for an image <a href> should be present linking the image form somewhere.

![Screenshot from 2020-10-13 14-40-46](https://user-images.githubusercontent.com/44459138/95962024-7ab10d80-0e23-11eb-8175-0f0a8543eeb4.png)

Can you please tell me what am I understanding in

[2020-10-14 11:26] devangmukherjee commented on #1215
@kelson42  I think the problem is that pdf icon is a background image to the link and that's why isn't showing anything there. So for the link element we can extract that background image and show it there. Will this work?

[2020-10-14 11:28] Ubuntu-2020 commented on #1269
The article by **[Kevin Jarre](https://library.kiwix.org/wikipedia_en_all_maxi_2020-09/A/Kevin_Jarre)**.
The link to the article about **Detroit, Michigan** is not visible. The link is not visible due to the fact that the **Detroit, Michigan** article was renamed to **Detroit**:
![Redirected from Detroit, Michigan](https://user-images.githubusercontent.com/65112331/95982255-92d75b80-0e28-11eb-8ccf

[2020-10-18 14:00] b2pacific commented on #1174
Can I help with this issue?
If yes, then assign me this issue.

[2020-10-18 14:03] kelson42 commented on #1174
@b2pacific yes please carry on with a PR. Nobody is working on that for the moment.

[2020-10-18 18:25] ghost opened #1280 "unnecessary images loaded from wikimedia"
*@ghost commented on Oct 7, 2020, 7:20 PM UTC:*

When I use kiwix-serve on Windows and open any article, I noticed in network monitor or via umatrix that upload.wikimedia.org two images are being loaded, which even if I let them to download, do not appear in article ever, meaning they are useless:
`https://upload.wikimedia.org/wikipedia/commons/d/d6/Lock-gray-alt-2.svg`
`https://upload.wikimedia.o

[2020-10-18 18:38] kelson42 commented on #1280
We need to clarify an d then understand why these ones are not rewritten.

[2020-10-20 09:06] TheNetStriker opened #1281 "getCategories: Cannot read property 'missing' of null"
I've got the following error when running mwoffliner with the --getCategories option on my private wiki. (Version 1.35.0)

[code]

I found out that the [Category:Pages_with_syntax_highlighting_errors](https://www.mediawiki.org/wiki/Category:Pages_with_syntax_highlighting_errors) was causing this problem. As soon as I fixed all the pages in this category the error was fixed. Can you explain this an

[2020-10-21 05:24] MananJethwani commented on #1280
@ghost can you please tell which articles were you opening when you saw this problem.

[2020-10-21 07:01] Jaifroid commented on #1280
@MananJethwani I recently discovered that if you see an account "ghost" it means the user has deleted their account, so presumably will no longer receive pings...

[2020-10-21 19:18] kaldari opened #1282 "Documentation needs improvement"
The README.md file leaves me with some questions:
* What is included in the HTML snapshot? I'm assuming it's just the article content and not the interface, but does it include images, videos, or audio? Does it include the categories?
* How does it actually scrap the articles? Via the MediaWiki Revisions API?
* Does it always get the latest revisions or can you specify a certain date?
* How does t

[2020-10-23 12:53] kelson42 commented on #1021
It seems to me that the problem does not occur anymore, I see:
* http://library.kiwix.org/wiktionary_en_all_nopic/A/brot
* http://library.kiwix.org/wiktionary_en_all_nopic/A/Brot

Both are different articles and in the ZIM files. Suggestions as well work properly.

@Jaifroid @beanandbean Closing the ticket, please let me know if you still have a problem around that with a recent ZIM file.

[2020-10-23 12:53] #1021 closed

[2020-10-23 13:05] kelson42 commented on #1184
Problem has been workarounded by stopping making images request using `'accept-encoding': 'gzip, deflate',`

[2020-10-23 13:05] #1184 closed

[2020-10-23 13:07] kelson42 commented on #1183
@MananJethwani Could you please have a look to that one? I believe this might have been already fixed as we rely more on the HTTP response header than on the file extension now!

[2020-10-23 13:53] kelson42 commented on #1282
I will give more details about what can be downloaded, for the rest it scrapes the content, it does not emulate Mediawiki.

Category scraping does not work properly so far: https://github.com/openzim/mwoffliner/issues/829

Yes, have put a sentence in the README.md about that.

Yes and no. There is a feature request to specify the revid, see https://github.com/openzim/mwoffliner/issues/982

[2020-10-23 13:55] #1282 closed

[2020-10-23 13:56] kelson42 commented on #1281
@TheNetStriker Thank you for your bug report. Unfortunately many things are not working fine with categories :(. Closing as duplicate of https://github.com/openzim/mwoffliner/issues/829

[2020-10-23 13:56] #1281 closed

[2020-10-23 14:14] kelson42 commented on #1280
I confirm the problem. It comes from `res/inserted_style.css`. All that file should be removed as this should come from the online version.

[2020-10-24 21:10] MananJethwani commented on #1183
@mgautierfr can you give me link to the article

[2020-10-25 16:05] kelson42 commented on #1183
@mgautierfr @MananJethwani I have used `zimdump` to inspect `wikipedia_ar_history_maxi_2020-10.zim` and all the SVG starting with `osm-intl` have the `image/svg+xml`. I believe the problem has been fixed during the implementation of the `--webp` option which implied that we rely more the HTTP response mime-type (and not the filename) than before.

[2020-10-25 16:14] kelson42 opened #1286 "Better WebP Polyfill"
Discussing about WebP polyfill with @Jaifroid of the Kiwix JS team, it appears we could be smarter in the way we test and introduced the polyfill scripts.

This would allow us to:
* Don't modify the DOM
* Avoid loading the polyfill in memory if this is not used.

The discussion runs here:
https://github.com/kiwix/kiwix-js/issues/650

But the key comment is the one by @Jaifroid showing us how this

[2020-10-26 08:03] stevenling commented on #840
I think can  support Simplified Chinese and Traditional Chinese.

[2020-10-26 09:46] mgautierfr commented on #1183
The problem is that they ARE png.
[code]

You can see that the stored mime-type in zim is `image/svg+xml` but if you look at the content of the entry, it is PNG.

[2020-10-26 10:46] kelson42 commented on #1183
@mgautierfr Great, thx for the clarification.

[2020-10-26 10:47] kelson42 commented on #1183
@MananJethwani I believe the problem is in the regexp testing the URL, we should remove/ignore everything after the question mark.

[2020-10-26 16:27] #1040 closed

[2020-10-28 15:01] #1286 closed

[2020-10-28 15:04] Jaifroid commented on #1286
Sorry about not having time to engage this week -- all a bit mad at the moment. If you need anything testing at the weekend, let me know.

[2020-10-28 15:07] kelson42 opened #1288 "Thumbnailed welcome page does not work with webp"
Thumbnail welcome page does not display the picture if MWoffliner is used with `--webp`.

The problem is that:
* The links are not pointing the the WebP
* The polyfill is not loaded (`article_list_home.html`)

Remark, to test please:
* `-mwUrl="https://en.wikipedia.org" --articleList="https://download.openzim.org/wp1/enwiki_2020-10/tops/10.tsv" --webp`
* MIN_IMAGE_THRESHOLD_ARTICLELIST_PAGE = 1

[2020-10-28 20:59] kelson42 opened #1289 "On WikiMed ZIM it looks likes redirects are scraped but links to redirect are removed"
For example:
in https://en.wikipedia.org/wiki/Book:Cancer, the link to "Colon cancer" exists

In the ZIM:
http://library.kiwix.org/wikipedia_en_medicine_maxi/A/Book%3ACancer it is black,

although:
http://library.kiwix.org/wikipedia_en_medicine_maxi/A/Colon%20cancer exists.

I believe there is a problem of article id comparison (with or without space/underscore).

[2020-10-30 06:54] devangmukherjee commented on #1289
Hi, I would like to work on this. Can you please tell me where can I find the code related to this?

[2020-10-30 09:08] #1288 closed

[2020-10-30 15:46] kelson42 commented on #1139
This problem does not occur anymore because of a better software architecture (we don't fallback during rendering).

[2020-10-30 15:46] #1139 closed

[2020-10-30 18:58] kelson42 commented on #1269
Strongly suspect this is a duplicate of #1289

[2020-10-30 20:39] MananJethwani commented on #1269
yeah seems to be the same problem

[2020-10-31 12:42] kelson42 commented on #1269
Closing as duplicate. Will be fixed in the next days.

[2020-10-31 12:42] #1269 closed

[2020-11-01 11:58] #1211 closed

[2020-11-01 11:58] #1276 closed

[2020-11-01 12:11] #1289 closed

[2020-11-01 12:37] kelson42 commented on #1214
We might have here a bad handling if interwiki links. This is something we never lokked at accurately. To be confirmed.

[2020-11-01 12:41] kelson42 commented on #1233
The table problem seems to be fixed in latest version of the ZIM. But indeed the footer is not there which is a problem I have never seen before. @MananJethwani An idea?

[2020-11-01 12:45] kelson42 commented on #1217
@Ubuntu-2020 Probably because there is the CSS ‘noprint’ class in the ‘div’. We remove all of them. To be confirmed.

[2020-11-01 14:03] kelson42 commented on #347
Have created a recipe https://farm.openzim.org/recipes/dandwiki/

[2020-11-01 14:08] kelson42 opened #1293 "Does Docker/Zimfarm uses Redis via TCP or Socket?"
Since #1163, MWoffliner uses default Redis localhost port (so no custom socket anymore).

I wonder if we use now socket:
* in Docker?
* in Zimfarm?

To me it seems not, but I’m unsure.

[2020-11-01 14:08] kelson42 commented on #1293
@rgaudin Are you able to comfirm?

[2020-11-01 14:17] rgaudin commented on #1293
dockerfile clearly shows that it uses the socket

[2020-11-01 14:56] kelson42 commented on #1293
https://github.com/openzim/mwoffliner/blob/42ca4ece88358f5a1f668c3f702be1b89a369e0c/docker/node_redis-entrypoint.sh#L5 It seems it listen ob both socket and txp?!

[2020-11-01 14:59] rgaudin commented on #1293
I wrote `Dockerfile`.

https://github.com/openzim/mwoffliner/blob/42ca4ece88358f5a1f668c3f702be1b89a369e0c/docker/Dockerfile#L31

To me, unless the `REDIS` env is set, it uses socket.

[2020-11-02 17:59] kelson42 commented on #347
Works now https://farm.openzim.org/recipes/dandwiki

[2020-11-02 17:59] #347 closed

[2020-11-02 18:13] kelson42 commented on #1068
Trying a new run with latest version of MWoffliner

[2020-11-02 18:19] kelson42 commented on #1231
Yes, we should work on this. This ticket is basically a duplicate of #1116

[2020-11-02 18:19] #1231 closed

[2020-11-02 18:22] kelson42 commented on #1204
Probably a duplicate of #1033

[2020-11-02 18:25] kelson42 commented on #5
There is no plan do to that so far and I’m not really supportive of doing that within mwoffliner anyway. Closing.

[2020-11-02 18:25] #5 closed

[2020-11-03 10:32] #1293 closed

[2020-11-03 10:38] kelson42 commented on #1068
Problems fixed in 2020-11 version.

[2020-11-03 10:38] #1068 closed

[2020-11-03 10:42] kelson42 commented on #1228
I had a look and this ZIM suffers of many problem. It is one of the first one we have done and does not respect new standards. I have removed it from the portofolio and archived it.

[2020-11-03 10:42] #1228 closed

[2020-11-03 10:48] kelson42 commented on #1217
Like I said two days ago, this is what happened here:
[code]

[2020-11-03 10:48] #1217 closed

[2020-11-03 15:50] kelson42 commented on #1233
@MananJethwani Latest zim file made by zimfarm is here https://mirror.download.kiwix.org/zim/wikipedia/wikipedia_en_computer_maxi_2020-11.zim. Please check.

[2020-11-03 16:22] kelson42 commented on #1233
@MananJethwani The big is still there in latest ZIM.

[2020-11-04 08:49] kelson42 commented on #1183
After discussing the issue with @MananJethwani yesterday it seems that we need to have a look/fix a few different things:
* New/update automated tests the involved REGEX (related functions) properly
* Clarify/fix why PNG delvered content (so with what should be `image/png` HTTP response `content-type` header) ends up with an `image/png` mime-type in the ZIM. We should take the ZIM mime-type from t

[2020-11-04 11:33] kelson42 opened #1295 "Wikimed welcome page "Skin disease" and "Mental health" are broken"
The reason is that they point to redirects. But the redirects in articleList should be handled!

[2020-11-05 13:34] kelson42 opened #1297 "Detection of REST api is not 100% working"
We have to test with an existing article. I have put `MediaWiki:Sidebar` but actually this article is not always there. We should probably find a way to get the welcome page articleId and use it.

[2020-11-05 17:29] sivaraam opened #1298 "mwoffliner Cloud VPS project?"
Wikimedia's [Cloud VPS](https://wikitech.wikimedia.org/wiki/Portal:Cloud_VPS) service is doing a [cleanup for 2020](https://wikitech.wikimedia.org/wiki/News/Cloud_VPS_2020_Purge#mwoffliner). While browsing through the [currently unclaimed list of projects](https://lists.wikimedia.org/pipermail/wikitech-l/2020-November/094014.html), I noted that [mwoffliner](https://wikitech.wikimedia.org/wiki/News

[2020-11-09 11:56] aaronduce commented on #1261
Same issue experienced on Ubuntu 20.04, using Node 11.14.0 via nvm.

I then installed make and build-essential via apt and it got further but now fails at gifsicle. See below.

`(node:7242) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 SIGINT listeners added. Use emitter.setMaxListeners() to increase limit
  ⚠ Response code 404 (Not Found)
  ⚠ gifsicle pre-build test

[2020-11-09 12:11] kelson42 commented on #1261
We will have a look soon, but we use MWoffliner on Docker based on Debian... so not sure exactly what goes wrong.

[2020-11-10 01:30] aaronduce commented on #1261
Strange, for now I got the archive I needed using docker version instead.

[2020-11-10 08:41] kelson42 commented on #1298
@sivaraam Thank you for the warning, I missed that news. I have updated the page, https://wikitech.wikimedia.org/w/index.php?title=News%2FCloud_VPS_2020_Purge&type=revision&diff=1887719&oldid=1887671.

[2020-11-10 08:41] #1298 closed

[2020-11-11 08:02] #1233 closed

[2020-11-11 09:57] Popolechien opened #1300 "Internal links loop back to landing page"
Tried with Termux Wiki https://github.com/openzim/zim-requests/issues/307
and got https://farm.openzim.org/pipeline/5faac766ae273d23c74cd243

There are some minor layout issues and the wiki is surprisingly small (1.7Mb) but most importantly when clicking on any link on the front page (e.g. "getting started") I get sent back.. to the front page.

[2020-11-11 10:08] kelson42 opened #1301 "Optimized batch of article ids for selections"
By scraping a selection:
[code]

We can see that that the article range have a fix size of 30. This is specified in `mw-api.ts`:
[code]

Actually the Mediawiki API can do more up to 50. The problem is that with non-ASCII languages the titles can take a lot of bytes and then we reach the overall ULR size limit which seems to be 8201.

The goal of this ticket is to build the batchSize so it does not

[2020-11-11 10:24] kelson42 commented on #1300
I confirm the problem. Really Funky. First time I see this.

[2020-11-12 10:37] kelson42 commented on #1300
We have the same problem with vikidia, so this is a regression we have introduced recently.

[2020-11-12 11:15] kelson42 opened #1302 "We should rethink about a few default configuration"
This made sense as we were writting to the disk, it partly does not anymore.
[code]

[2020-11-13 07:45] #1183 closed

[2020-11-13 08:05] #1300 closed

[2020-11-13 08:23] kelson42 commented on #1295
Fixed by https://github.com/openzim/wp1_selection_tools/commit/4e65bfe4756b287349bcafc8885a572a5285172e

[2020-11-13 08:23] #1295 closed

[2020-11-13 10:03] #1297 closed

[2020-11-13 13:03] #1301 closed

[2020-11-14 11:47] kelson42 commented on #1088
/move kiwix/kiwix-lib

[2020-11-14 11:47] #1088 closed

[2020-11-17 13:03] #1094 closed

[2020-11-17 13:07] #857 closed

[2020-11-17 13:14] kelson42 commented on #1008
Everything I have tested (but I don't have tested all the links) have the pictures. We deal here with sporadic problems. The introduction of a stricter Q&A at ZIM level will help to narrow down the problem. For the moment, I believe that most of the problems around pictures have been fixed. Closting this ticket.

[2020-11-17 13:14] #1008 closed

[2020-11-17 13:30] #838 closed

[2020-11-20 15:11] #1174 closed

[2020-11-24 17:06] ghost opened #1312 "Improper display of wikitables"
*@Popolechien commented on Nov 24, 2020, 8:36 AM UTC:*

Not entirely sure if this is a mwoffliner or android issue, but here we go:
[https://library.kiwix.org/wikiversity_en_all_maxi_2020-10](https://library.kiwix.org/wikiversity_en_all_maxi_2020-10) looks fine on Kiwix-serve, but there is a serious display issue on the android landing page (and presumably elsewhere):
[![wikiversity](https://user-

[2020-12-01 14:04] #1302 closed

[2020-12-03 08:57] move[bot] opened #1316 "Missing Fonts for Hieroglyphs (Unable to display SVG)"
*@gcast20 commented on Dec 2, 2020, 9:49 PM UTC:*

Zim-File: wikipedia_de_all_maxi.zim (2020-11) and wikipedia_en_all_maxi.zim (2020-09)
kiwix desktop 2.0.3 (Build Thu 07/02/2020)
Where the Egyptian hieroglyphs should be shown in the articles "Ägyptische Hieroglyphen" and "Egyptian hieroglyphs", respectively, error codes appear.

*This issue was moved by [kelson42](https://github.com/kelson42) fro

[2020-12-04 06:06] kelson42 opened #1318 "Wpes should not use parsoid"
https://farm.openzim.org/pipeline/506d67c207825269cd729cf5/debug

Why api is not detected?

[2020-12-05 17:01] kelson42 commented on #1316
Ahalysis of the problem.

This bug reports respectivaly about:
* https://library.kiwix.org/wikipedia_de_all_maxi_2020-11/A/%C3%84gyptische_Hieroglyphen
* http://library.kiwix.org/wikipedia_en_all_maxi_2020-11/A/Egyptian_hieroglyphs (the 2020-09 version is not online anymore but suffer as well of the problem)

In these ZIM files, the hieroglyps of the given articles are not displayed on Kiwix Deskt

[2020-12-05 17:33] kelson42 commented on #1318
This was a configuration problem.

[2020-12-05 17:37] kelson42 commented on #1318
@MananJethwani Would you be able to check if the `--customMainpage` does not point to a HTTP 404 or even a redirection? We should in `sanitizeArguments` be able to verify that it gets a proper HTTP 200 response.

[2020-12-05 17:48] #1316 closed

[2020-12-05 17:52] kelson42 commented on #1278
The test had to be deactivated for the time being.

[2020-12-05 17:54] MananJethwani commented on #1318
@kelson42 sure

[2020-12-05 21:45] kelson42 commented on #1273
I confirm the problem, but this is probably a style of the upstream wiki, not sure we can do anything here.

[2020-12-05 21:48] kelson42 commented on #1131
This is not available in the mobile version either online. See https://en.m.wikipedia.org/wiki/Deepwater_Horizon_explosion. We use the mobile version and try to provide the same user experience. If this is not there, there is nothing we can do.

[2020-12-05 21:48] #1131 closed

[2020-12-05 21:53] kelson42 commented on #1074
The problem is still there in latest version

[2020-12-05 21:54] kelson42 commented on #660
The problem appears when the remote wiki is somehow too slow.

[2020-12-05 22:00] kelson42 commented on #947
To me this is a feature to discuss in the next steps of WP1. MWoffliner can take a list of articles and that should be good enough.

[2020-12-05 22:00] kelson42 commented on #947
/move openzim/wp1

[2020-12-05 22:01] #947 closed

[2020-12-05 22:34] kelson42 commented on #405
Following our short disucssion about a new « Wikipedia for school » ZIM, probably we should think about an option to allow to somehow allow a custom welcome page or pages.

[2020-12-05 22:50] kelson42 commented on #539
We have an agreement that mwoffliner should be given a json file path to update with progresses. This file been then read by the Zimfarm worker (or any other process) to then report.

[2020-12-05 22:52] kelson42 commented on #539
See https://github.com/openzim/zimfarm/issues/331 to be implemented in the next days.

[2020-12-05 22:55] kelson42 commented on #1023
I don’t really think I want this feature to be implemented. It is a bug change in the paradigm, and does not seem to be really wanted by users.

[2020-12-05 22:55] #1023 closed

[2020-12-05 23:14] kelson42 commented on #1011
Latest version looks not to bad http://library.kiwix.org/granbluefantasy_en_all_maxi/A/Main_Page but we still have uninterpreted HTML!

[2020-12-05 23:27] kelson42 commented on #995
Easy to fix with this doc https://medium.com/better-programming/running-a-container-with-a-non-root-user-e35830d1f42a

[2020-12-06 18:10] Jaifroid opened #1322 "Missing h1 article heading if customMainPage is not the exactly articleId"
For example, with the `wikipedia_en_ray_charles_maxi_2020-12.zim`, none of the articles have the h1 header at the top of the page (see screenshot of article from December ZIM [top] compared with article for November ZIM [bottom]).

With `wikipedia_en_computer_maxi_2020-12.zim` some articles have h1 and others don't.

**Ray Charles December 2020:**

![image](https://user-images.githubusercontent.co

[2020-12-07 15:25] move[bot] opened #1323 "Zim wikidata & Wikipedia links"
*@orionseye commented on Dec 6, 2020, 12:51 AM UTC:*

May i ask, why Wikidata & Wikipedia links do not contain their URL in zim files?
I suppose, they have been placed there for 'further reading' or 'additional reading' and should be kept
[![Clipboard02](https://user-images.githubusercontent.com/48511159/101268620-df2a8200-376d-11eb-85ff-d4f5c8c4d03e.jpg)](https://user-images.githubusercontent.com

[2020-12-07 15:47] kelson42 commented on #1322
@MananJethwani any idea what happened here? Curious to know how we missed such a serious regression.

[2020-12-07 16:10] MananJethwani commented on #1322
yeah I am looking into it rn.....

[2020-12-08 19:34] MananJethwani commented on #1322
this is because of renderMcsArticle and url
the bad architecture you mentioned is causing this,
details in mobileRestApi has a lead section in json where as
desktopRestApi doesn't
and when we use desktopRestApi as in case of current requests, lead-section-wrapper is not called and we don't have a heading
another thing is when we are checking for baseUrls mobileRestApi is available still it is not

[2020-12-08 19:46] MananJethwani opened #1325 "Article heading doesn't appear when we use Desktop Rest Api"

[2020-12-09 14:49] kelson42 commented on #1322
This is basically a duplicate of #1318. The only difference is that the problem with #1318 is an uppercase/lowercase problem.

[2020-12-09 14:57] kelson42 commented on #1325
Actually, this is a feature. The feature is that: on the welcome page we don't want to see the title. We should be able to specify if we want the title or not, independently of the kind of API.

[2020-12-10 16:54] kelson42 opened #1326 "lowtechlab is broken"
lowtechlab_fr_all_maxi_2020-11.zim seems broken.

[2020-12-11 08:22] kelson42 opened #1327 "Methods in Mediawiki class to give an URL to retrieve given an articleId"
We should have one per possible API (which allow to retrieve article content), like:
* `veApiArticleUrl(string: articleId)`
* `restApiArticleUrl(string: articleId)`
* ...

And use them wherever this makes sense.

The goal is to simplify the code and avoid many concatenation all over the code implying a kind of URL prefix and an articleId.

[2020-12-12 13:56] #1318 closed

[2020-12-12 13:56] #1322 closed

[2020-12-14 12:37] #42 closed

[2020-12-14 12:38] kelson42 commented on #1326
@MananJethwani Maybe it even work fine now after our fixes. Here is the recipe https://farm.openzim.org/recipes/lowtechlab_fr

[2020-12-14 12:41] MananJethwani commented on #1326
@kelson42 will check it once

[2020-12-14 13:08] kelson42 commented on #1325
Here clearly the solution is that the Desktop Rest Render should keep the article title `h1`. The removal of the title `h1` should not be related to the desktop rendering. We should somehow apply a dedicated treatment if the article is main article.

[2020-12-15 08:10] rgaudin commented on #539
The expected format of this JSON file is:

[code]

Its name should be passed to an option enabling that feature and, for the zimfarm, we'll place it in the output directory (what we mount as a volume).
in zimit, we allow passing either an absolute path or a relative one; in which case we create it in output dir.

[2020-12-15 08:33] kelson42 commented on #539
@rgaudin Concretly, what would you propose in term of command line option?

[2020-12-15 08:36] rgaudin commented on #539
In zimit, we have `--statsFilename` but it doesn't matter much as long as the other mentioned requirements are met.

[2020-12-16 21:12] MananJethwani opened #1329 "method to stop scrapping when lot of article fail from rendering needed"
while scrapping mdwiki [offliner command available here](https://farm.openzim.org/recipes/mdwiki/config)
due to slow mdwiki server rendering of many articles fails.

logs are provided in file given below

[2020-12-17.txt](https://github.com/openzim/mwoffliner/files/5705509/2020-12-17.txt)

[2020-12-17 09:57] kelson42 opened #1330 "Don't retry to download if the image optimization fails"
It looks like that if the conversion fails, then it retries to download:
[code]

We should avoid that. Instead we should abandon this image and report properly.

[2020-12-17 12:13] rgaudin commented on #995
@kelson42, this requires a strategy and coordination with the zimfarm to work because we share common resources across various containers.
In a zimfarm worker, we have, a *root-folder*, let's say `/data` on the host.
* Manager needs
  * `rw` access to this to ensure it's writable so we fail early if not.
  * `ro` to calculate available disk space
 * Task Worker needs:
   * `rw` access to create it

[2020-12-17 16:41] MananJethwani commented on #1323
@orionseye can I know which article this is

[2020-12-17 17:50] tim-moody opened #1331 "la_chaine_de_maths_et_tiques_fr_all_2020-07.zim seems broken"
download http://download.kiwix.org/zim/other/la_chaine_de_maths_et_tiques_fr_all_2020-07.zim

kiwix-manage  /tmp/library.xml add /library/zims/content/la_chaine_de_maths_et_tiques_fr_all_2020-07.zim doesn't add anything to the library

result is just <library version="20110515" />

kiwix version is 3.1.2

[2020-12-17 17:55] holta commented on #1331
Just for comparison this older (much smaller, 7.6GB) ZIM file (la_chaine_de_maths_et_tiques_fr_all_2015-07.zim) generally works, as seen here:

http://iiab.me/kiwix/la_chaine_de_maths_et_tiques_fr_all_2015-07/

ASIDE: does anybody happen to know why the new ZIM files is almost 5X bigger?  (35GB la_chaine_de_maths_et_tiques_fr_all_2020-07.zim)

[2020-12-17 18:07] holta commented on #1326
Just fyi the new ZIM file from [2020-12-14](http://download.kiwix.org/zim/other/lowtechlab_fr_all_maxi_2020-12.zim) remains broken, as seen here:

http://iiab.me/kiwix/lowtechlab_fr_all_maxi_2020-12/

[2020-12-17 18:21] kelson42 commented on #1331
/move kiwix/kiwix-tools

[2020-12-17 18:21] #1331 closed

[2020-12-17 19:10] MananJethwani commented on #1326
@holta yes thanks for the information we are still working on this and have discussed it on slack will try to resolve it asap

[2020-12-17 22:32] orionseye commented on #1323
@MananJethwani Hi, actually..all of them. For me, none of any article worked so far. But the specific one is
Berlin/Mitte  (Berlin > Berlin/Mitte)

[2020-12-18 08:53] MananJethwani commented on #1323
@orionseye thanks

[2020-12-18 18:57] move[bot] opened #1332 "Bulbagarden (December .zim file) shows less information than the previous build"
*@Agetian commented on Dec 18, 2020, 3:42 PM UTC:*

Not sure if it's an issue with the .zim file or with the application itself, but the latest .zim dump of Bulbagarden (e.g. the 2020-12 maxi version) either doesn't contain significant chunks of the original articles, or they're not displayed in the current Kiwix app for some reason. In particular, this can be easily seen by comparing the article

[2020-12-19 12:58] tim-moody commented on #1330
@kelson42 I had this same problem with many such errors. It looks like the images are valid, so I'm wondering why the color conversion error and whether it has to do with using --webp. See these links (one yours and one mine) for valid images:

https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/LOGO_HAEMMERLIN.jpg/550px-LOGO_HAEMMERLIN.jpg
https://upload.wikimedia.org/wikipedia/commons/thum

[2020-12-19 13:34] tim-moody commented on #1330
resulting zim looks good, though. I guess the missing images are a small percentage.

[2020-12-19 23:16] ghost opened #1333 "Can't see translations in wiktionary"
*@ynikitenko commented on Apr 5, 2020, 1:48 PM UTC:*

I downloaded a recent English wiktionary (created 2020-01-17).

I see the section Translations for many words, but I can't find translations themselves (even for such widespread words as 'cup'). This didn't work for two kiwix browsers I used, including the most recent one from flathub.

For older wiktionaries it worked, but I can't download and

[2020-12-19 23:30] kelson42 commented on #1333
Seems to be a duplicate of #1033

[2020-12-20 11:55] kelson42 commented on #1332
Probably a duplicate of #1329

[2020-12-20 15:06] tim-moody commented on #1330
https://wordpress.org/support/topic/unsupported-color-conversion/ could be relevant. (after 24 hours I have 1600+ of these on the 500K article EN WP)

[2020-12-20 15:36] kelson42 commented on #1330
@tim-moody Thank you for the investigation. We have indeed two problems.

[2020-12-20 15:54] tim-moody commented on #1330
for further reference compare

https://en.wikipedia.org/wiki/Corsican_language

and http://iiab.me/kiwix/wikipedia_en_top_100k_maxi_2020-12/A/Corsican_language

[2020-12-20 16:06] tim-moody commented on #1330
solving the Unsupported color conversion request would also solve the download would it not? If you trap the color conversion and get the raw jpg or some such can it not be handled?

[2020-12-20 20:49] holta commented on #1330
FYI the image missing from the above page (map of Corsica) was included a month earlier, within ZIM file [wikipedia_en_top_maxi_2020-11.zim](http://download.kiwix.org/zim/wikipedia/wikipedia_en_top_maxi_2020-11.zim) :

http://iiab.me/kiwix/wikipedia_en_top_maxi_2020-11/A/Corsican_language
http://iiab.me/kiwix/wikipedia_en_top_maxi_2020-11/I/m/Parlers_de_Corse.jpg

(...just to confirm this is indee

[2020-12-20 21:43] #1327 closed

[2020-12-20 21:45] kelson42 commented on #1323
I think the best thing to do is just to put listing-sister-icons in the cssClassBlackList and suppress everything.

[2020-12-21 11:56] #1323 closed

[2020-12-21 16:34] tim-moody commented on #1330
At 99/9% complete the total count for color conversion errors on the 500k en wp is 5768. There are another 500 errors of status 400 and 404. (For some reason the process never ran to 100% even after 3 hours beyond 99.9%)

[2020-12-21 19:14] Agetian commented on #1332
Not sure if this information would prove any relevant in context of this issue being a possible duplicate of an issue related to the website failing to render due to slowness, but the "no picture" version (which should logically be rendered faster than the version with pictures) of the December release of the Bulbapedia .zim suffers from the exact same issue (the same component of the pages appear

[2020-12-21 19:31] kelson42 commented on #1332
Hmmm... pretty interesting.

[2020-12-23 14:20] holta commented on #1330
The 404's might be normal and unavoidable, if Wikipedia's changed a bit in recent days.

@tim-moody is there a sample 400 error, ideally to help investigative the pattern?

@kelson42 would you know if there are log files or similar ways to diagnose jobs like this that do not complete?

What details are most important to include if it's best to open a new ticket?

[2020-12-23 14:24] kelson42 commented on #1330
@tim-moody The only 404 scenario I'm aware of is https://github.com/openzim/mwoffliner/issues/1199. I'm not aware about anything else. Please open another ticket if you have a reproducable scenario.
@holta You have the `--verbose` mode. I don't really need details, I need to understand what is wrong from a user perspective and a clear step-by-step reproduction case.

[2020-12-23 14:35] holta commented on #1330
Stats might be useful too: of the more-than-500 errors, how many were 400 and how many were 404, @tim-moody can you tell?

Good to know, thanks.

[2020-12-23 15:01] tim-moody commented on #1330
on the 500k en wp:
•	Code 400 errors: 431
•	Code 404 errors: 107

[2020-12-23 15:08] kelson42 commented on #1019
@tim-moody  This explains a few 404 as well.

[2020-12-23 17:15] MananJethwani commented on #1330
@tim-moody are 400 and 404 image optimization fail?.....I guess it's a axios fetch fail right

[2020-12-23 17:42] tim-moody commented on #1330
@MananJethwani you may be right. I'm not familiar with the internals of the code other than spot checking. When I encountered them I thought they were image related. Here are a few:

[code]

[2020-12-23 17:43] tim-moody commented on #1330
and some 404s

[code]

[2020-12-23 18:44] tim-moody opened #1339 "Question: is there a way to see the url of the request to the parsoid/rest api"
I am trying to troubleshoot  errors such as

[code]
I have added --verbose, but am still unable to see the actual url requested. Is there a way to get the full url?

[2020-12-23 19:49] #1330 closed

[2020-12-23 21:23] kelson42 commented on #1339
@tim-moody I will look if I can improve a bit the erro message.

[2020-12-24 15:09] kelson42 commented on #1326
@holta @MananJethwani This a problem on their backend, see my comment at https://github.com/openzim/zim-requests/issues/270#issuecomment-750906774. Closing this as duplicate, there is nothing wrong in MWoffliner.

[2020-12-24 15:09] #1326 closed

[2020-12-24 15:14] kelson42 commented on #1339
Strange I see it:
[code]

[2020-12-24 15:31] kelson42 commented on #715
Latest scrapping is http://library.kiwix.org/wiktionary_li_all_maxi/A/Wiktionary:Veurblaad. The page is scraped but somehow incomplete if we compare with original https://li.wiktionary.org/wiki/Wiktionary:Veurblaad.

But it is already returned incompleted by the REST API, see https://li.wiktionary.org/api/rest_v1/page/html/Wiktionary:Veurblaad. I believe this is a bug upstream and have updated the

[2020-12-24 15:41] kelson42 opened #1340 "Consider HTTP 406 as valid HTTP response (at least for this case)"
By running `mw --mwUrl="https://bulbapedia.bulbagarden.net/" --articleList=articles`

I get this kind of error:
[code]

HTTP ERROR 406 is a rarely used error code and most of the time this is just ignored. I would consider it as valid.

[2020-12-24 15:50] kelson42 commented on #1332
@MananJethwani I have checked again with a local run and indeed the "Game data" paragraph is not there?
[code]

If I run MWoffliner with `--keepEmptyParagraphs`, the paragraph is there but empty... So the question is why this paragraph is not rendered properly?

 Do you think this is a regression or side-effect of removing

[2020-12-24 16:32] holta commented on #1326
Sad News.

But thanks @kelson42 for the update!

[2020-12-24 18:11] tim-moody commented on #1339
@kelson42 you're right. I guess I did not have --verbose on. Thanks for checking.

[2020-12-24 18:37] tim-moody commented on #1339
@kelson42 Checked again. What do you say to the following sequence? I see a url for article [Recurrent_laryngeal_nerves] and one for article [Kefauver_Harris_Amendment], but none for article [Mesalazine] which generated the timeout error.
Am I missing something?

[code]

[2020-12-24 18:43] kelson42 commented on #1339
@tim-moody The whole process is asynchronous, so the entry is something like 60s eqrlier in the log...

[2020-12-24 18:52] tim-moody commented on #1339
@kelson42 you're right again and they are even more dissociated because one is on stdout and the other on stderr.

[2020-12-24 19:16] #1339 closed

[2020-12-25 10:05] #1340 closed

[2020-12-25 11:43] kelson42 commented on #1213
I will trz to clarify this

[2020-12-25 11:45] kelson42 commented on #1214
I believe this is a duplicate of #1323, will check

[2020-12-25 11:47] kelson42 commented on #1229
Duplicate of #1326

[2020-12-25 11:47] #1229 closed

[2020-12-25 11:57] kelson42 commented on #1132
I will clarify that point.

[2020-12-26 07:22] MananJethwani commented on #1332
@kelson42 when I use `--keepEmptyParagraphs` the data is present for that section probably a regression.

[2020-12-26 10:46] kelson42 commented on #1132
This is a problem upstream with the Parsoid mobile rendering. I have open a ticket at https://phabricator.wikimedia.org/T270833

[2020-12-26 11:03] kelson42 commented on #1223
The root cause of the problem is not clear, but the HTML delivered seesm OK.

[2020-12-26 11:15] kelson42 commented on #1214
@MananJethwani I guess our fix for #1323 is not good enough. I don't have run the latest version of MWoffliner on this page, but I guess it won't fix this very similar problem.

[2020-12-26 11:52] MananJethwani commented on #1214
@kelson42 so we should black list these icon set as well?

[2020-12-26 11:53] kelson42 commented on #1214
I start to think we should a bit in depth why the links are not rendered properly.

[2020-12-26 11:55] MananJethwani commented on #1214
the links do not render because they refer completely other sites usually and are therefore links get removed not being found in article list

[2020-12-26 12:07] kelson42 commented on #1214
We should find a way to identify these particular interwiki links and handel them in a similar manner like we do for external links. Other DOM node attributes should help do do that.

[2020-12-26 16:04] #1332 closed

[2020-12-27 14:28] tim-moody opened #1344 "question: optimisationCacheUrl"
Is there a way to utilize an S3 cache using a kiwix account or must each mwoffliner user have an S3 account? Alternatively can local storage be used for the cache?

[2020-12-27 14:32] tim-moody commented on #1344
Has anyone tried using an S3 emulator running locally as a cache mechanism?

[2020-12-27 15:01] kelson42 commented on #1344
@tim-moody Kiwix S3 accounts are for Kiwix devs+prod. If you want to benefit from a Kiwix S3 account, then you have to request us to make a ZIM file for you at https://github.com/openzim/zim-requests.

If you or us don't want to rely on our Zimfar to make your ZIM file, then you can do it on your own. Either without cache (but indeed this could be around 3x longer) or by using your own S3 access.

[2020-12-27 15:01] #1344 closed

[2020-12-27 15:21] tim-moody commented on #1344
@kelson42 if the mwoffliner docker image provided a means to use MinIO for farmers would it reduce Kiwix costs?

[2020-12-27 15:26] kelson42 commented on #1344
@tim-moody At Kiwix, so far, we don't really want to operate our own S3 cluster. Wasabi.com costs are super competitive. But I believe documenting/ease the use of https://hub.docker.com/r/minio/minio with our MWoffliner Docker image would be a nice improvement for you and many other potential users.

[2020-12-27 16:54] pyroshroom opened #1345 "Many articles missing from recent Vikidia zim files"
There are many articles missing from vikidia_en_all_maxi_2020-12.zim and vikidia_en_all_maxi_2020-11.zim at https://download.kiwix.org/zim/vikidia/ (Likely a similar issue with the nopic versions judging by the file sizes).

Some example pages missing: Zero; Main page from 2020-12.zim file

The last proper back up that I am aware of from Vikidia was on 2020-08, which was 54.3 MB in size.

[2020-12-27 16:59] pyroshroom opened #1346 "Bulbapedia incompletely scraped pages"
bulbagarden_en_all_maxi_2020-12.zim at https://download.kiwix.org/zim/other/ is missing the whole table of Pokemon in the article "List of Pokémon by National Pokédex number" - https://library.kiwix.org/bulbagarden_en_all_nopic_2020-12/A/List_of_Pok%C3%A9mon_by_National_Pok%C3%A9dex_number

This table was present on the bulbagarden_en_all_maxi_2020-11.zim

The actual article still has the table: h

[2020-12-27 17:09] kelson42 commented on #1261
@Venipa @aaronduce The proposed PR shoudl give you the necessary information. Will be merged soon.

[2020-12-27 17:11] kelson42 commented on #1346
Hmmm sounds like a duplicate of #1332

[2020-12-27 17:13] kelson42 commented on #1345
I think this is somehow a problem of rendering when the Vikidia backend returns an  error and we just continue. We should probably better die, see #1329

[2020-12-27 17:14] kelson42 commented on #1329
@MananJethwani It looks like we will have to implement this quickly as we generate ZIM file with missing content and user legitimly complain about that.

[2020-12-27 17:40] #1261 closed

[2020-12-27 17:40] pyroshroom opened #1347 "Wikivoyage incompletely scraped pages"
This might just be a duplicate of #1332 and #1346

The wikivoyage_en_all_maxi_2020-12.zim is also missing random sections from different articles which were present on the wikivoyage_en_all_maxi_2020-11.zim as well as the original article on wikivoyage.

The Tokyo page in the backup is missing the "Connect" section and the "Cope" section
https://library.kiwix.org/wikivoyage_en_all_maxi_2020-12/A/T

[2020-12-27 17:44] kelson42 commented on #1347
@pyroshroom we will generate a new one and see if it looks better. Thank you anyway for the bug report.

[2020-12-27 18:01] tim-moody commented on #1344
@kelson42 is it possible to cache images after webp conversion?

[2020-12-27 18:02] kelson42 commented on #1344
@tim-moody The are cached after conversion

[2020-12-27 18:13] tim-moody commented on #1344
@kelson42 any interest in a deal whereby if you help us implement/integrate minio, we document it?

[2020-12-27 21:41] darkenvy commented on #1344
@kelson42 , how about this MR? https://github.com/openzim/mwoffliner/pull/1348/files

It adds support for non-SSL connections. Now `--optimisationCacheUrl` works with localhost and/or any setup that doesn't have a SSL cert.

[2020-12-28 07:05] MananJethwani commented on #1329
@kelson42 sure I will start working on it

[2020-12-28 14:48] tim-moody opened #1349 "should #1348 include parameter list?"
https://github.com/openzim/mwoffliner/blob/master/src/parameterList.ts

[2020-12-28 15:23] kelson42 commented on #1349
I don't understand this ticket. What is the problem?

[2020-12-28 15:37] tim-moody commented on #1349
@kelson42 I'm simply asking if changes in #1348 should be reflected in the text of the above parameter list, especially:

optimisationCacheUrl: 'S3 url, including credentials and bucket name',

Based on your response I guess not.

[2020-12-28 15:41] kelson42 commented on #1349
@tim-moody what would be a better description? Still not sure to fully understand.

[2020-12-28 15:54] tim-moody commented on #1349
How about

'Remote or local S3 url (assumes https), including credentials and bucket name'

or close if this is not an issue for anyone but me.

[2020-12-28 15:59] kelson42 commented on #1349
@tim-moody I think it would be more helpful to have a new small section in `docker/README.md` about how to use it with a local man.io Docker container.

[2020-12-28 16:03] tim-moody commented on #1349
OK

[2020-12-28 16:03] #1349 closed

[2020-12-30 07:06] kelson42 opened #1350 "Scrape fails but exit code is zero"
Here is the scenaro
https://farm.openzim.org/pipeline/8b93680c1c7f9a730652cef5/debug

[2020-12-31 14:16] #1350 closed

[2020-12-31 19:18] tim-moody opened #1355 "does mwoffliner cache webp?"
I run

[code]
and set up the mwobucket using a web browser.

I then run the following:

[code]
I get the following results:

[code]
I expected to find many .webp in the minio cache, but found many .jpg

[code]

[2020-12-31 19:49] tim-moody commented on #1355
seems I have been misled by the extension and these are webp files with a jpg extension

[2020-12-31 19:49] #1355 closed

[2020-12-31 20:30] kelson42 commented on #1355
@tim-moody The key is the original URL. We keep track of the kind of optimizer in the metadata of the item.

[2021-01-01 11:59] MananJethwani opened #1356 "wikipedia_es_basketball size smaller then older versions"
seems like some images are not being downloaded which were being downloaded earlier
I found out that one such image - flag of egypt 1922-1952 orignally had a link
- ttps://upload.wikimedia.org/wikipedia/commons/thumb/`f/fb`/Flag_of_Egypt_%281922%E2%80%9319`52`%29.svg/30px-Flag_of_Egypt_%281922%E2%80%931952%29.svg.png
and when seen in zimfile it is -
ttps://upload.wikimedia.org/wikipedia/commons/th

[2021-01-01 12:02] kelson42 commented on #1356
@MananJethwani Do you have an example of artcle impacted?

[2021-01-01 12:25] MananJethwani commented on #1356
@kelson42 -> Anexo:Baloncesto en los Juegos Mediterráneos de 1951

[2021-01-01 15:19] kelson42 commented on #1356
I start to believe that the problem is upstream and is a regression. The Parsoid seems under certain conditions to generate wrong images URLs.

If week look at the problem reported here in this ticket. We look at the article:
https://es.wikipedia.org/wiki/Anexo:Baloncesto_en_los_Juegos_Mediterr%C3%A1neos_de_1951

Which includes successfuly the image:
https://upload.wikimedia.org/wikipedia/commons/

[2021-01-01 15:29] kelson42 commented on #1356
The problem is upstream and this is the old famous bug https://phabricator.wikimedia.org/T217540

[2021-01-01 15:30] kelson42 commented on #1356
Duplicate of https://github.com/openzim/mwoffliner/issues/1019

[2021-01-01 15:30] #1356 closed

[2021-01-02 16:54] kelson42 opened #1357 "Remove MWCapabilities"
`MWCapabilities` is a dedicated class instanciated within `Downloader`. This is not the right place. This should be available in the `Mediawiki` class.

I want to have these 4 method, implemented as lazy in `Mediawiki`:
* `hasVeApi()`
* `hasCoordinatesApi()`
* `hasDesktopRestApi()`
* `hasMobileRestApi()`

Probably the a lazy method should be as well implemented to get the MainPage:
* `getMainPage(

[2021-01-02 17:48] #1329 closed

[2021-01-02 21:15] tim-moody opened #1358 "Question: are S3 errors a problem"
with minio as S3 cache I sometimes get errors like:

`[log] [2021-01-02T21:05:40.619Z] Not able to upload upload.wikimedia.org/wikipedia/commons/thumb/5/53/%D0%A1%D0%BE%D0%BB%D0%BD%D0%B5%D1%87%D0%BD%D0%BE%D0%B5_%D0%B7%D0%B0%D1%82%D0%BC%D0%B5%D0%BD%D0%B8%D0%B5_11_%D0%B0%D0%B2%D0%B3%D1%83%D1%81%D1%82%D0%B0_2018_%D0%B3%D0%BE%D0%B4%D0%B0_%D0%B2_%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B5_%28%D0%BF%D0%B0%D1%8

[2021-01-02 21:20] kelson42 commented on #1358
@tim-moody Not sure for now, but this kind of error should not happen. Do you which article scraping generates such a bug?

[2021-01-02 21:51] tim-moody commented on #1358
searching google I got a file name in Cyrillic, but if I copy paste it comes again as a web safe string

![image](https://user-images.githubusercontent.com/5678731/103467203-a523b000-4d1a-11eb-887b-0199956dcc81.png)

[2021-01-02 21:52] tim-moody commented on #1358
it is too long to search in wp or commons

[2021-01-02 21:54] tim-moody commented on #1358
gotcha

https://en.wikipedia.org/wiki/Solar_eclipse_of_August_11,_2018

[2021-01-02 22:16] kelson42 commented on #1358
@tim-moody Thx. I will try to reproducete poblem and fix it and answer your otignal question.

[2021-01-02 23:44] jakern opened #1359 "mwUrl is not valid"
Running

`sudo docker run -v test:/output:rw --name mwAlpine --detach --cpu-shares 3072 --memory-swappiness 0 --memory 6442450944 ghcr.io/openzim/mwoffliner:1.11.3 mwoffliner --mwUrl="https://wiki.alpinelunx.org/wiki/Main_Page" --adminEmail="contact@kiwix.org" --format="nopic:nopic" --format="novid:maxi" --noLocalParserFallback --osTmpDir="/dev/shm"  --zstd --webp --outputDirectory="/output"
`

si

[2021-01-03 08:56] kelson42 commented on #660
Interesting ticket https://phabricator.wikimedia.org/T152073

[2021-01-03 09:01] kelson42 commented on #1359
@jakern It is not limited to Wikipedia. I will try to reproduce the problem.

[2021-01-03 13:29] Ubuntu-2020 opened #1360 "Incorrect display of the Category link in the section See also (Wikipedia-Russian) in Kiwix"
Sometimes the **See Also** section provides links to a large **Category** of articles.
Here are two examples:
- **[Japan](https://ru.wikipedia.org/wiki/Япония#См._также)** there is written the code: `{{Дерево статей|Япония}}`
- **[Namibia](https://ru.wikipedia.org/wiki/Намибия#См._также)** there is written the code: `{{Дерево статей|Намибия}}`

In a web browser Wikipedia articles look like this:
!

[2021-01-03 14:22] kelson42 commented on #1346
@pyroshroom I believe the problem to be fixed now and we have made a new ZIM file of Bulbapedia. See https://library.kiwix.org/bulbagarden_en_all_maxi_2021-01/A/List_of_Pok%C3%A9mon_by_National_Pok%C3%A9dex_number. Please reopen if I'm wrong.

[2021-01-03 14:22] #1346 closed

[2021-01-03 14:25] kelson42 commented on #1347
@pyroshroom I believe the problem to be fixed now, see with latest ZIM:
* https://library.kiwix.org/wikivoyage_en_all_maxi_2021-01/A/Tokyo
* https://library.kiwix.org/wikivoyage_en_all_maxi_2021-01/A/Tanzania

Thank you for having reported the bug.

[2021-01-03 14:25] #1347 closed

[2021-01-03 14:39] kelson42 commented on #715
Like explained in the upstream ticket, this is the combinaison of a bug in the Parsoid and a strange wiki code. The wiki code has been fixed and now the REST API returns the proper code. I'm generating a new ZIM. Problem is fixed.

[2021-01-03 14:39] #715 closed

[2021-01-03 14:43] pyroshroom commented on #1346
Thanks for the update! The files appear to be complete now.

[2021-01-03 14:48] kelson42 commented on #1345
@pyroshroom We have implemented a hard die if upstream backend does not deliver articles, see #1329. I have request a new scraped which should work anyway, see https://farm.openzim.org/pipeline/7d10fdc61172d81fed8d1ff5. Please reopen this ticket if you still see missing articles in the Vikidia in English ZIM file.

[2021-01-03 14:48] #1345 closed

[2021-01-03 14:52] kelson42 commented on #1359
`--mwUrl="https://wiki.alpinelinux.org/"` should work. Like the doc says:
[code]

So no a direct link to the main page.

[2021-01-03 14:56] kelson42 commented on #1359
I have generated in our ZIMfarm a recipe for Alpine Linux Wiki at https://farm.openzim.org/recipes/alpinelunx_wiki. New ZIM files should appear soon in our catalog. Let us know if any new problem with MWoffliner.

[2021-01-03 14:56] #1359 closed

[2021-01-03 15:00] kelson42 commented on #1358
@tim-moody I can not reproduce this problem with our S3 provider, maybe there is something you could improve in your Min.io configuration? Concerning the error management, nothing special is made, so I guess nothing will be uploaded and next time it will try again to download/optimize/upload the image.

[2021-01-03 15:00] #1358 closed

[2021-01-03 15:16] jakern commented on #1359
Thank you, I appreciate you. Part of my issue was an embarrassing typo that made it into the recipe name "Lunx". Your updated command in the recipe worked fine for me too.

[2021-01-03 15:41] jakern commented on #1359
Also, I don't know if you want me to open a separate issue for youzim.it but this seemed to be my issue there. The input asked for the full URL so I entered "https://wiki.alpinelinux.org/wiki/Main_Page" which [errored](https://youzim.it/e56487ddd09f64ab69af0ff5). I tried https://wiki.alpinelinux.org and it [worked](https://youzim.it/0dfb87f03c34a4401b0e1ff5)

[2021-01-03 15:41] kelson42 commented on #1359
Fixed https://farm.openzim.org/recipes/alpinelinux_wiki

[2021-01-03 16:03] kelson42 commented on #1359
@jakern Please open a new ticket for youzim.it. But not in this repo. This is avery different software stack.

[2021-01-03 16:23] kelson42 commented on #1360
@MananJethwani I have seen a few zimcheck logs which seem to confirm the probem. Would you be able please to check:
* if this is an upstream bug?
* if this is a recent regression?

[2021-01-03 16:37] MananJethwani commented on #1360
@kelson42 I will check and let you know by tomorrow

[2021-01-03 19:27] darkenvy commented on #1358
It should be noted I too get the same error. But I also get a ton of "Error: file name too long (cmd.StorageErr)" from minio.

[2021-01-03 22:39] tim-moody commented on #1358
I think the issue is that AWS S3 (and presumably Wasabi) allow object names of up to 1024 characters, including url encoded unicode, see https://stackoverflow.com/questions/6870824/what-is-the-maximum-length-of-a-filename-in-s3.

but minio tries to use the file system for object names and the maximum is 255 chars.

[2021-01-05 06:09] MananJethwani commented on #1360
@kelson42 this is similar to #1326 upstream sends that `a` tag in html friendly encoding.

[2021-01-05 06:20] kelson42 commented on #1360
@MananJethwani URL?

[2021-01-05 08:17] MananJethwani commented on #1360
https://ru.wikipedia.org/api/rest_v1/page/mobile-sections/%D0%9D%D0%B0%D0%BC%D0%B8%D0%B1%D0%B8%D1%8F
this it the url you can find `&lt;` being sent at one place that's causing problem here

[2021-01-05 08:38] kelson42 commented on #1360
@MananJethwani Nice catch, this is indeed an upstream bug, see https://phabricator.wikimedia.org/T257344

[2021-01-05 08:41] kelson42 opened #1363 "[object Object] in place of article in http://library.kiwix.org/dicoado_fr_all_maxi_2020-12/A/diplomatie"
Recipe is https://farm.openzim.org/recipes/dicoado

[2021-01-05 08:42] kelson42 commented on #1363
@MananJethwani Would you be able please to have a look to this one please? Scrapping dicoado.org properly is one of the most important thing we will have to achieve in the next months.

[2021-01-05 14:06] tim-moody opened #1364 "Feature request: add option to use existing zim as image cache"
When creating a new zim a large percentage of the images will be unchanged from the previous zim. The S3 interface addresses this, but the images are already present in the predecessor zim and could simply be pulled from that and copied to the new zim being created.

[2021-01-05 14:43] kelson42 commented on #1364
I'm against doing that, the value is almost zero but the complexification of the code will be high. The ratio is not good.

[2021-01-05 14:44] #1364 closed

[2021-01-05 15:44] Ubuntu-2020 opened #1365 "Free registration required - the gray lock is not visible"
**wikipedia_en_astronomy_maxi_2020-12.zim**
Probably this error is present in other ZIM files from the **English Wikipedia**.
In the English Wikipedia a **gray lock** is sometimes found in the **[References](https://en.wikipedia.org/wiki/Introduction_to_the_mathematics_of_general_relativity#References)**.
It means **Free registration required**:
![Free registration required](https://user-images.gi

[2021-01-07 13:08] kelson42 commented on #1365
@Ubuntu-2020 Thank you for your bug rerpot, but this is the same bug as #1234

[2021-01-07 13:08] #1365 closed

[2021-01-07 21:37] kelson42 commented on #1227
This is only the mobile rendering which is like this. See https://fr.m.wiktionary.org/wiki/pars. There is nothing we can do here.

[2021-01-07 21:37] #1227 closed

[2021-01-07 21:43] kelson42 commented on #1011
The last problem left is a duplicate of #1360

[2021-01-07 21:43] #1011 closed

[2021-01-07 21:53] kelson42 commented on #1007
Most of the problems have been fixed, but https://library.kiwix.org/wikivoyage_es_all_nopic is still empty. @MananJethwani Maybe you have an idea?

[2021-01-08 08:17] MananJethwani commented on #1007
@kelson42 strange content is present there but never shown
![Screenshot from 2021-01-08 13-46-39](https://user-images.githubusercontent.com/50267986/103990955-084c9100-51b8-11eb-8ddd-3639eccb40bc.png)

[2021-01-09 14:12] MananJethwani opened #1366 "Check for minimal version of medaiWiki supported"
Local parsoid supports a minimal of 1.27.0 version of mediawiki we should have a check for the same

[2021-01-09 16:10] #1366 closed

[2021-01-09 19:59] move[bot] opened #1368 "Unable to view article names with forward slashes on a wikipedia .zim file"
*@mechalincoln commented on Dec 19, 2020, 1:11 AM UTC:*

Hello. I think this issue affects multiple zim files and/or kiwix-serve, but any article name with a forward slash is either not included or the server can't parse article names with a slash.

In the following example, I navigate through my local version of the November 2020 Wikipedia maxi zim file's Device File article. The links that I cli

[2021-01-09 20:01] kelson42 commented on #1368
Probablynsomehow related to #904

[2021-01-12 09:07] MananJethwani commented on #1222
@kelson42 collapse button is actually an a tag and by default we search those a tag links in article list if no present we delete which is right but you can clearly see in the screenshot what the link is so we can do 2 things we can change link removal to keep these kind of links(not sure this will work or how will it work) or change our script.js to find such collapsible tables and add this link

[2021-01-12 09:25] MananJethwani commented on #1222
@kelson42 sorry for the false observation above
ok I just looked into it we don't recieve that colapsing link from upstream only
https://ru.wikipedia.org/api/rest_v1/page/mobile-sections/%D0%A2%D0%B0%D1%80%D0%B0%D0[…]B8%D0%BD%D0%BE%2C_%D0%9A%D0%B2%D0%B5%D0%BD%D1%82%D0%B8%D0%BD
this is the link from where we fetch the article
and this doesn't have this tag `<a id="collapseButton0" href="javascript:

[2021-01-12 09:59] kelson42 commented on #1222
@MananJethwani the given URL is invalid and returns and error. From your comment I don't understand what is wrong, do you mean the DOM is wrong? If "yes" is that different from the online version?

[2021-01-15 19:26] kelson42 opened #1370 "language links"
_From @amirh123123 on March 6, 2018 7:42_

hi please add language links for articles example i read nintendo article in english wikipedia and next i want read nintendo article in german wikipedia please add language links

_Copied from original issue: openzim/mwoffliner#209_

[2021-01-16 07:07] kelson42 opened #1371 "Add support of Mathjax"
https://farm.openzim.org/recipes/proofwiki Does not render properly

[2021-01-17 13:29] Ubuntu-2020 opened #2084 "Feature request : New ZIM (all maxi super)"
Currently, Wikipedia in ZIM format can be loaded in the following configurations:
- all maxi
- all mini
- all nopic

But as technology evolves and over time we can download larger and larger files. Even now, you can download the English Wikipedia (about **80 GB**) on your smartphone. But before it was impossible to dream about it.
So I would like to suggest for Wikipedia to collect ZIM file **_all

[2021-01-17 19:40] darkenvy opened #1372 "Status Code 404 kills mwOffliner"
mwOffliner quits when it hits the first 404. Reason unknown. No caching of any kind used.

`--adminEmail="info@iiab.me" \
  --articleList="lists/1000000.tsv" \
  --customZimDescription="Top one million Wikipedia articles" \
  --customZimFavicon="https://en.wikipedia.org/static/images/project-logos/enwiki.png" \
  --customZimTitle="Wikipedia Top 1M" --filenamePrefix="wikipedia_en_top_1m" \
  --form

[2021-01-17 19:45] tim-moody commented on #1372
We have also seen this problem in the past on 2 out of 3 1M article runs.

[2021-01-17 20:29] kelson42 commented on #1372
Yes, this has been done on purpose, see https://github.com/openzim/mwoffliner/pull/1351.

[2021-01-17 22:31] darkenvy commented on #1372
Since #1351 kills the process, perhaps a message stating why it halted would be beneficial. I see from #1351 that the end-goal would be to have a percentage tolerance, but having the error message now would help people understand why it is happening now.

[2021-01-18 10:26] kelson42 opened #1373 "M/Flavour has a leading underscore"
See here for example:
http://library.kiwix.org/wikivoyage_ru_all_maxi/M/Flavour

It should not be the case.

[2021-01-18 10:56] kelson42 commented on #1372
@darkenvy I see the error `Error: Request failed with status code 404`.

[2021-01-18 10:59] kelson42 commented on #1372
@darkenvy @tim-moody @MananJethwani But, I believe here something needs to be improved. Actually we have valid scenarios when we should continue, for example when an article has been deleted in the meantime (beetween the article liste setup and the effective scraping). The idea behind #1329 scraping was that if the backend fails to deliver properly, MWoffliner should just stop because this is not

[2021-01-18 11:33] move[bot] opened #1375 "White stripes on the left and right in Kiwix"
*@Ubuntu-2020 commented on Jan 17, 2021, 12:59 PM UTC:*

Previously, articles from Wikipedia were unfolding on the **full screen**:
[![Kiwix=full screen](https://user-images.githubusercontent.com/65112331/104843497-a2f15200-58d3-11eb-892d-17b26f366d2f.png)](https://user-images.githubusercontent.com/65112331/104843497-a2f15200-58d3-11eb-892d-17b26f366d2f.png)

But now the width of the article in **

[2021-01-18 11:36] kelson42 commented on #1375
This is on purpose, we have the Wikipedia mobile layout, see: https://en.m.wikipedia.org/wiki/History_of_Lima. Nothing much we can/want to do here.

[2021-01-18 11:36] #1375 closed

[2021-01-18 17:05] tim-moody commented on #1372
400, 404, 500 are all errors that could be tolerated. The 1M EN WP list has more than 3M images, so 0.1% of all these objects is 4000 items, the absence of which in a zim will still produce a very usable piece of content. You could introduce a max_error runtime parameter that accepts no limit or some number. The ability to retry a list of error items would also help.

[2021-01-18 17:52] darkenvy commented on #1372
I agree that a 404 is not a backend failure.

When I said a error message, I was thinking of something more specific than `Error: Request failed with status code 404`. Saying "error 404" doesn't correlate _why_ mwOffliner failed, just that a resource failed to download. I was left deep-diving into the code and failed to find the correlation. Heck, I assumed it was a bug and not intention.

What ab

[2021-01-18 19:39] holta commented on #1372
As there are many hundreds of each above error:

- Is it the case that 400 and 500 errors (generally) represent flaws in mwoffliner?
- Whereas 404 errors cannot be fully avoided, given MediaWiki is dynamic content?

What would the most actionable error message be, in each case, to tighten/accelerate the debugging loop?

[2021-01-18 20:36] tim-moody commented on #1372
400 and 500 do not necessarily represent flaws in mwoffliner
400 is just malformed and could be link inside a page

[2021-01-19 09:53] holta commented on #1372
The reason for the question is: it takes 4 days to uncover each bug, even with heavily optimized hardware and extremely fast Internet (@darkenvy & @tim-moody each cannot move forward, until each subsequent error is surfaced).

This means 7 bugs can be uncovered per month (best case...)

As we have seen over the past month.

(How can we all accelerate this debugging loop — to surface actionable err

[2021-01-19 15:30] kelson42 commented on #1372
This patch concerns only article retrieval.

[2021-01-19 15:37] kelson42 commented on #1372
For the moment, here my status:
* The log is clear about what goes wrong. The formating is not great, but this is something I want to improve anyway.
* The real and only problem is that it seems to stops now because `Nonaqueous_titration` and it could (I'm not sure it is) be legitimate to request this article
* Probably we should build-in a *fault tolerant* system, but here it should simply be *ac

[2021-01-19 15:53] tim-moody commented on #1372
Perhaps, but the title of the ticket imposes no such restriction. The problem is the undesirable user experience of wasting 4 days on a download to see it be arbitrarily killed. That is the problem that needs fixing.

[2021-01-19 23:03] darkenvy commented on #1372
`"to me, the log is clear about what goes wrong"`.

mwOffliner has a very specific function and ideology on how it should function. It's intent is not always clear. Perhaps the log is clear to you because you have implicit-knowledge of how mwoffliner _should_ work. From the outside looking in, we don't know the intent. We have different ideas on how the software should work (if it wasn't obvious).

[2021-01-20 06:20] move[bot] opened #1376 "New ZIM request: Fix Russian Wiktionary"
*@kosonya commented on Jan 20, 2021, 12:35 AM UTC:*

*   Website URL: [https://ru.wiktionary.org/](https://ru.wiktionary.org/)
*   License: **CC-by-sa-3.0**
*   Desired ZIM Title: **Викисловарь**
*   Desired ZIM Description: **Русский Викисловарь, Russian Wiktionary, многофункциональный многоязычный словарь и тезаурус**
*   Desired ZIM Icon: [https://ru.wiktionary.org/static/images/project-logos/r

[2021-01-20 08:20] Popolechien commented on #1376
See for instance тезаурус (thesaurus) [on the zim file](https://library.kiwix.org/wiktionary_ru_all_maxi_2020-12/A/%D1%82%D0%B5%D0%B7%D0%B0%D1%83%D1%80%D1%83%D1%81) and [on wiki](https://ru.wiktionary.org/wiki/%D1%82%D0%B5%D0%B7%D0%B0%D1%83%D1%80%D1%83%D1%81)
I only see a language template [wikipedia](https://ru.wiktionary.org/wiki/%D0%A8%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD:wikipedia) on top of the orig

[2021-01-20 09:45] kelson42 commented on #1376
Quite sure we have already fixed that bug, redoing a ZIM.

[2021-01-21 10:24] MananJethwani opened #1379 "updating base modules"
currently base module for each page are jquery, startup, mediawiki and site
but as mentioned [here](https://www.mediawiki.org/wiki/ResourceLoader/Developing_with_ResourceLoader#Base_environment) mediawiki is removed and mediawiki.base is now being used.

[2021-01-21 13:25] #1379 closed

[2021-01-21 13:41] Popolechien opened #1380 "Farm returns 404 error eventhough the target site is up"
I've created this recipe for the [Fire Emblem wiki](https://fireemblemwiki.org/wiki/Main_Page)

https://farm.openzim.org/recipes/fireemblem/edit

(the recipe was cloned from https://farm.openzim.org/recipes/europa_universalis_iv_en which works fine)

Surprisingly the first run returned a `404 error` even though the Fire Emblem site is up and running. I've then asked zimit to do a run... and it wor

[2021-01-21 13:41] #1380 closed

[2021-01-21 13:41] Ubuntu-2020 opened #1381 "White stripes on the left and right in Kiwix (part 2)"
Since the **[previous request](https://github.com/openzim/mwoffliner/issues/1375)** was quickly closed, I decided to create a new request and continue the discussion.

@kelson42

Ok.
But there were times when there were no smartphones and Wikipedia articles were **wide**:
![Kiwix-width](https://user-images.githubusercontent.com/65112331/104843497-a2f15200-58d3-11eb-892d-17b26f366d2f.png)

Take a l

[2021-01-21 14:04] #1373 closed

[2021-01-21 14:07] Ubuntu-2020 opened #1382 "The Contents table at the top of each Wikipedia article"
At the top of each Wikipedia article there is a small table of **Contents**.
And in Kiwix there is no small table of **Contents**.
However, I noticed that earlier in Kiwix there was such a table of **Contents**. Here is a **[picture for an example](https://commons.wikimedia.org/wiki/File:Emmabuntus-2-12.04-Kiwix-en.png)**:
![Emmabuntus-2-12 04-Kiwix-en](https://user-images.githubusercontent.com/65

[2021-01-21 14:12] kelson42 commented on #1382
Duplicate of #596

[2021-01-21 14:12] #1382 closed

[2021-01-21 14:13] kelson42 commented on #1381
@Ubuntu-2020 I know all of that. Things are moving. You can put comments on closed tickets.

[2021-01-21 14:13] #1381 closed

[2021-01-21 17:24] nerkla commented on #1380
I am also having issues when trying to get mwoffliner to complete this website:

https://fireemblemwiki.org/

We are using a docker image to run mwoffliner on a digitalocean
instance. For the past week, we have tried to get it complete the job
but can't get it to finish. The farthest that it has gotten is ~25% or
so before it terminates.

The command that we are using is:

[code]

[2021-01-21 17:45] nerkla opened #1383 "mwoffliner won't complete entire mediawiki site before ending"
I am having issues when trying to get mwoffliner to complete this website:

https://fireemblemwiki.org/

We are using a docker image to run mwoffliner. For the past week, we have tried to get it complete the job
but can't get it to finish. The farthest that it has gotten is ~25% or
so before it terminates. It is a mediawiki site.

The command that we are using is:

[code]

Any help would be very m

[2021-01-22 07:34] kelson42 commented on #1383
The backend is too slow, we have achieved a first pass at https://farm.openzim.org/pipeline/d7f596c3d2f2423f135c9006

[2021-01-22 07:34] #1383 closed

[2021-01-22 14:12] nerkla commented on #1383
Hi Kelson,

I appreciate you guys helping. It looks like the ZIM file did in fact complete, but I have a bit of an issue. When I went to test the ZIM file in our app, only the search function seems to work - the articles themselves
won't load up at all. They just continue to load indefinitely. Upon further investigation, any chance that it could be the way the ZIM was compiled (maybe not being com

[2021-01-22 14:16] nerkla opened #1384 "ZIM file compatibility issues?"
Hi there,

I appreciate you guys helping. It looks like the ZIM file did in fact succeed on the zim farm (https://farm.openzim.org/pipeline/d7f596c3d2f2423f135c9006), but I have a bit of an issue. When I went to test the ZIM file in our app, only the search function seems to work - the articles themselves
won't load up at all. They just continue to load indefinitely. Upon further investigation, an

[2021-01-22 14:38] kelson42 commented on #1384
It is difficult to answer you. The ZIM file being OK, I guess your code is not OK, but I'm not in charge of that code? You should ask the creator of your reader. But "yes" you should probably check that your reader supports the new file encoded using zstd.

[2021-01-22 14:38] #1384 closed

[2021-01-22 14:47] nerkla commented on #1384
Is it possible to please try regenerating the ZIM file without the --zstd flag?

[2021-01-22 14:57] kelson42 commented on #1384
We don't really want to generate new ZIM files using lzma compression, but you can do one yourself or update the reader.

[2021-01-22 15:03] nerkla commented on #1384
I see, well thank you again for your help Kelson. Really appreciate you taking the time.

[2021-01-24 11:08] Ubuntu-2020 opened #1386 "The number of articles is less than it should be"
**wikipedia_ru_all_maxi_2021-01.zim**
There are **1 636 223** articles in this ZIM file:
![wiki-kiwix-zim](https://user-images.githubusercontent.com/65112331/105628169-fe778e80-5e43-11eb-9b10-b92f1f6b9d0c.png)

And there should be [**1 693 088** articles](https://ru.m.wikipedia.org/wiki/Заглавная_страница)!
**56 865** articles are missing.
I think it started at the end of last year when ZIM files

[2021-01-24 12:12] kelson42 commented on #1386
The way how articles are counted are pretty different, see https://www.mediawiki.org/wiki/Manual:Article_count. On our side, we count all contents with text/html mimetype, but not redirects. This probably explains the differences. I will make a few additional checks.

[2021-01-25 10:49] kelson42 commented on #1386
The scraper reports `A total of [1689371] articles has been found in namespace [0]`. So it looks like that it should have indgested that amount of articles... The counter value is coherent with a similar value `text/html=1689303` at http://library.kiwix.org/wikipedia_ru_all_maxi/M/Counter (Looks like around 50 articles have not been scraped for some reason... maybe deleted in the meantime).

So al

[2021-01-25 10:49] #1386 closed

[2021-01-25 16:06] steph-nb opened #1387 "ERR wrong number of arguments for 'hmget' command"
Hi,

when running this command:
mwoffliner --verbose --keepEmptyParagraphs --outputDirectory ./downloads/ --articleList=https://de.wikipedia.org/wiki/Bodensee --mwUrl="https://de.wikipedia.org" --adminEmail=test@test.com

I get ERR wrong number of arguments for 'hmget' command

Many thanks in advance and BR,
Stephan

PS: Here some more log

%3C%2Fdiv%3E%3C%2Fdiv%3E%7C%3Cp%3EDie%20jahreszeitlich%20

[2021-01-25 16:37] kelson42 commented on #1387
At least, articleList is not an article list.

[2021-01-25 19:40] kelson42 opened #1388 "Remove test/percy.js"
As far as I know this is not used, deprecated and buggy. All the dependences should be removed as well.

[2021-01-26 07:28] steph-nb commented on #1387
How would an articleList then look like?
Is the usage as indicated on this page not correct?
https://www.gitmemory.com/issue/openzim/mwoffliner/657/479797656

[2021-01-26 07:32] steph-nb commented on #1387
OK, got it, this one works:
mwoffliner --verbose --keepEmptyParagraphs --outputDirectory ./downloads/ --articleList=./articleList.txt --mwUrl="https://de.wikipedia.org" --adminEmail=test@test.com

Therefore I close the issue.
Thx a lot!

[2021-01-28 09:41] #1388 closed

[2021-01-28 10:00] kelson42 commented on #1278
Fixed, but we don't know why.

[2021-01-30 10:30] MananJethwani commented on #1371
@kelson42 it doesn't render properely because not all modules required in the page are being downloaded api.php is probably depriciated.

[2021-01-30 10:34] kelson42 commented on #1371
@MananJethwani Its not deprecated as far as I know, wee need to download the mathjax module. Here (again) it should have happened automatically as this is for surce a resourceLoader dependence of the page.

[2021-01-30 12:10] MananJethwani opened #1391 "Incomplete module list fetched"
right now the method we use to fetch module list is using api.php making a link something like like this -> `${this.apiUrl.href}action=parse&format=json&prop=${encodeURI('modules|jsconfigvars|headhtml')}&page=<articleId>`

the list of modules is stored at 2 places one in a list named `modules` and another in `head -> script -> RLPAGEMODULES` ( RLPAGEMODULES is used by startup.js to get the
module

[2021-01-31 11:56] Ubuntu-2020 opened #1392 "The picture {{Graph:Chart}} is not visible"
Russian article: **[Suicide in Japan](https://ru.wikipedia.org/wiki/Самоубийства_в_Японии)**.
At the very top there is a picture `{{image {{Graph:Chart}} }}`
But neither in ***. appimage** Kiwix nor in the **browser extension**, this image is not visible:
![Suicide in Japan-kiwix](https://user-images.githubusercontent.com/65112331/106382850-e915dd80-63ca-11eb-935d-bebb53d0f4ee.gif)

And in Wikiped

[2021-01-31 12:06] kelson42 commented on #1392
We will have a look, should be easy to understand what goes wrong.

[2021-01-31 14:22] kelson42 commented on #1391
@krinkle Our offline version of the resourceLoader seems to failt (at least) because of this problem. Do you know an API call to get the complete list of the resourceLoaders modules (like in `RLPAGEMODULES`)... or should we parse the HTML directly to get that list?

[2021-02-01 02:06] Krinkle commented on #1391
@kelson42

I think your current method is what I'd recommend as well, and should provide for the proper rendering of content. I'd advise against parsing HTML for this as it would provide unneeded and incompatible styles, and as unstable/unsupported method, it might break without notice or viable alternative.

If things seem to work okay today, then there is probably nothing you need to change. Are

[2021-02-01 02:07] Krinkle commented on #1391
@kelson42

I think your current method is what I'd recommend as well, and should provide for the proper rendering of content. I'd advise against parsing HTML for this as it would provide unneeded and incompatible styles, and as unstable/unsupported method, it might break without notice or viable alternative.

If things seem to work okay today, then there is probably nothing you need to change. Are

[2021-02-01 09:13] #1372 closed

[2021-02-02 03:48] senayuki opened #1394 "TypeError: Cannot set property 'extsrc' of undefined"
{"name":"mwoffliner","hostname":"e2bb2f0818ff","pid":13,"level":30,"logType":"info","wiki":"wiki$0","title":"碧蓝航线:绊爱·ELEGANT","oldId":4507574,"reqId":null,"userAgent":"service-mobileapp-node","msg":"redirecting to revision 4507574 for html","longMsg":"redirecting to revision\n4507574\nfor\nhtml","levelPath":"info","time":"2021-02-02T04:44:54.625Z","v":0}
{"name":"mwoffliner","hostname":"e2bb2f0818

[2021-02-04 11:37] kelson42 commented on #1391
@Krinkle Thank you for extended explanation. The overall situation is that we have at least a dozen of bugs related to a buggy resourceLoader offline emulation. This is not a new situation and for sure 2/3 developers have lost hairs on this problem in the past.

Currently @MananJethwani tries to make progress on this and I have recommended to him to split this big problem in smaller ones. He has w

[2021-02-04 12:53] MananJethwani commented on #1394
@senayuki can you point out any particular article or point where this error occurred.

[2021-02-04 13:27] MananJethwani commented on #1394
@kelson42 the backend seems to be a bit slow and sometimes return 504 error while fetching articles but other than that some modules are not present like `site` or `mediawki.page.galery` maybe because of a different skin or because the configuration doesn't have anything written for `--mwWikiPath=`

[2021-02-05 12:28] kelson42 commented on #1363
The problem is the conf, it should have been `https://dicoado.org/`. Because we use local Parsoid the API is not tested properly.

[2021-02-05 12:47] #1363 closed

[2021-02-05 19:44] Popolechien commented on #1376
Looks fixed now:  [тезаурус ](https://library.kiwix.org/wiktionary_ru_all_maxi_2021-01/A/%D1%82%D0%B5%D0%B7%D0%B0%D1%83%D1%80%D1%83%D1%81). Closing ticket.

[2021-02-05 19:44] #1376 closed

[2021-02-06 15:58] kelson42 commented on #917
We had here two bugs, our part has been fixed, but the upstream ine is still there.

[2021-02-06 20:46] archenemies opened #1397 "Wiktionary/Wikivoyage zim databases lag website by five months"
I have a Wikitionary Zim file from December 2020, which I downloaded using the GUI kiwix-desktop interface (2020-12-10; "Pictures, Fulltext index"; 5.65 GB).

This works great for me but I'm not sure how to figure out which Wiktionary it is based on.

It lacks changes to Wiktionary made in August 2020, although it contains changes from May 2020.

Where can I find out which Wiktionary dump a Zim fi

[2021-02-07 09:07] kelson42 commented on #1397
@archenemies BTW, revision id, like revision date are available in the upstream link in the foorter of each article.

[2021-02-07 17:25] archenemies commented on #1397
That's interesting about the upstream link in the footer, well ["rocker"](http://localhost:8080/wiktionary_en_all_maxi_2020-12/A/rocker) has the wrong link

<https://en.wiktionary.org/wiki/?title=rocker&oldid=61038509>

because it points to a revision from 4 November 2020 with the "breve below" sense #4 filled in, but the page that Kiwix serves me lacks that sense.

[2021-02-10 12:05] MananJethwani opened #1398 "mediawiki.base not loading"
@kelson42 even after correcting the base modules list, `mediawiki.base.js` is not loading. The main reason being, it consists of 3 different modules in a single file which are implemented all together by a function `mw.loader.implement()` and that function checks for the state of the module before unpacking the modules and executing them but, state of the modules is not set to any of the acceptabl

[2021-02-10 12:48] kelson42 commented on #1397
It looks like to be a bug in the Wikimedia REST API because it simply does not deliver the latest version (like you reported). See: https://en.wiktionary.org/api/rest_v1/page/mobile-sections/rocker. This is the root of the bug.

On the `mwoffliner` side, there is a weakness which is that we don't request a specific revisionid, but just take the latest. If we would retrieve https://en.wiktionary.or

[2021-02-10 13:09] kelson42 commented on #1397
A bug ticket has been open upstream at https://phabricator.wikimedia.org/T274359

[2021-02-10 13:24] kelson42 commented on #1397
@MananJethwani Here again this is "complicated" to change due to the architecture.

[2021-02-10 18:03] archenemies commented on #1397
@kelson42 Thank you so much for tracking that down and re-reporting the bug

[2021-02-13 08:10] archenemies commented on #1382
What does this have to do with JavaScript? I use a JavaScript-less text browser to view Kiwix and Wiktionary, and I too have noticed the same issue: the Kiwix version lacks a table of contents.

Sometimes the table of contents is really necessary...

[2021-02-13 08:13] kelson42 commented on #1382
There is no plan for the moment to provide a TOC for js-less browsers.

[2021-02-13 09:14] archenemies commented on #1382
@kelson42 That's interesting, why is Kiwix using JavaScript, when Wiktionary shows the contents in HTML?

[2021-02-13 09:54] kelson42 commented on #1382
First of all wikipedia does not always show the TOC AFAIK (on mobile?) then we have the Kiwix apps which want a better control over the content (like the TOC in a non HTML fashion).

[2021-02-13 10:34] archenemies commented on #1382
Thanks. I guess I'll submit a feature request to put that back.

[2021-02-13 10:57] archenemies opened #1401 "Feature request: support non-JavaScript HTML browsers"
I'm guessing that "Kiwix" is supposed to sound like "Quick" and it certainly lives up to this name, for me, since I can query it ten times faster than Wiktionary (20 milliseconds vs 200).

However, all of this efficiency is wiped out if I have to load the URL in Firefox (2000 ms).

I prefer to use w3m for browsing text-heavy documents such as Wiktionary and Wikipedia pages; some people prefer lynx

[2021-02-13 11:38] kelson42 commented on #1401
@archenemies How do you measure your 200 ms in Firefox?

[2021-02-13 13:08] archenemies commented on #1401
Not in Firefox... I hope I wasn't oversimplifying, 20-200 was measured with `wget` on the command-line, and 2000 was opening Firefox while counting to myself.

    $ time wget 'https://en.wiktionary.org/wiki/toll' -O /dev/null >& /dev/null
    wget 'https://en.wiktionary.org/wiki/toll' -O /dev/null >&/dev/null  0.11s user 0.01s system 56% cpu 0.202 total
    $ time wget 'http://localhost:8080/wikt

[2021-02-13 14:00] kelson42 commented on #1401
I'm not responsible of the browser UI. You have really simple browser alternatives to Firefox. You can easily run in fullscreen as well as with F11. Kiwix Desktop itself has a really simple UI.

Regarding the speed, if 200ms matters, then I guess that if you stop the js runtime of Firefox, you should get a similar speed of 400ms... I strongly believe as well that the page is visible before the 600

[2021-02-13 14:00] #1401 closed

[2021-02-13 20:06] archenemies commented on #1401
@kelson42 If I want to compile my own ZIM files with HTML TOC included, what is the last version of your software that can do that?

[2021-02-13 20:09] kelson42 commented on #1401
@archenemies No clue, honestly I can not remember that we had this feature in MWoffliner... maybe in a previous scraper.

[2021-02-18 18:46] Krinkle commented on #1391
@kelson42 Yes please, that seems like a genuine bug indeed. Sorry about that 🙂

[2021-02-19 12:29] dginev opened #1402 "Missing "alt" accessibility attributes from art-of-problem-solving"
Hi openzim folks,

I wanted to let you know that the "art-of-problem-solving" resource is missing the accessibility attributes on its formulas. The formulas there displayed via images, done with `<img class="latex">` tags.

On the live site each of those has an "alt" attribute that can be read by screen-reading software. Example page with some formulas at:
https://artofproblemsolving.com/wiki/inde

[2021-02-19 13:03] kelson42 commented on #1402
@dginev Thank you for your bug report. `alt` DOM attributes are important and should not and are not stripped out AFAIK. We need to understand now why they are not there. Probably because the alternative Wiki code parser (called Parsoid) we use, does not generate them.

[2021-02-19 13:06] kelson42 commented on #1402
Two similar issues:
* https://github.com/openzim/mwoffliner/issues/164
* https://github.com/openzim/mwoffliner/issues/114

[2021-02-25 08:54] erbap opened #1403 "Unexpected token < in JSON at position 0 on LDAP login"
Hi,

Our local mediawiki's are migrating to 1.35.0 (5280de9) with ldaps integration
LDAPProvider: 1.0.5 (a5cd785)
LDAPAuthentication2: 1.0.2 (771b91e)
LDAPAuthorization: 1.1.0 (e037664)

When I run:
[code]

I get the error:
[code]
I see that there is nothing between "<my domain>" and "action" in the line
[code]
Should there not be an "&" also?

[2021-02-25 08:55] erbap commented on #1403
I forget to mention the most important:
mwoffliner --version
1.11.3

cat /etc/os-release
NAME="Red Hat Enterprise Linux"
VERSION="8.3 (Ootpa)"

[2021-03-01 08:57] move[bot] opened #1404 "Full size image support"
*@sobaee commented on Feb 25, 2021, 4:51 AM UTC:*

Kiwix is compressing image files like wikipedia mobile website.

Yesterday I looked for this article (thoracodorsal nerve) in online wikipedia after I changed the setting to be desktop instead of mobile, and I discovered the difference.

The wikipedia desktop image is very much better than mobile wikipedia or kiwix files "zim"

Mobile version or k

[2021-03-01 08:57] move[bot] opened #1405 "This is still happening almost 2 year's later"
*@Destroyer5150 commented on Feb 15, 2021, 11:53 AM UTC:*

[![Screenshot_20210215-035211_Kiwix](https://user-images.githubusercontent.com/59759269/107943241-45d3d500-6f41-11eb-881e-33b69ddc541f.jpg)](https://user-images.githubusercontent.com/59759269/107943241-45d3d500-6f41-11eb-881e-33b69ddc541f.jpg)

*This issue was moved by [kelson42](https://github.com/kelson42) from [kiwix/overview#51](https:

[2021-03-01 16:47] sobaee commented on #1404
Why closed?

[2021-03-02 07:20] MananJethwani commented on #1404
@sobaee it isn't closed the issue was closed in kiwix/overview as it is moved to mwoffliner where it will be handled.

@kelson42 what do you suggest for this issue should we include another parameter for lossless quality conversion and no compression so that wiki files like medical wikipedia can have no compression or something else?

[2021-03-02 18:23] MananJethwani commented on #1405
@kelson42 this might be a duplicate of #1273

[2021-03-04 08:10] kelson42 commented on #1404
This feature is requested time to time. Probably we could scrape pictures in higher resolutions and let the user see the fullsize by clicking on a thumbnail. Not really a priority for me for the moment because this would make ZIM files significantly bigger and most users simply underestimate this problem.

[2021-03-04 08:57] kelson42 opened #1406 "Impossible to scrape a Mediawiki with a custom port"
Like here https://farm.openzim.org/recipes/imsma. The problem I believe is that the local Parsoid does not take care of the custom port.

See:
[code]

I believe with should probably just better populate the `uri` key with the URL returned by `Mediawiki.getApiQueryUrl()`.

[2021-03-04 09:09] MananJethwani commented on #1391
@Krinkle I found another module named `mediawiki.util` that is not appearing and is need to render page online should I open a ticket for that as well?

[2021-03-04 13:15] mgautierfr commented on #1368
The main issue here is that the path starts with a `/` and so the browser think it is a abosulute url.
We have to force the link to be relative either by encoding the leading `/` (`%2Fdev/null`) or prepend a `.` (`.//dev/null`)

[2021-03-04 14:11] kelson42 commented on #1368
@mgautierfr Nice hack proposal.

[2021-03-04 14:45] sobaee commented on #1404
Hi @kelson42

May be you could add this bigger file to  for english medical wikipedia only in the name of for example "Wikipedia medicine full!!"

Or if you will not intend to do it right now, you may do this favor for me and send the producted ZIM file to me please 🙏

[2021-03-04 18:28] sobaee commented on #1404
Iam a beginner
I couldn't find any separated site for medical wikipedia to try to download it as a whole site to use it offline (just separated articles someone find them when he search about each one separately)

 Me and million people around the world appreciate what you do to make it possible for them to use this great source in the places that the internet connection is hard to be found or use

[2021-03-04 20:46] Jaifroid commented on #1404
@sobaee We're very happy that you're finding Kiwix useful. You know that what you propose would make very large file sizes. WikiMed English with images is already very large, and that is a problem especially for people who have basic Android mobiles, for example, with limited storage. So there is a balance here between overall file size and compression of images.

What might be possible, if you ne

[2021-03-04 21:15] sobaee commented on #1404
Hi @Jaifroid
I appreciate your quick response.

Thank you for making this clear, and I will be waiting for the feature that you mentioned to be included in the future when you developers decide to do, but at least please put this in the list of your priorities.

 Also, I would try to learn how your tool (mwoffliner) work, buy a good device to run linux and try to use it to accomplish this.

Thanks

[2021-03-04 21:25] Jaifroid commented on #1404
@sobaee Of course it's allowed! Like Wikipedia, this is an open-source project to which anyone can contribute, so long as they have or are willing to learn the skills needed to write good-quality code. Anyone can also clone (or fork) the repositories and work on features that interest them, or try different things out informally.

[2021-03-05 12:36] #1222 closed

[2021-03-05 13:32] MananJethwani commented on #1398
@kelson42 this should be closed as well, it was fixed with #1385

[2021-03-05 13:32] #1398 closed

[2021-03-06 12:16] Jaifroid opened #1408 "Some statistics and graphs not scraped in WikiMed"
Using the latest `wikipedia_en_medicine_app_maxi_2021-03.zim`, some graphs and statistics are not scraped. See article "COVID-19 in Sweden" (screenshot below), but almost every country page for COVID-19 shows the same problem with graphs. Screenshot below shows Sweden page with Kiwix JS rendering on left and Wikipedia Mobile on right. Using DevTools shows the information is simply missing.

![imag

[2021-03-06 12:26] Jaifroid commented on #1408
Further information: this is a relatively new bug because the graphs **are** shown in `wikipedia_en_medicine_maxi_2021-01.zim`:

![image](https://user-images.githubusercontent.com/4304337/110206649-e64d5300-7e76-11eb-9a0a-bf26e31caa71.png)

[2021-03-06 12:34] kelson42 commented on #1408
This is a known bug, see #1199 which is a kind of duplicate. These are Graphoid pictures. The problem is that beetwen the time the image is detected in an article and the time it is downloaded, usually the umage has disappeared. Looks like as well that Graphoid’ future is client side rendering in js. Not sure we should fix the bug right now.

[2021-03-11 09:59] MananJethwani opened #1409 "Older version or different skins of mediawiki have different modules (Unable to hack startup module)"
like in case of https://artofproblemsolving.com/wiki/ the content of startupscript is different most probably because of the older version or the different skin they use.
this causes a problem in resource loading as we hack a startup script considering the latest code in it and also the modules loaded for this version or skin is different newer version are using base modules `mediawiki.base and jq

[2021-03-11 12:27] MananJethwani commented on #1409
to solve #1402 we need to fix this first

[2021-03-11 12:28] MananJethwani commented on #1409
@kelson42 do you have anything in mind for what I should do?.....I have one suggestion we should use the mediawiki version to decide which modules to download and how to hack them

[2021-03-13 07:16] gajanangitte opened #1411 "Sharp module issue"
Hey, i recently tried to run mwoffliner using the src/cli.ts module. i have tried to run it using bash as well as using npm but the error related to sharp module remains.

/home/gajanan/Desktop/gsoc/kiwix/mwoffliner/node_modules/sharp/lib/constructor.js:34
  throw new Error(error);
        ^
Error:
Something went wrong installing the "sharp" module

Cannot find module '../build/Release/sharp.node'

[2021-03-13 07:19] gajanangitte commented on #1411
i had installed it using "npm ci" as well as using "npm i". same problem persists. also, the command "npm rebuild --verbose sharp" is not helping.

npm info it worked if it ends with ok
npm verb cli [
npm verb cli   '/usr/bin/node',
npm verb cli   '/usr/local/bin/npm',
npm verb cli   'rebuild',
npm verb cli   '--verbose',
npm verb cli   'sharp'
npm verb cli ]
npm info using npm@6.14.10
npm info us

[2021-03-13 07:32] MananJethwani commented on #1411
@gajanangitte can I know what are your machine details?

[2021-03-13 08:32] kelson42 commented on #1411
@gajanangitte I believe you shoukd try to install sharp separatly and if still fail open a ticket on sharp side.

[2021-03-13 08:49] gajanangitte commented on #1411
@MananJethwani I am using ubuntu 20.04
Intel(R) Core(TM) i5-9300H CPU @ 2.40GHz   2.40 GHz
8gbRam HP paviloin series

[2021-03-14 07:22] MananJethwani commented on #1411
@gajanangitte can you send me the exact commands you used to try to install mwoffliner, because when I tried it installed without any problem I have set up a VM to reproduce the problem.

[2021-03-14 07:51] gajanangitte commented on #1411
git clone *repo*
cd mwoffliner
npm ci
./node_modules/.bin/ts-node ./src/cli.ts --mwUrl=https://en.wikipedia.org --adminEmail=gajanansgitte07@gmail.com

i also tried using "npm start"

same result, updated all npm, nodejs, but to no avail. problem still persists. there was a similar issue raised but the solution which was provided then, isn't helping.

[2021-03-14 12:21] MananJethwani commented on #1411
can you please delete `node_modules`, `.cache`, `public`  and try these steps again....might be some node related error

also try to build it again using `node-gyp rebuild`

[2021-03-15 06:14] #1368 closed

[2021-03-15 06:21] kelson42 commented on #1409
@MananJethwani Which version are we talking about here? When this has been released?

[2021-03-15 06:23] kelson42 commented on #1405
@MananJethwani Yes it is

[2021-03-15 06:23] #1405 closed

[2021-03-15 06:25] kelson42 commented on #1403
@MananJethwani Do we have forgotten a question mark in the login URL?

[2021-03-15 08:39] MananJethwani commented on #1403
@kelson42 it's the `&` we have forgotten to place after `lgdomain`, `?` is always added in apiUrl.

[2021-03-15 11:02] kelson42 commented on #1403
Yes a &, not a ?

[2021-03-18 14:22] kelson42 commented on #62
Upstream ticket has been fixed https://phabricator.wikimedia.org/T199070. Waiting to see effect on production.

[2021-03-19 07:18] kelson42 commented on #62
@arlolra Indeed. Thx again for the fix

[2021-03-19 07:18] #62 closed

[2021-03-19 11:39] #1403 closed

[2021-03-19 11:40] kelson42 commented on #1411
No feedback from the reporter, is anyway not a problem in mwoffliner.

[2021-03-19 11:40] #1411 closed

[2021-03-20 06:38] kelson42 commented on #1033
@MananJethwani I believe this bug might be fixed now?

[2021-03-20 06:40] kelson42 commented on #1009
@MananJethwani I believe this might be fixed (with the fix about collapsing boxes) or do we have an other root cause?

[2021-03-20 06:46] MananJethwani commented on #1033
@kelson42 I will check and let you know

[2021-03-20 06:58] MananJethwani commented on #1033
@kelson42 this is not fixed looks like there is something else that's causing the problem

[2021-03-20 09:28] MananJethwani commented on #1033
@kelson42 this is again related to incomplete module list  #1391,
modules like `'ext.gadget.VisibilityToggles'` and `'ext.gadget.defaultVisibilityToggles'` needs to be included and other base modules namely `'jquery.cookie', 'mediawiki.storage', 'mediawiki.cookie'` needs to be added to `config.ts`

[2021-03-20 10:13] kelson42 commented on #1033
@MananJethwani Can you please exactly what is wrongkyndelivered by Mediawiki API so the upstream bug is clear?

[2021-03-20 13:27] MananJethwani commented on #1391
@Krinkle according to https://www.mediawiki.org/wiki/ResourceLoader/Developing_with_ResourceLoader#Base_environment
the base environment requires just 2 modules(mediawiki.base and jquery) and startup module but while trying to run [site.js](https://ru.wikipedia.org/w/load.php?lang=ru&modules=site&only=scripts&raw=1&skin=vector&debug=true) it says mw.util is not defined which seems to be defined at

[2021-03-20 13:41] MananJethwani commented on #1033
@kelson42 for the toggle button to appear Wiktionary is using `ext.gadget.VisibilityToggles` which itself depends on `ext.gadget.defaultVisibilityToggles` and parts of mw object from  `'jquery.cookie', 'mediawiki.storage', 'mediawiki.cookie'` which are not mentioned in the [module list](https://en.wiktionary.org/w/api.php?action=parse&format=json&prop=modules%7Cjsconfigvars%7Cheadhtml&page=wiki&us

[2021-03-21 18:34] kelson42 commented on #1371
One problem is that Mediawiki does not list the resourceLoader properly in the deps, see https://github.com/openzim/mwoffliner/issues/1391#issuecomment-773242914

[2021-03-21 18:38] kelson42 commented on #1371
@Krinkle I have finally create the upstream ticket at https://phabricator.wikimedia.org/T278061. Would you be able to fix it yourself?

[2021-03-24 09:58] erbap opened #1414 "TypeError: Cannot read property 'replace' of undefined"
I try to dump a local/public mediawiki 1.35 on a RHEL 8 server with mwoffliner 1.11.3 but get an error:

[code]

[2021-03-25 12:34] erbap commented on #1414
--mwRestApiPath=/rest.php/v1/page solves this error

[2021-03-25 12:34] #1414 closed

[2021-03-26 07:16] move[bot] opened #1416 "abnormal behaviour of links"
*@MananJethwani commented on Mar 25, 2021, 7:03 PM UTC:*

while trying to solve [openzim/mwoffliner#904](https://github.com/openzim/mwoffliner/issues/904) while writing a relative path from an article named `/dev/zero` to `/dev` the href was supposed to be `..` but using it the site moves from `/dev/zero` to `/` that's 2 level up. here is some proof ->

[![Screenshot from 2021-03-25 01-32-59](http

[2021-03-26 07:22] MananJethwani commented on #1416
@kelson42 sorry for that just corrected the zim file

[2021-03-26 07:51] kelson42 commented on #1402
This is an old upstream bug https://github.com/openzim/mwoffliner/issues/1402 and this ticket is a duplicate of #164. We had closed #164 because the previous reporter was happy with the workaround... but the bug is still there.

[2021-03-26 08:17] kelson42 commented on #1416
@MananJethwani This is still wrong

[2021-03-26 09:13] kelson42 opened #1418 "Score Extension images are not handled properly"
Notes are handled properly at:
https://af.wikiquote.org/api/rest_v1/page/html/Johann_Sebastian_Bach

but not at:
http://library.kiwix.org/wikiquote_af_all_maxi/A/Johann_Sebastian_Bach

[2021-03-26 09:26] veloman-yunkan commented on #1416
This issue may be caused by the presence of a slash in the article name. `/dev/zero` is considered as a single article name rather than a path consisting of multiple components. Such a problem [has been observed before](https://github.com/openzim/zim-tools/issues/151#issuecomment-678352432), but we haven't designed an approach to deal with it.

[2021-03-26 11:19] kelson42 opened #1419 "Unable to scrape wiktionary CHR any more"
https://farm.openzim.org/recipes/wiktionary_chr

Seems to be a 1.11.4 regression

[2021-03-26 17:49] MananJethwani commented on #1419
@kelson42 this is a problem in the article list we receive, the article which makes it fail is `incarner` you won't be able to find it as it was deleted look [here](https://chr.wiktionary.org/wiki/incarner).
I found another one similar to this name `fiore`

[2021-03-26 17:56] dginev commented on #1402
Thanks for tracking this down @kelson42 ! I am indeed one user that truly needs this if I am to rely on the kiwix sources. For art-of-problem-solving I have moved forward by freshly crawling and download it myself, and then working with the public HTML pages. Luckily it is relatively small. But it would have been so much better if I could assume all kiwix-distributed resources will have the access

[2021-03-26 18:02] kelson42 commented on #1419
The article list comes from Mediawiki, so what is exactly the problem? Why do we get an article in the namespace which does not exist?

[2021-03-26 19:02] MananJethwani opened #1421 "Article titles not visible in wikiquote zim file"
article title are not available in the latest zim file for wikiqutoe
http://library.kiwix.org/wikiquote_af_all_maxi/A/Sarel_Cilliers

[2021-03-27 09:31] kelson42 commented on #1421
@MananJethwani can you please share a fix or an analysis for that one?

[2021-03-27 09:34] kelson42 commented on #1421
This is not a MWoffliner 1.11.4 regression and I suspect this is a direct consequence of the usual problem that we don't know if we deal with json or html....

[2021-03-27 09:35] kelson42 commented on #1416
@MananJethwani what is the command line to reproduce the problem?

[2021-03-27 09:40] MananJethwani commented on #1416
@kelson42 I shared it on slack.....sorry I forgot to post it here as well here it is ->
I have pushed my code in a branch named `issue/904` so that you can reproduce the error and the command is pretty simple
`npm start -- --adminEmail="mananjethwani02@gmail.com" --mwUrl="https://en.wikipedia.org" --articleList="mwo-test-10.tsv"`
and article list consist of
[code]

[2021-03-27 09:41] MananJethwani commented on #1421
@kelson42 I suppose that's the case but I will make a deeper analysis soon

[2021-03-27 15:08] kelson42 commented on #1408
@MananJethwani Graphoid has been decomisioned in january 2021 so now the question is only, is the resourceLoader js module loaded properly?

[2021-03-27 15:10] MananJethwani commented on #1421
@kelson42 you were right this is because Wikiquote uses desktop rest API so this is a copy of #1325

[2021-03-27 15:11] #1421 closed

[2021-03-27 15:28] #1418 closed

[2021-03-27 20:43] Krinkle commented on #1391
@MananJethwani

When developers write JavaScript modules for MediaWiki, the "base modules" are the modules that they cannot (and need not) declare dependencies on, because they are the base environment. This is not about what consumers of wiki content need to do, and is not something you have to worry about. The internal names of these modules have indeed changed over the years, but it is not thei

[2021-03-29 09:15] MananJethwani opened #1424 "Wikimedia REST API returns sporadicaly a HTTP 413 error"
look at https://farm.openzim.org/pipeline/5f374943c46928031faaf506/debug
while fetching articles using URL like [this](https://hi.wikibooks.org/api/rest_v1/page/html/%E0%A4%B5%E0%A4%BF%E0%A4%95%E0%A4%BF%E0%A4%AA%E0%A5%81%E0%A4%B8%E0%A5%8D%E0%A4%A4%E0%A4%95%3A%E0%A4%9A%E0%A5%8C%E0%A4%AA%E0%A4%BE%E0%A4%B2%2F%E0%A4%B8%E0%A4%AE%E0%A4%BE%E0%A4%9A%E0%A4%BE%E0%A4%B0) we are receiving 413 error @kelson42

[2021-03-29 16:05] MananJethwani commented on #1424
@kelson42 I asked someone on discord and they replied that it is an issue in mediawiki......also I couldn't find any arguments or query option I should add to avoid this error so I am opening a phabricator ticket for now is that fine with you?

[2021-03-29 16:12] MananJethwani commented on #1409
I am talking about the mediawiki version....if a page is using older mediawiki version the base modules are different look at this here https://farm.openzim.org/pipeline/08b73d234bcd752699fc1606/debug,
it fails because content of startup module is different and names of base module in this different startup module are different...so we should change our method and base modules depending on version

[2021-03-29 17:53] MananJethwani opened #1426 "fetching article fails with 400 status code"
have a look at https://farm.openzim.org/pipeline/c84d0fa92a4c21b9d25df506/debug
will investigate into it and let everyone know soon

[2021-03-30 13:01] kelson42 commented on #1424
I will have a look.

[2021-03-30 15:53] MananJethwani commented on #1426
@kelson42 can you try to re run scrapping this file once.....I can't complete the scrapping on my local machine it gives me a 503 error most probably due to slow internet speed and I fetched the whole article list by namespace and according to zimfile logs the article on which it fails `function_Object()_{_[native_code]_}` doesn't exist in the list maybe there was a issue and is now resolved pleas

[2021-04-03 19:33] MananJethwani commented on #1426
@kelson42 the issue is still there and it is because of an article named `constructor` this type of article when called like this
`normalized[page.title]` instead of referring to an article with name constructor refer to the actual constructor of an object.

[2021-04-04 10:43] MananJethwani commented on #1424
the same response here https://www.mediawiki.org/wiki/Topic:W657nwdmjt0cshfk

[2021-04-04 10:46] MananJethwani commented on #1416
@kelson42 according to @veloman-yunkan this is something that should be handled by `kiwix-serve` and `kiwix-lib`

[2021-04-04 13:40] kelson42 commented on #1416
@MananJethwani I close this ticket because this is not this bug does not occur on master. If you need help regarding a PR you are working on, please open a draft PR and ask there.

[2021-04-04 13:40] #1416 closed

[2021-04-04 14:31] Ubuntu-2020 opened #1428 "Incorrect image display in the Gallery"
Kiwix extension for FireFox.
If the word `thumb` is written in the **Photo Gallery**, then the image in the ZIM file is **[displayed with an error](http://library.kiwix.org/wikipedia_ru_all_maxi_2021-03/A/ТЭМ2)** (second picture):
![Error second image](https://user-images.githubusercontent.com/65112331/113511876-bc1cad00-956a-11eb-9d8b-2d9e5e0d299f.png)

And this is what the **[Gallery in Wikipedi

[2021-04-04 14:46] Ubuntu-2020 opened #1429 "Wikisource main page hangs dead in appimage"
I have an old **ZIM** file of **ru.wikisource.org**.
If I open it on ***.appimage** and I will click on any link on the main page, then ***.appimage** will hang dead.
But in the browser extension, everything is fine. If you open the same **Wikisource** file and click on any link on the main page, everything will be fine.
Can anyone open a **Wikisource** ZIM file in ***.appimage** and click on any

[2021-04-04 14:57] Ubuntu-2020 opened #1430 "Feature request : Search by the containing word in the browser extension"
Please add a **search for the containing word** to the browser extension.

Currently, it is not possible to search for the **containing word** in the browser extension:
![Kiwix-ext](https://user-images.githubusercontent.com/65112331/113512670-5cc09c00-956e-11eb-8ab0-767d6802ef02.png)

It will be good if you can implement a search for the **word containing**, for example, as in the **_library.kiwix

[2021-04-04 15:03] kelson42 commented on #1430
/move kiwix/kiwix-js

[2021-04-04 15:03] #1430 closed

[2021-04-04 15:04] kelson42 commented on #1429
/move kiwix/kiwix-desktop

[2021-04-04 15:04] #1429 closed

[2021-04-04 15:05] kelson42 commented on #1428
@MananJethwani A nice bug for you ;)

[2021-04-04 15:08] kelson42 commented on #1360
Looks like this has been fixed upstream, to be checked.

[2021-04-05 13:10] Ubuntu-2020 opened #1431 "jpg.webp and png.webp instead of jpg and png"
**At the end of last year**, something changed in the ZIM files.
If earlier it was possible to click on the image and save it, for example, **test.jpg** or **tests.png**, it is now when saving images, they are saved in the format **test.jpg.webp** or **tests.png.webp**.
Question: why **webp**?
I checked it in **wikipedia_en_computer_maxi_2021-03.zim** in ***.appimage 2.0.5**.

P.S.: ***.gif** earl

[2021-04-05 14:34] Ubuntu-2020 opened #1432 "Wikisource_ru - Categorytree error"
**Categorytree** in **Wikisource_ru** is not displayed correctly in Kiwix.
`{{#categorytree:Словарные статьи Владимира Владимировича Лермантова|mode=pages|depth=0}}`
Article about **[physicist in ru.wikisource](https://ru.wikisource.org/wiki/Владимир_Владимирович_Лермантов)**:
![wikisource-web](https://user-images.githubusercontent.com/65112331/113584863-19306580-9634-11eb-8a7c-44213c4d6d6b.gif)

[2021-04-05 15:06] Ubuntu-2020 opened #1433 "Feature request : button to view the source code of article"
It may be **Feature request** or **Question**?
Maybe you should add a **button** in ZIM files to view the **source code** of the page/article from Wiki?

[2021-04-05 15:07] MananJethwani commented on #1431
@Ubuntu-2020 this is no bug but a feature, webp format takes less storage space so now mwoffliner compresses jpeg and png to webp format

[2021-04-05 15:09] MananJethwani commented on #1432
Most probably a duplicate of #1360

[2021-04-05 15:44] kelson42 commented on #1431
...and it is still possible to save them.

[2021-04-05 15:45] #1431 closed

[2021-04-05 15:46] kelson42 commented on #1433
No, this is a feature for a reader maybe, but not for the ZIM file itself. You can do that with your browser ifnyou use Kiwix Serve.

[2021-04-05 15:46] #1433 closed

[2021-04-05 15:47] #1432 closed

[2021-04-05 21:00] MananJethwani commented on #1428
will start working on it soon

[2021-04-05 22:20] MananJethwani commented on #1360
@kelson42 the bug still exist
![Screenshot from 2021-04-06 03-50-03](https://user-images.githubusercontent.com/50267986/113633795-393f4380-968b-11eb-912f-cb448e5cea79.png)

[2021-04-06 08:13] MananJethwani commented on #1360
@kelson42 this is a sort of question only but won't this bug persist until the ru Wikipedia upgrades their mediawiki version to latest?

[2021-04-06 08:20] kelson42 commented on #1360
@MananJethwani Yes, not sure about that timeline.

[2021-04-09 07:09] Jaifroid opened #1435 "Navigation boxes incorrectly displayed in mobile view"
Assuming that the standard view of pages scraped by mwoffliner should replicate as closely as possible the "mobile" view of Wikipedia, navigation boxes which should be invisible are now being displayed and inserted in strange locations in recent Wikipedia ZIMs.

Image below shows a side-by-side comparison of an article from `wikipedia_en_medicine-app_maxi_2021-04` and the equivalent page from the

[2021-04-10 09:44] zkosk opened #1436 "Some table not displayed?"
In the article "Agriculture", search "Top agricultural products, by crop types" there is a gray box, guess to be a table, but it have no contents.

[2021-04-10 10:41] zkosk opened #1437 "Some page's main content contains externel links"
In the article "No-till_farming", the main picture is not displayed, and there are some failed external link during the loading process:

https://upload.wikimedia.org/wikipedia/commons/2/23/Icons-mini-file_acrobat.gif
https://upload.wikimedia.org/wikipedia/commons/6/65/Lock-green.svg
https://upload.wikimedia.org/wikipedia/commons/d/d6/Lock-gray-alt-2.svg
http://127.0.0.1:8181/wikipedia_en_all_maxi

[2021-04-10 10:57] zkosk opened #1438 "Selecting text in a section title cause the section to collapse"
When selecting some text in the title of a section, the selecting action also trigger a click event which collapse the section. Not sure whether the online version behave like this, but selecting text in some section title should not trigger the click event on the title.

This should be a problem of kiwix-serve, not the off liner.

[2021-04-10 13:52] kelson42 commented on #1438
@zkosk I can not confirm this behaviour with Kiwix serve. For example http://library.kiwix.org/wikipedia_en_all_maxi/A/Dance with Firefox. What reader do you use?

[2021-04-10 13:57] kelson42 commented on #1437
Duplicate of #1280

[2021-04-10 13:57] #1437 closed

[2021-04-10 15:05] kelson42 opened #1439 "Improve fault tolerance if slight errors in --articleList"
Having the following list of articles:
[code]

Scraping it:
[code]

We remark the the welcome page list miss the article "Research Unix"... but the article is in the ZIM.

The reason is the space beetween "Research" and "Unix".

What happens is that Wikipedia Mediawiki is configured to replace automatically the space with an underscore (but this is not always configured that way). Therefore it scr

[2021-04-10 15:06] kelson42 commented on #1439
@MananJethwani I have discovered this by working on #1434 (but the problem has always existed and was somehow known to me). Now that we have fixed most of the problems related to the --articleList (in particular around the redirect handling). Maybe we could have a look to this one?

[2021-04-10 17:02] kelson42 commented on #1424
@MananJethwani The onky question is where is the phabricator ticket.

[2021-04-11 07:35] #1419 closed

[2021-04-11 13:53] Ubuntu-2020 commented on #1436
The **[same problem](https://github.com/openzim/mwoffliner/issues/1222)** (_closed_).
**wikipedia_ru_all_maxi_2021-01.zim**
The headings are still displayed instead of the table!

[2021-04-11 14:04] kelson42 commented on #1436
Then it should be fixed automatically in the next WPEN ZIM file.

[2021-04-11 15:04] tim-moody opened #1440 "question re: anecdote on mdwiki"
I am recording this in case it is relevant.

https://github.com/openzim/mwoffliner/blob/d98d04b46abab217831f72b3ae5e53777a988040/src/Downloader.ts#L145

looks like retry logic. I added 503 to the list of status codes and ran mwoffliner against mdwiki.

Nothing broke and it ran to completion, whereas it had failed before often timing out on some articles. (I admit not all timeouts come back as bad

[2021-04-12 06:18] kelson42 commented on #1440
@tim-moody If you add `503` to the list of code `400, 403, 404` then it just pass through. Which means there was an error in the Mediawiki backend, the rendering is not proper but this is tolerated by MWoffliner. But the ZIM is broken and this is just a matter of time before someone remarks it and opens a bug. This is I believe exactly what I have explained in #1372.

[2021-04-12 06:18] #1440 closed

[2021-04-12 12:49] tim-moody commented on #1440
@kelson42 Yes, this is similar to a previous issue. The reason I have raised it again is that according to the hosting company articles that timeout and fail will likely succeed on retry as the hosting server will have loaded its cache and not timeout.

Are you saying I have not understood the app and that it will not retry when it encounters one of the codes listed?

[2021-04-12 15:44] kelson42 commented on #1440
@tim-moody yes, @MananJethwani you confirm?

[2021-04-12 17:01] move[bot] opened #1441 "Redirects not coming through in ZIM"
*@WikiDocJames commented on Apr 12, 2021, 4:39 PM UTC:*

This ZIM of MDWiki [https://farm.openzim.org/pipeline/682586205781ec2ba50e1006](https://farm.openzim.org/pipeline/682586205781ec2ba50e1006)

Does not contain redirects such as "Podagra" despite such redirects being present in the Wiki

[https://mdwiki.org/w/index.php?title=Podagra&redirect=no](https://mdwiki.org/w/index.php?title=Podagra&red

[2021-04-13 16:11] tim-moody commented on #1441
We observed that https://farm.openzim.org/recipes/wikipedia_en_medicine produces a zim in which Toradol redirects to Ketorolac, but https://farm.openzim.org/recipes/mdwiki/config does not.

One difference is that wp med drives off a list and mdwiki drives off the whole mediawiki instance.

If I create a list.tsv containing only Toradol and Ketorolac and run against mdwiki the resultant zim has the

[2021-04-13 16:18] tim-moody commented on #1441
In case it matters the pages are slightly different, though the redirect instruction is supposed to be case insensitive.

EN WP:

[code]
mdwiki:

`#redirect [[Ketorolac]]`

[2021-04-13 18:12] tim-moody commented on #1441
I also notice that the query in mwoffliner that looks up all articles has gapfilterredir=nonredirects, which looks suspicious though I can't find documentation on it.

[2021-04-14 15:38] MananJethwani commented on #1439
@kelson42 sure we can start working on this issue as well in some time

[2021-04-14 15:41] MananJethwani commented on #1009
I suppose there is some other cause will start looking into it

[2021-04-14 18:13] MananJethwani commented on #1440
@tim-moody please have a look closely that line goes something like `![400, 403, 404].includes(err.response?.status)` there is `!` which means it is already retrying for 503

[2021-04-14 19:00] tim-moody commented on #1440
@MananJethwani yes. you're right I got it backwards. sorry. I realized it after the ticket was closed, but didn't reply.

[2021-04-14 19:03] tim-moody commented on #1441
In case someone looks at this I found that removing gapfilterredir=nonredirects causes redirects to be read, but causes other problems.

[2021-04-15 12:00] MananJethwani commented on #1391
@kelson42 then according to our discussion on slack I will start using startup.js to load the base modules as they are different in different versions of mediawiki

[2021-04-15 12:14] MananJethwani commented on #1391
also if possible could you please open upstream tickets for all the modules that are not listed in the module list and should have been these are - `jquery.cookie`, `mediawiki.storage`,  `mediawiki.cookie`, `mw.util`, `ext.gadget.defaultVisiblityToggles`, `ext.gadget.VisibilityToggles`.

[2021-04-15 13:23] tim-moody opened #1442 "Question: Video Resolution"
Where the source has multiple video resolutions is it possible to specify which should be included in the zim? Does mwoffliner automatically select one? In this example the zim has the lowest resolution.

ORIGINAL:

[code]

Resultant ZIM

[code]

[2021-04-15 18:21] Krinkle commented on #1391
There is no problem with `jquery.cookie, mediawiki.storage, mediawiki.cookie, mw.util` as far as I can tell. These are indirect dependencies that will be taken care of automatically if you load something that needs them. They are never queued directly on a page, not for MW, not the API, and not for Kiwix. These will not appear in `RLPAGEMODULES` either.

There are many modules not related to any g

[2021-04-16 15:53] MananJethwani commented on #1428
@kelson42 this is because of different width and height of image at [Wikipedia](https://ru.wikipedia.org/wiki/%D0%A2%D0%AD%D0%9C2#%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B5%D1%8F), open the page source and search for `Tem2-215` observe that width is `120` but when we fetch the [mobile version](https://ru.wikipedia.org/api/rest_v1/page/mobile-sections/%D0%A2%D0%AD%D0%9C2) the same tag has a width 300 sam

[2021-04-16 16:47] MananJethwani commented on #1424
https://phabricator.wikimedia.org/T280381 opened a ticket

[2021-04-20 09:27] Popolechien opened #1444 "Unable to scrap fandom/wikia wiki"
[fd9cd](https://farm.openzim.org/pipeline/fd9cd3c65404da2e73c9e706) returns 404 error (not found).

Interestingly, though the URL input is `https://minecraft.fandom.com/de/wiki/Minecraft_Wiki` it crashed because it looked for `https://minecraft.fandom.com/de/wiki/Minecraft_Wiki/index.php`

[2021-04-22 09:51] Popolechien opened #1445 "OSM wiki repeatedly fails to run"
See https://farm.openzim.org/pipeline/0063040dac22ebc88de31806 and https://farm.openzim.org/pipeline/880246c69e91ffe9dc82f606

In both cases it seems to be an API error :
[code]

[2021-04-24 10:39] Ubuntu-2020 opened #1446 "Error if there is a slash / at the beginning of the article"
If you click on the word  **/bin** in the article [**Bin**](http://library.kiwix.org/wikipedia_ru_all_maxi_2021-03/A/Bin), you will see an error:
![bug](https://user-images.githubusercontent.com/65112331/115955815-ab27e180-a501-11eb-863f-5491d81dd79e.gif)

But **[this article](http://library.kiwix.org/wikipedia_ru_all_maxi_2021-03/A//bin)** is in the ZIM file!

The situation is similar with articl

[2021-04-24 10:56] Ubuntu-2020 commented on #1392
@kelson42 A similar situation with picture `{{Wikidata/Population}}` in article **[Idaho - Population](http://library.kiwix.org/wikipedia_ru_all_maxi_2021-03/A/Айдахо)**. The image is not visible:
![Bug](https://user-images.githubusercontent.com/65112331/115956241-66517a00-a504-11eb-86a6-dc1f7342850b.gif)

And in Wikipedia, this picture looks like this:
![In-Wiki-online](https://user-images.github

[2021-04-25 18:07] williamjshipman opened #1447 "Creating ZIM file from old MediaWiki server"
I have a very old MediaWiki server work from which I'd like to create a ZIM file for offline reading. The MediaWiki version is 1.16.0. I do realise that this is so old it is not even on the [MediaWiki release timeline](https://www.mediawiki.org/wiki/Version_lifecycle), but is it possible to use MWOffliner to create a ZIM file from this wiki? Here's what I've managed so far. I'm using the default d

[2021-04-25 18:09] kelson42 commented on #1447
@williamjshipman It is probably too old. We have a minimal Mediawiki version supported and we should print the appropriate message... not clear why you don't get it here. @MananJethwani any idea?

[2021-04-26 08:32] kelson42 commented on #1446
Duplicate of #1368

[2021-04-26 08:32] #1446 closed

[2021-04-26 08:33] kelson42 commented on #1442
@tim-moody Like for pictures, MWoffliner picks the one which is displayed. @MananJethwani You confirm?

[2021-04-26 08:42] #1406 closed

[2021-04-26 11:00] MananJethwani commented on #1442
@kelson42 we sort and remove all but one sources, we only keep the one with the smallest width and height and use its resolution basically in that way we only keep the one with the lowest resolution which is right thing to do

[2021-04-26 11:09] MananJethwani commented on #1447
@kelson42 I need to have a look at the metadata URL to understand the core of this problem may be there is no key named generator present in the older version of MediaWiki in that case also we should fail. but, this is just an assumption I need a proper URL to understand the main problem.

[2021-04-26 11:23] kelson42 commented on #1447
@MananJethwani Does not really matter, minimum Mediawiki version is anyway 1.27, so this is a Mediawiki which is to old. @williamjshipman Update your Mediawiki and then this should be OK.

[2021-04-26 11:24] #1442 closed

[2021-04-26 11:25] MananJethwani commented on #1447
@kelson42 you are right but we should add a check that if mediawiki version is present under some other key we should fail. wouldn't that be the right thing to do?

[2021-04-26 11:26] kelson42 commented on #1447
@MananJethwani We fail... yes you are right. Would you be able to implement that quickly?

[2021-04-26 11:27] MananJethwani commented on #1447
yeah sure will make a pr.

[2021-04-26 11:43] kelson42 commented on #1428
@MananJethwani I don't have verified, but please open an upstream bug (an link it here), if the upstream HTML is broken.

[2021-04-26 11:44] kelson42 commented on #1360
Bug is now fixed in production. Closing.

[2021-04-26 11:44] #1360 closed

[2021-04-26 12:07] MananJethwani commented on #1428
@kelson42 done https://phabricator.wikimedia.org/T281125

[2021-04-26 14:30] #1447 closed

[2021-04-27 17:39] williamjshipman commented on #1447
Thanks. Not too surprised. I decided to give some older versions of MWOffliner a try, but no luck either. Oh well, will leave it for after I upgrade that server.

[2021-04-30 19:56] leanhdung1994 opened #1451 "Wrongly formatted element in zim file"
I'm using `wiktionary_en_all_maxi_2021-03.zim` . It seems there is an error with entry `-ation` .
![image](https://user-images.githubusercontent.com/28704090/116747879-d8dbc180-a9fe-11eb-9269-db0d4305ffb2.png)

[2021-05-01 05:04] kelson42 commented on #1451
Duplicate of #1360

[2021-05-01 05:04] #1451 closed

[2021-05-01 06:57] leanhdung1994 opened #1452 "The zim file is not up-to-date"
I'm using `wiktionary_en_all_maxi_2021-03.zim`. The entry `tease out` has only 2 items.
![image](https://user-images.githubusercontent.com/28704090/116774167-02c2d180-aa5b-11eb-80c6-e24989b229d7.png)
Whereas from the rest api link https://en.wiktionary.org/w/rest.php/v1/page/tease_out/html, it contains all 3 items.
![image](https://user-images.githubusercontent.com/28704090/116774183-26861780-aa5b

[2021-05-01 07:22] kelson42 commented on #1452
Duplicate of #1397

[2021-05-01 07:22] #1452 closed

[2021-05-01 15:22] kelson42 commented on #1424
@MananJethwani Thank you, to me this is really a bug on Wikimedia side. Would you be able please to verify if this very specific article is available in past ZIM? This would allow us to see if we face a regression.

[2021-05-02 04:38] kelson42 commented on #1426
@MananJethwani Trying to come back on this error, i have difficulties to understand how this explains the 400 error code and how this would fix this other case https://farm.openzim.org/pipeline/e7dc95196b3f34ea443eb806/debug

[2021-05-02 08:39] MananJethwani commented on #1426
@kelson42 if you look at the image attached below these are the logs for https://farm.openzim.org/pipeline/e7dc95196b3f34ea443eb806/debug in the case of Wiktionary there is no normalize section in article details we fetch, so the normalized array is empty, and hence when we try to find an article named `constructor` in `normalized` the array returns a function as by default all arrays are objects

[2021-05-02 08:58] move[bot] opened #1453 "Few WebP images are not displayed"
*@Popolechien commented on Mar 15, 2021, 10:06 AM UTC:*

User downloaded [the German Wikipedia, 12 March release](http://download.kiwix.org/zim/wikipedia/wikipedia_de_all_maxi_2021-03.zim). Some (but not all) images in the [Frankreich](http://library.kiwix.org/wikipedia_de_all_maxi_2021-03/A/Frankreich) or [Klima in Deutschland](http://library.kiwix.org/wikipedia_de_all_maxi_2021-03/A/Klima_in_Deu

[2021-05-02 08:59] kelson42 commented on #1453
We should find a browser and remove its wepb support and try to reproduce the problem.

[2021-05-02 09:19] kelson42 commented on #1426
@MananJethwani Where do you see we try to retrieve an article called `constructor` on hy.wiktionary.org`?

[2021-05-02 10:26] #1426 closed

[2021-05-02 10:35] kelson42 opened #1454 ""Error contacting the Parsoid/RESTBase server (HTTP 503)""
[code]

https://farm.openzim.org/pipeline/468cc304594c4cd7fcc4e806/debug

[2021-05-02 12:25] kelson42 opened #1455 "Wikipedia en basketball scrape dies"
https://farm.openzim.org/pipeline/filter-failed

[2021-05-02 12:26] kelson42 commented on #1455
@MananJethwani Any idea, this really looks like a regression

[2021-05-02 12:32] kelson42 opened #1456 "Cannot read property 'modules' of undefined"
Impossible to scrape a wikipedia_sv_all https://farm.openzim.org/pipeline/b8574557279057e525a50806/debug

[2021-05-02 12:32] kelson42 commented on #1456
@MananJethwani This is clearly a regression

[2021-05-02 20:01] MananJethwani commented on #1455
@kelson42 this is no regression but an upstream bug,
here the article which gave problem is `Campbell's Field` and the mobile API link which gave problem is [this](https://en.wikipedia.org/api/rest_v1/page/mobile-sections/Campbell's_Field) if you open the link and search for thumb and look at the first div tag with thumb class look at the style attribute under the width part the width written is `

[2021-05-02 20:04] kelson42 commented on #1455
@MananJethwani Thank for the analysis and opening a ticket on Phabricator. Please secure both tivkets are linked, both ways.

[2021-05-02 20:09] MananJethwani commented on #1455
here is the link to upstream ticket -> https://phabricator.wikimedia.org/T281652
 and I have added myself and @kelson42 as subscribers.

[2021-05-02 20:20] kelson42 commented on #1455
I believe the problem is in the source, not in the software. See https://en.wikipedia.org/w/index.php?title=Campbell%27s_Field&action=edit&section=5

[2021-05-02 20:32] MananJethwani commented on #1455
@kelson42 this is the broken part as you asked on slack `<div class="thumb tnone" style="margin-left:auto;margin-right:auto;overflow:hidden;width:Campbell's Field, Camden, New Jersey;max-width:1008px" about="#mwt144">`

[2021-05-02 20:33] kelson42 commented on #1455
@MananJethwani That should no make the js crashing, I don't understand it.

[2021-05-03 04:59] kelson42 commented on #1454
https://farm.openzim.org/pipeline/e38da5aaff2d244a81d3f806/debug

[2021-05-03 07:57] kelson42 commented on #1455
I have fixed the wiki code and we cross the finger this won't happen soon again https://en.wikipedia.org/w/index.php?title=Campbell%27s_Field&type=revision&diff=1021166597&oldid=1002968044

[2021-05-03 11:19] MananJethwani commented on #1455
@kelson42 looks like the bug still exist and if I see the response received now it is fine https://en.wikipedia.org/api/rest_v1/page/mobile-sections/Campbell's_Field
something is wrong on our side as well

[2021-05-03 15:24] MananJethwani commented on #1454
@kelson42 the problem is only reproducible when we fetch the whole Wiktionary, and 503 is for service unavailable I couldn't find any argument we could add to avoid this error and asking on discord I received a suggestion to make only one request per second.

here is the endpoint causing the problem -> https://ky.wiktionary.org/w/api.php?action=visualeditor&mobileformat=html&format=json&paction=pa

[2021-05-03 19:16] kelson42 commented on #1454
We should open a ticket upstream, we should not get 503 error code.

Why we use this and not the REST API?

[2021-05-04 09:53] MananJethwani commented on #1454
@kelson42 looks like the rest API was not detected as the main page we use to detect API had redirects, and we have added header `maxRedirects: 0`

[2021-05-04 09:56] kelson42 commented on #1454
ok, we should find a way to fix that

[2021-05-04 10:57] kelson42 commented on #1454
The interdiction of redirects was introduced to avoid us requesting agains the wrong domain name. I guess if we would allow redirect and check that what changes is only the article name. That would be an ecceptable solution... or do you have an other idea?

[2021-05-04 11:48] MananJethwani commented on #1454
this workaround is completely fine with me....will implement it shortly

[2021-05-05 06:16] kelson42 commented on #1455
It is ok now.

[2021-05-05 06:16] #1455 closed

[2021-05-05 08:38] #1454 closed

[2021-05-08 13:55] Popolechien opened #1459 "Links not working on Wikimed front page"
Weird issue here on [wikipedia_en_medicine](http://library.kiwix.org/wikipedia_en_medicine_maxi_2021-04) (but also Wikimed app in English 2020-11 build 6203070): frontpage link to Eye Disease does work (as well as Mental Health and Skin disease  on the app). The text appears in blue but is not clickable. No such issue [on the original page](https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Medic

[2021-05-08 16:00] kelson42 commented on #1459
Yes, I have seen this but the explanation is not obvious :(

[2021-05-08 17:01] kelson42 commented on #1453
@Jaifroid Sounds interesting. Might at least explain why we don't have seen the problem on desktop computers. Thank you! I guess we should probably do exactly the same. Do you have a link to point us to the relevant piece of code please?

[2021-05-08 17:10] Jaifroid commented on #1453
@kelson42 The queue, implemented as a self-calling function, is here:

https://github.com/kiwix/kiwix-js/blob/master/www/js/app.js#L1456

and the function that sends the image to the WebP machine (and which the above queue waits for the callback) is here:

https://github.com/kiwix/kiwix-js/blob/master/www/js/lib/uiUtil.js#L36 (see in particular the comment on line 51 there).

[2021-05-10 10:46] Popolechien opened #1461 "MWoffliner only picks up landing page"
I ran a [chabadpedia](https://farm.openzim.org/pipeline/0870e3084c6327bb4e7f8906) recipe which landed a zim file after a few minutes without apparent incident.

It appears however than none of the frontpage links (though they appear as hyperlink) is clickable, and that only that page was in fact scraped. Clicking on links leads to no apparent action, and the zim file is only 1.17 Mb. From the log,

[2021-05-11 13:55] kelson42 commented on #1461
@MananJethwani We ahould really have a look to this one as users get broken ZIM files.

[2021-05-12 09:47] MananJethwani commented on #1461
@kelson42 this is a regression caused by https://github.com/openzim/mwoffliner/pull/1443
 I looked into the URLs before this change and after it, I found they were exactly the same but strangely it passed without the change and failed with the change.

[2021-05-12 10:25] kelson42 commented on #1461
@MananJethwani I'm sure you will find out :)

[2021-05-12 16:34] Popolechien opened #1462 "Kochwiki returns "unable to hack startup module""
See last two runs : https://farm.openzim.org/recipes/kochwiki

[2021-05-13 10:13] MananJethwani commented on #1462
duplicate of #1409

[2021-05-13 10:34] #1462 closed

[2021-05-16 05:08] kelson42 opened #1464 "wikipedia_en_physics Does not scrape anymore because of “URI malformed”"
https://farm.openzim.org/pipeline/09921832a7608c8ca14df906/debug

[2021-05-16 19:24] #1461 closed

[2021-05-22 05:13] kelson42 opened #1468 "Request failed with status code 400"
For https://en.wikipedia.org/api/rest_v1/page/mobile-sections/I%25CC%2587znik

see https://farm.openzim.org/pipeline/7adfa713c4bff5e9ce378a06/debug

[2021-05-22 05:15] kelson42 commented on #1464
Other case at https://farm.openzim.org/pipeline/29fcf8dc6f111c1fee487a06/debug

[2021-05-23 19:24] move[bot] opened #1469 "English Wikipedia 2021-03: Articles (links) in Articles not clickable"
*@Inbefortus commented on May 18, 2021, 12:55 PM UTC:*

I am using Kiwix Android 3.4.3 on a Galaxy Tab S7 Plus. I noticed that in many articles some links to other articles are not clickable. I am using the latest English Wikipedia 2021-03 build.

Example:
[https://en.wikipedia.org/wiki/Outline_of_history#Ages_of_history](https://en.wikipedia.org/wiki/Outline_of_history#Ages_of_history)

Here is a